<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="main-content">
   <div class="breadcrumbs-container">
    <ul class="breadcrumb">
        <% if (breadcrumbs) { %>
            <% for (let crumbs of breadcrumbs) { %>
                <% let crubm_name = crumbs.name == 'ADMIN' ? 'Dashboard' : crumbs.name;
                 %>
                <li><a href="<%- crumbs.url %>"><%- crubm_name %></a></li>
            <% } %>
        <% } %>
    </ul>
  </div>
  <div class="card card-custom-border-curv card">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Elective Timetable</h3>
        <div>
                <button class="btn btn-danger" id="delete-timetable">Delete Timetable</button>
                <button type="button" class="btn btn-success me-2"  data-bs-target="#upload-elective-timetable-modal" data-bs-toggle="modal">Upload Elective Timetable</button>
                <button type="button" class="btn btn-danger ms-auto me-3"  id="fetch-elective-timetable">
                    <i class="fa-solid fa-rotate p-1"></i>Fetch Elective Timetable 
                </button>  
       </div> 
    </div>
 
    <div class="card-body table-responsive">
        <div class="d-flex justify-content-between">
            <div class="col-md-3 ms-5">
                <label class="form-label mb-1" for="timetable-acad-session">Select Acad Session:</label>
                <select class="form-select form-control select2" id="timetable-acad-session">
                    <option selected disabled>--Select Acad Session-- </option>
                     <%for(let acadSession of dropdownAcadSessionList) { %>
                        <option value="<%- acadSession.sap_acad_session_id %>"><%- acadSession.acad_session %></option>
                    <% } %>
                    
                </select>
            </div>
            <div class="col-md-3 ms-5">
                <label class="form-label mb-1" for="day-select">Select Day:</label>
                <select class="form-select form-control select2" id="day-select">
                    <option selected disabled>--Select Day--</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
            </div>
    
            <div class="table-searchbar-container d-flex align-item-center search-button-timetable">
                <button type="button">
                    <i class="fas fa-search"></i> 
                </button>
                <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar">
            </div>
        </div>
    
        <div class="card-body table-responsive">
            <div class="timetable-container">
            </div>
        </div>
    </div>
    



    <div class="modal" id="upload-elective-timetable-modal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
            <h5 class="modal-title">Upload Elective Timetable</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                    <div class="d-flex">
                    <label class="form-label me-3">Import Elective Timetable :</label>
                    <form enctype="multipart/form-data"   method="post" action="/admin/timetable/upload" id="upload-elective-timetable-form">
                    <input type="file" name="import-elective-timetable" id="import-elective-timetable" accept=".xlsx">
                    </div>
                    <div class="d-flex justify-content-between align-item-center mt-5">
                    <input type="submit" class="btn btn-success mt-2 d-none" id="upload-elective-timetable-button" value="Upload Elective Timetable"></input> 
                    </form> 
                
                <a href="/admin/timetable/generate-excel" download="sampleForImportTimetable.xlsx" name="sample-for-import-timetable" class="text-decoration-none align-self-end">Sample For Import Elective Timetable</a>
                </div>
            
            </div>
    
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        
        </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" data-bs-backdrop="static" id="timetable-delete-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete timetable</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">    
                       <label for="program-wise">Program:</label>
                       <input type="radio" class="delete-timetable" name="delete-timetable" id="program-wise"  data-id="1">
                    </div>
                    <div class="col-md-6">
                      <label for="program-acadsession-wise">Program Acad Session:</label>
                      <input type="radio" class="delete-timetable" name="delete-timetable" id="program-acadsession-wise" data-id="2">
                    </div>
                </div>
                <select class="form-select form-control select2 mt-4" id="program-name-filter" disabled>
                    <option selected>--Select Program--</option>
                   <% for(let program of programList) { %>
                    <option value="<%- program.id %>" data-delete="<%- program.program_id %>" ><%-program.program_name %></option>
                    <% } %>
                </select>

                <select class="form-select form-control select2 mt-4" id="session-filter" disabled>
                    <option selected>--Select Session--</option>
                </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="delete-timetable-modal">Delete Timetable</button>
            </div>
          </div>
        </div>
      </div>
<%- include('../partials/footer.ejs') %>
<script>
    $(document).ready(function(){
        let minMaxSlotId = JSON.parse(`<%-minMaxTimetableSlot%>`);
        let roomList = JSON.parse(`<%- roomList %>`);
        let timeJson = JSON.parse(`<%- timeSlotList%>`);

        setActiveMenuItem(`<%- active %>`)

        let roomslot = ``;
       
        let timetableProp = {
        totalSlots: minMaxSlotId.end_slot_lid - minMaxSlotId.start_slot_lid + 1,
        pxPerSlot: 13,
        roomNoWidth: 50,
      }
      for (let room of roomList) {
        roomslot += `<div class ="d-flex room "  data-room-no ="${room.room_no}">
                      <div class ="room-no" data-room-no = "${room.room_no}"> 
                            ${room.room_no}
                      </div>
                      <div class = "room-slots position-relative" data-room-no = "${room.room_no}">
                      </div>
                    </div>`
      }
      let timetable_width = (Number(minMaxSlotId.end_slot_lid) - Number(minMaxSlotId.start_slot_lid) + 1) * timetableProp.pxPerSlot;

      $('.timetable-container').html(roomslot);
      $(':root').css('--roomSlotWidth', timetable_width + 'px');
      $(':root').css('--timetableWidth', timetable_width + 56 + 'px');
    
      $('#day-select').on('change',function(){
        let dayValue = $(this).val();
        let acadSession = $('#timetable-acad-session').val();

      
        $('.room-slots').empty();
         
        let ApiObj = {
            url:'/admin/timetable/by-day',
            type:'POST',
            data:{
               id:dayValue,
               acadSessionId:acadSession 
            },
            dataType:'JSON'
        }
        ajaxApi(ApiObj).then(result =>{          
            addRoomSlotItemsToDOM(result.courseList, minMaxSlotId, timetableProp, timeJson);
    });
}); 
      $('#timetable-delete-modal').on('change','.delete-timetable',function(){
        let id = $(this).attr('data-id');
        if(id=='1'){
            $('#session-filter').addClass('d-none');
            $('#program-name-filter').removeAttr('disabled');
        }
        else{
            $('#session-filter').removeClass('d-none');
            $('#program-name-filter').removeAttr('disabled');
            $('#session-filter').removeAttr('disabled');
        }
    })
})
    $('#import-elective-timetable').on('change',function(){
        let electiveTimetable = $(this).val();
        if(electiveTimetable != ''){
            $('#upload-elective-timetable-button').removeClass('d-none');
        }
    })

    $('#program-name-filter').on('change', function() {
            let programId = $(this).val();
            
            if ($('input[name="delete-timetable"]:checked').data('id') == 2) {

            let ApiObj = {
                type: 'POST',
                url: '/admin/timetable-delete-modal/acadsession',
                data: {
                    programId: programId,
                },
                dataType: 'JSON'
            };
           

           
            ajaxApi(ApiObj)
                .then(result => {
                    let acadSession = `<option value="">--Select Acad Session--</option>`;
                    if (result.acadSessionList.length > 0) {
                        result.acadSessionList.forEach(element => {
                           acadSession  += `<option value="${element.id}">${element.acad_session}</option>`;
                        });
                       
                    } else {
                        acadSession += `<option value="">No Session Found!</option>`;
                    }

                    $("#session-filter").html(acadSession);
                })
                .catch(error => {
                    showError(JSON.stringify(error.responseJSON))
                });
                
            }else{
                $('#timetable-delete-modal #delete-timetable-modal').attr('data-timetable-delete',programId)
                $('#timetable-delete-modal #delete-timetable-modal').attr('data-timetable-radio','program');                
            }
        });

        $('#session-filter').on('change',function(){
            let sessionId = $(this).val();
            $('#timetable-delete-modal #delete-timetable-modal').attr('data-timetable-delete',sessionId);
            $('#timetable-delete-modal #delete-timetable-modal').attr('data-timetable-radio','programsession');
        })

        $('#delete-timetable-modal').on('click',function(){
            let deleteTimetableId = $(this).attr('data-timetable-delete');
            let deleteRadioButton = $(this).attr('data-timetable-radio');
            let ApiObj = {
                url:'/admin/timetable-delete-modal/delete',
                type:'POST',
                data:{
                  deleteTimetable:  deleteTimetableId,
                  deleteRadioButton:deleteRadioButton
                },
                dataType:'JSON'
            }
            ajaxApi(ApiObj).then(result =>{
                showSuccess(result);
            }).catch(error =>{
                showError(error);
            })
        })
    $('#upload-elective-timetable-form').on('submit',function(event){
        event.preventDefault();
        let formData = new FormData(this);

        $.ajax({
            type:'POST',
            url:'/admin/timetable/upload',
            data:formData,
            processData:false,
            contentType:false,
            success :function(response){
               showSuccess(response);
            },
            error:function(xhr,status,error){
                showError(JSON.stringify(xhr.responseJSON));
            }
        })
    })
    $('#delete-timetable').on('click',function(){
        $('#timetable-delete-modal').modal('show');
    })


    function createRoomSlotItem(course, minMaxSlotId, timetableProp, timeJson) {
            const widthOfEvent = (Number(course.end_slot_lid) - Number(course.start_slot_lid) + 1) * timetableProp.pxPerSlot;
            const leftsidemargin = (Number(course.start_slot_lid) - Number(minMaxSlotId.start_slot_lid)) * timetableProp.pxPerSlot;

            let roomSlotItem = document.createElement('div');

            roomSlotItem.setAttribute("class", "room-slot-item");
            roomSlotItem.setAttribute("data-program_name", `${course.program_name}`)
            roomSlotItem.setAttribute("data-left", `${leftsidemargin}`);
            roomSlotItem.setAttribute("data-acad-session", `${course.acad_session}`)
            roomSlotItem.setAttribute("data-course-name", `${course.course_name}`)
            roomSlotItem.setAttribute("data-division", `${course.division}`)
            roomSlotItem.setAttribute("data-batch", `${course.batch}`)
            roomSlotItem.setAttribute("data-faculty-name", `${course.faculty_name}`)
            roomSlotItem.setAttribute('data-start-time', `${timeJson[course.start_slot_lid - 1].start_time}`);
            roomSlotItem.setAttribute('data-end-time', `${timeJson[course.end_slot_lid - 1].end_time}`);
            roomSlotItem.setAttribute('data-faculty-type-abbr', `${course.faculty_type_abbr}`);
            roomSlotItem.setAttribute('data-start-lid',`${course.start_slot_lid}`);
            roomSlotItem.setAttribute('data-end-lid',`${course.end_slot_lid}`);
   
            roomSlotItem.setAttribute("style", `position:absolute;left: ${leftsidemargin}px ;top: 0; text-align:center; width:${widthOfEvent}px;height:100%;background-color:#ffffff;font-size:14px;padding:5px 2px 0px 2px;border-left:1px solid black;`)

            roomSlotItem.innerHTML =
                `<button type="button" class="close btn-close-custom d-none" aria-label="Close"></button>${course.program_name} - ${course.acad_session} <hr> ${course.course_name} <hr>${course.division}-${course.batch} <hr>${course.faculty_name} - (${course.faculty_type_abbr})<hr>
                <span class="badge bg-info start-time d-flex justify-content-center align-items-center">${timeJson[course.start_slot_lid - 1].start_time}</span>  
                <i class="fa-solid fa-arrows-left-right" style="right:${(widthOfEvent / 2) - 7}px;position:absolute;bottom:0;"></i><span class="badge bg-info end-time d-flex justify-content-center align-items-center">
                    ${timeJson[course.end_slot_lid - 1].end_time} </span>`;

            return roomSlotItem;
}

function addRoomSlotItemsToDOM(courseList, minMaxSlotId, timetableProp, timeJson) {
    courseList.forEach(function (course, index) {
        let room_slot = document.querySelector(`.room-slots[data-room-no = "${course.room_no}"]`);
        let roomSlotItem = createRoomSlotItem(course, minMaxSlotId, timetableProp, timeJson);
        room_slot.append(roomSlotItem);
    });
}



</script>
  
<%- include('../partials/footerEnd.ejs') %>