<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">

      <!--DASHBOARD CONTENT START-->
      <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>
 
    <%- include("../partials/session-menu")%>
  
    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Session dates</h5>
            </div>
            <div>
                <!-- <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal"
                    data-bs-target="#add-sessiondate-modal">
                    <i class="fas fa-plus"></i></button>
                <button class="btn ms-auto select-delete-sessiondate add-btn "><i class="fas fa-trash"></i></button> -->
                <!-- <button class="btn ms-auto bulk-delete-sessiondate add-btn "><img src="/icons/delete.png" alt=""
                        width="26px" height="32px"></button> -->
                        <a class="btn btn-danger" href="/admin/sessions/dates/download"><i
                            class="fas fa-download"></i> Download </a>
                <button class="btn btn-danger  fetchFromSAP"><i class="fa fa-download"></i> Fetch From SAP</button>
            </div>
        </div>

        <div class="card-body table-responsive">
            <div class="d-flex justify-content-between">
                <div>
                    <label>Show Entries</label>
                    <select class="form-select" id="changeEntry">
                        <%for(let page of locals.page_filter){%>
                           <option value="<%-page%>"><%-page%></option>
                        <%}%>
                    </select>
                </div>
                <div>
                    <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                        type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
                </div>
            </div>
            <table class="table custom_row table-bordered" id="sessionDateTable">
                <thead>
                    <th>Sr No.</th>
                    <th>Program Name</th>
                    <th>Acad session</th>
                    <th>Session type</th>
                    <th>Session start date</th>
                    <th>Session end date</th>
                    <!-- <th>Action</th> -->
                </thead>
                <tbody>
                    <% let count = 1 %>
                    <% for (let program of sessionDateList) { %> 
                    <tr>
                        <td><%- count++ %></td>
                        <td><%- program.program_name %></td>
                        <td><%- program.acad_session %></td>
                        <td><%- program.session_type %></td>
                        <td><%- program.startDate %></td>
                        <td><%- program.endDate %></td>
                        <!-- <td>
                            <i class="fas fa-edit text-dark cursor-pointer edit-session-date"
                                data-session-date-id="<%- program.id %>"></i>
                        </td> -->
                     
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                    </p>
                </div>
                <div>
                    <p id="pagination" class="pagination-search"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--ADD Modal -->
<div class="modal fade" id="add-sessiondate-modal" tabindex="-1" aria-labelledby="add-sessiondate-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content modal-inputform">
            <div class="modal-header modal-inputform-header">
                <h5 class="modal-title" id="add-session-date-modal-title">ADD SESSION DATE</h5>
                <button type="button" class="btn fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="errorHtml"></div>
                <input type="hidden" id="hidden_id">
                <div class="table-responsive ">
                    <table class="table table-bordered" id="sessionDateTableModal">
                        <thead>
                            <th>Program Acad session</th>
                            <th>Enter Session type</th>
                            <th>Enter Start Date</th>
                            <th>Enter End Date</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="modalSelect2 select2" name="program_session_lid" id="program_session_lid" required>
                                        <option  value="">--select--</option>
                                        <%for (let program of programSessions){%>
                                      <option value="<%- program.id %>"><%-program.program_name %>(<%-program.acad_session %>)</option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <select name="sessionType" id="sessionType" class="modalSelect2 select2" >
                                        <option value="" >--select--</option>
                                        <%for (let session of sessionTypes){%>
                                      <option value="<%- session.id %>"><%-session.name %></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <select name="startDate" id="startDate" class="modalSelect2 select2" >
                                        <option value="" >--select--</option>
                                        <%for (let slot of AcademicCalenderList){%>
                                      <option value="<%- slot.id %>"><%-slot.date %></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <select name="endtDate" id="endtDate" class="modalSelect2 select2" >
                                        <option value="" >--select--</option>
                                        <%for (let slot of AcademicCalenderList){%>
                                      <option value="<%- slot.id %>"><%-slot.date %></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-session-date"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div id="errorMsg"></div>
                <button type="button" class="btn btn-success  btn-sm" id="add-more-sessiondates"><i class="fas fa-plus"></i>Add More Fields</button>
                <button type="submit" class="btn  createSessionDate modal-inputform-btn">Create</button>
                <button type="submit" class="btn  updateSessionDate modal-inputform-btn d-none">Update</button>
            </div>
        </div>
    </div>
</div>


    <%- include("../partials/footer") %>
    
    <script>
        $(document).ready(function () {
        $('.modalSelect2').select2({ dropdownParent: $('#add-sessiondate-modal')});
       $('#add-more-sessiondates').on('click', function () {
        let lastTr = $('#sessionDateTableModal tbody tr:last-child')
        lastTr.find('.modalSelect2').select2('destroy');
        let program_session_lid = lastTr.find(`select[name="program_session_lid"]`).val();
        let sessionType = lastTr.find(`select[name="sessionType"]`).val();
        let startDate = lastTr.find(`select[name="startDate"]`).val();
        let endtDate = lastTr.find(`select[name="endtDate"]`).val();  
        let clonedTr = lastTr.clone();
        clonedTr.find(`select[name="program_session_lid"]`).val(program_session_lid).trigger('change');
        clonedTr.find(`select[name="sessionType"]`).val(sessionType).trigger('change');
        clonedTr.find(`select[name="startDate"]`).val(startDate).trigger('change');
        clonedTr.find(`select[name="endtDate"]`).val(endtDate).trigger('change');

            lastTr.find('.modalSelect2').select2({
                    dropdownParent: $('#add-sessiondate-modal')
                });

            clonedTr.find('.modalSelect2').select2({
                    dropdownParent: $('#add-sessiondate-modal')
                });

        $('#sessionDateTableModal tbody').append(clonedTr);
    })



    $('#sessionDateTableModal').on('click', '.remove-session-date',
            function () {
            let trLength = $('#sessionDateTableModal tbody tr').length;
            if (trLength > 1) {
                    $(this).closest('tr').remove()
                }
            else {
                    alert('Cannot delete this room.')
                }
    })



    $(document).ready(function () {
        let username = `<%- locals.userId %>`;
        //Fetch from SAP
        $(".fetchFromSAP").on('click', function () {

            let ApiObj = {
                url: '/admin/sessions/dates/fetch-from-sap',
                type: 'POST',
                data: {},
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log('Response ::::::::::::::::::::::', result)
                showSuccess(result)
            }).catch(error => {
                console.log('Error ::::::::::::::::::::::', error)
                showError(error.responseJSON)
            })
        })
    })




    $(".createSessionDate").on('click', function () {
        let sessionElems = $('#sessionDateTableModal tbody tr');
        let sessionCount = sessionElems.length;
        let sessionJSON = [];
        sessionElems.each(function (index, elem) {
            let program_session_lid = $(elem).find(`select[name="program_session_lid"]`).val()
            let sessionType = $(elem).find(`select[name="sessionType"]`).val();
            let startDate = $(elem).find(`select[name="startDate"]`).val();
            let endtDate = $(elem).find(`select[name="endtDate"]`).val();

            if (index < sessionCount - 1) {
                let obj = {
                    program_session_lid: program_session_lid,
                    session_type_lid: sessionType,
                    start_date_id: startDate,
                    end_date_id: endtDate
                }
                sessionJSON.push(obj)
            } else {
                let obj = {
                    program_session_lid: program_session_lid,
                    session_type_lid: sessionType,
                    start_date_id: startDate,
                    end_date_id: endtDate
                }
                sessionJSON.push(obj)
            }
        })

        console.log('sessionJSON:::::::::::::::::',sessionJSON)

        let ApiObj = {
            type: 'POST',
            url: '/admin/sessions/dates/create',
            data: {
                inputJSON: JSON.stringify(sessionJSON)
            },
            dataType: 'JSON'
        }
        ajaxApi(ApiObj).then(result => {
            console.log('RESPONSE:::::::::::::::::::::',result)
            showSuccess(result)
        }).catch(error => {
            showError(error.responseJSON)
        })
    })



            //EDIT SESSION DATE TYPE
            $("#sessionDateTable").on('click', '.edit-session-date', function () {
                $(".createSessionDate").addClass('d-none')
                $(".updateSessionDate").removeClass('d-none')
                $("#add-session-modal-title").html('UPDATE SESSION DATE')

                $.ajax({
                    url: '/admin/sessions/dates/findone',
                    method: 'POST',
                    type: 'JSON',
                    data: {
                        id: $(this).attr('data-session-date-id')
                    },
                    success: data => {
                      
                        let obj = data.data;
               
                        $('#program_session_lid').val(obj.program_session_lid).trigger('change')
                        $('#sessionType').val(obj.session_type_lid).trigger('change')
                        $('#startDate').val(obj.start_date_id).trigger('change')
                        $('#endtDate').val(obj.end_date_id).trigger('change')
                        $('#Id').val(obj.id)
                        $("#add-sessiondate-modal").modal('show')
                    },
                    error: err => {
                        showError(err.responseJSON)
                    }
                })
            })

            //Select All campus
            $("#sessionDateTable").on('click', '.selectAll-Session-dates', function () {
                if (this.checked) {
                    // Iterate each checkbox
                    $('.delete-session-type:checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $('.delete-session-type:checkbox').each(function () {
                        this.checked = false;
                    });
                }
            })

            // UPDATE SESSION DATE 
            $(".updateSessionDate").on('click', function () {
                $.ajax({
                    url: '/admin/sessions/dates/update',
                    method: 'POST',
                    type: 'JSON',
                    data: {
                        id: $("#Id").val(),
                        acadSession: $('#program_session_lid').val(),
                        sessionType: $('#sessionType').val(),
                        startDate: $('#startDate').val(),
                        endDate: $('#endtDate').val(),

                    },
                    success: (data) => {
                        if (data.status == 200) {
                            location.reload()
                        } else {
                            $(".errorMsg").html(data.message)
                        }
                    },
                    error: err => { 
                        showError(err.responseJSON)
                    }
                })
            })

            //Delete Single and mutiple Delete
            $('.select-delete-sessiondate').on('click', function () {
                let deleteids = []
                $('.delete-session-type:checked').each(function () {
                    let obj = {
                        id: $(this).attr("data-session-date-id"),
                    }
                    deleteids.push(obj) 
                })
                console.log(deleteids);

                if (deleteids.length > 0) {

                    let ApiObj = {
                        url: '/admin/sessions/dates/delete',
                        type: 'POST',
                        data: {
                            Ids: JSON.stringify(deleteids)
                        },
                        dataType: 'JSON'
                    }
                    ajaxApi(ApiObj).then(result => {
                        location.reload()
                      
                    }).catch(error => {
                        showError(error.responseJSON)
                    })
                } else {
                    alert('Select Fields')
                }
            })



            // SEARCH PROGRAM TYPE
            $('#searchkeyword').on('input', delay(function (e) {
                let keyword = $("#searchkeyword").val()
                $.ajax({
                    type: "POST",
                    url: "/admin/sessions/dates/search",
                    data: {
                        keyword: keyword,
                        pageNo: 1
                    },
                    success: function (data) {
                        AjaxtTable(data.data)
                        console.log(data.data);
                    }
                })
            }, 500));

            //Search With Pagination
            $(".pagination-search").on('click','.pagination li',function(){
                let keyword = $("#searchkeyword").val()
                let pageNo = $(this).attr('data-lp')
                console.log('PAGE NO.:::::::::::', $(this).attr('data-lp'))
                console.log('keyword.:::::::::::', keyword)
                $.ajax({
                    type: "POST",
                    url: "/admin/sessions/dates/search",
                    data: {
                        keyword: keyword,
                        pageNo: pageNo
                    },
                    success: function (data) {
                        AjaxtTable(data.data)
                        console.log(data.data);
                    }
                })
            })



             //Pagination Here
            let pageCount = `<%- pageCount %>`
            console.log("Page Count=====>>>", pageCount)
            let pageNos = Math.ceil(Number(pageCount) / 10)

            console.log("Page Numbers", pageNos)
            $('#pagination').bootpag({
            total: pageNos,
            page: 1,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
            }).on("page", function (event, num) {
            $.ajax({
                type: "POST",
                url: "/admin/sessions/dates/pagination",
                data: {
                    pageNo: num
                },
                success: function (data) {
                    console.log('data',data)
                    AjaxtTable(data.data) 
                }
            })
        });

            function AjaxtTable(sessionDates) {
                let AjaxTable = `<table class="table custom_row table-bordered" id="sessionTypeTable">
                <thead>
                    <th>Sr No.</th>
                    <th>Program Name</th>
                    <th>Acad session</th>
                    <th>Session type</th>
                    <th>Session start date</th>
                    <th>Session end date</th>
                    <!-- <th>Action</th> -->
                </thead>`;
                if (sessionDates.length > 0) {
                    let count = 1;
                    for (list of sessionDates) {
                        AjaxTable +=
                            `<tr>
                        <td>${count++}</td>
                        <td>${list.program_name}</td>
                        <td>${list.acad_session}</td>
                        <td>${list.session_type}</td>
                        <td>${list.startDate}</td>
                        <td>${list.endDate}</td>
                        <!--<td>
                            <i class="fas fa-edit text-dark cursor-pointer edit-session"
                                data-session-date-id="${list.id}"></i>
                        </td>-->
                    </tr>`
                    }
                } else {
                    AjaxTable +=
                        ` <tr>
                                <td colspan="6">No Data Found</td>
                            </tr>`;
                }
                AjaxTable += `<tbody></table>`
                $("#sessionDateTable").html(AjaxTable);
            }


            
            function showSuccess(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-success',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
            }


            function showError(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-danger',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
            }
        })
    </script>
    <%- include("../partials/footerEnd") %>