<%- include('../partials/head') %>

<%- include('../partials/leftSidebarForStudent.ejs') %>
<%- include('../partials/header.ejs') %>

<div class="main-content">
  <div class="card card-custom-border-curv">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2"> Bidding</h3>  
    </div>
    <div class="card-body table-responsive">
                
      <div class="row ps-5 pe-5">
        <%for(let credit of creditList) { %>
            <div class="col-md-4">
                <h6><%- credit.acad_session %> Credits :&nbsp;<span class="credits-point-target" id="credits-points-target-<%- credit.sap_acad_session_id %>"><%- credit.min_credits %></span></h6>
            </div>
        <% } %>
    </div>

    <div class="row ps-5 pe-5">
            <%for(let acadSession of dropdownAcadSessionList) { %>
                <div class="col-md-4">
                    <h6><%- acadSession.acad_session %> Selected Credits :&nbsp;<span class="credit-points" id="credits-points-<%- acadSession.sap_acad_session_id %>">0</span></h6>
                </div>
            <% } %>
    </div>

    <div class="row ps-5 pe-5">
        <div class="col-md-4">
            <h6>Start Time :&nbsp;<span id="start-time"><%-startAndEndTime.startTime %></span></h6>
        </div>    
        <div class="col-md-4">
            <h6>End Time :&nbsp;<span id="end-time"><%-startAndEndTime.endTime %></h6>
        </div>
        <div class="col-md-4">
            <h6>Current Time : &nbsp;<span id="current-date-time"></span></h6>
        </div>
    </div>
    </div>
  </div>

  <div class="card card-custom-border-curv mt-5">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Confirmation Courses</h3>  
    </div>
    <div class="card-body table-responsive">
     
    </div>
  </div>
  <div class="card card-custom-border-curv mt-5">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Consideration Course</h3>  
    </div>
    <div class="card-body table-responsive">
     
    </div>
  </div>
  
  <div class="card card-custom-border-curv mt-5 bidding-modal">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Available Courses</h3>
    </div>
 
    <div class="card-body table-responsive">
        <div class="d-flex">
          <% for(let acadSession of dropdownAcadSessionList) { %>
            <div class="col-sm-4 p-2">
              <button class="btn btn-light w-100 border bidding-trimester"  data-acad-session-id = "<%- acadSession.sap_acad_session_id %>">
                <%-acadSession.acad_session %>
              </button>
            </div>
          <% } %>
        </div> 
        <table class="table custom_row table-bordered mt-4 custom-table" id="bidding-trimester-select-table">
            <thead>
                <th>Area</th>
                <th>Course</th>
                <th>Trimester</th>
                <th>Course Timings</th>
                <th>Credits</th>
                <th>Available Seats</th>
                <th>Total Bidders</th>
                <th>MRB</th>
                <th>Action</th>
            </thead>
            <tbody>

            </tbody>
         </table>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
<script>
$(document).ready(function() {
    let active = `<%- active %>`;
    $('#sidebar .side-menu li.' + active).addClass('active');

    updateCurrentTime();
    setInterval(updateCurrentTime, 1000);

    $('.bidding-modal').on('click', '.bidding-trimester', function() {
       $('#bidding-trimester-select-table tbody').empty();
       let prevSelected = $(this).closest('div').siblings().find('.bidding-trimester-selected');
       prevSelected.removeClass('bidding-trimester-selected');
       $(this).addClass('bidding-trimester-selected');
       $(this).css('--bidding-trimester-active', $(this).innerHeight() + 'px');

       let acadSessionId = $(this).data('acad-session-id');
       
       let ApiObj = {
        type: 'POST',
        url: '/student/bidding/course-by-acadsession',
        data:{
          acadSessionId: acadSessionId
        },
        dataType :'JSON',
       }
      ajaxApi(ApiObj).then(result =>{
        showData(result.biddingCourseList);
      }).catch(error =>{
        showError(JSON.stringify(error.responseJSON))
      })
   });

});

function showData(biddingCourseList){
  let biddingTrimesterTable = $('#bidding-trimester-select-table tbody');
  if(biddingCourseList.length > 0 ){
    for(let biddingCourse of biddingCourseList){
      const days = Object.keys(biddingCourse)
    .filter(key => key.startsWith('Day'))
    .map(key => biddingCourse[key])
    .filter(day => day !== null);

  const daysHTML = days.map(day => `<div>${day}</div>`).join('');

  biddingTrimesterTable.append(`
    <tr>
      <td>${biddingCourse.area_name}</td>
      <td>${biddingCourse.course_name}-${biddingCourse.division}( ${biddingCourse.faculty_name} )</td>
      <td>${biddingCourse.acad_session}</td>
      <td>${daysHTML}</td>
      <td>${biddingCourse.credits}</td>
      <td>${biddingCourse.max_seats}</td>
      <td>0</td>
      <td>0</td>
      <td><button class="btn btn-secondary add-bidding">Add</button></td>
    </tr>`);
    }
  }
}


</script>

<%- include('../partials/footerEnd.ejs') %>