<%- include('../partials/head') %>

<%- include('../partials/leftSidebarForStudent.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="main-content">
  <div class="card card-custom-border-curv">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2"> Bidding</h3>  
    </div>
    <div class="card-body table-responsive">
                
      <div class="row ps-5 pe-5">
        <%for(let credit of creditList) { %>
            <div class="col-md-4">
                <h6><%- credit.acad_session %> Credits :&nbsp;<span class="credits-point-target" id="credits-points-target-<%- credit.sap_acad_session_id %>"><%- credit.min_credits %></span></h6>
            </div>
        <% } %>
    </div>

    <div class="row ps-5 pe-5">
            <%for(let acadSession of dropdownAcadSessionList) { %>
                <div class="col-md-4">
                    <h6><%- acadSession.acad_session %> Selected Credits :&nbsp;<span class="credit-points" id="credits-points-<%- acadSession.sap_acad_session_id %>">0</span></h6>
                </div>
            <% } %>
    </div>

    <div class="row ps-5 pe-5">
        <div class="col-md-4">
            <h6>Start Time :&nbsp;<span id="start-time"><%-startAndEndTime.startTime %></span></h6>
        </div>    
        <div class="col-md-4">
            <h6>End Time :&nbsp;<span id="end-time"><%-startAndEndTime.endTime %></h6>
        </div>
        <div class="col-md-4">
            <h6>Current Time : &nbsp;<span id="current-date-time"></span></h6>
        </div>
    </div>
    </div>
  </div>

  <div class="card card-custom-border-curv mt-5">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Confirmation Courses</h3>  
    </div>
    <div class="card-body table-responsive">
     
    </div>
  </div>
  <div class="card card-custom-border-curv mt-5">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Consideration Course</h3>  
    </div>
    <div class="col-md-3 mt-4 ms-5">
      <select class="form-select form-control select2 d-none" id="program-filter">
        <option value="" selected>Select Program</option>
        
      </select>
  </div>
    <div class="card-body table-responsive">
      <table class="table custom_row table-bordered mt-4 custom-table" id="consideration-table">
        <thead>
            <th>#</th>
            <th>Area</th>
            <th>Course</th>
            <th>Credits</th>
            <th>Available Seats</th>
            <th>Total Bidders</th>
            <th>MRB</th>
            <th>Winning status</th>
            <th>Your Bid</th>
            <th>Change Bid</th>
            <th>Withdraw</th>
        </thead>
        <tbody>

        </tbody>
     </table>
    </div>
  </div>
  
  <div class="card card-custom-border-curv mt-5 bidding-modal" id="bidding-modal">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Available Courses</h3>
    </div>
 
    <div class="card-body table-responsive">
        <div class="d-flex">
          <% for(let acadSession of dropdownAcadSessionList) { %>
            <div class="col-sm-4 p-2">
              <button class="btn btn-light w-100 border bidding-trimester"  data-acad-session-id = "<%- acadSession.sap_acad_session_id %>">
                <%-acadSession.acad_session %>
              </button>
            </div>
          <% } %>
        </div> 

        <div class="col-md-3 mt-4 ms-2">
            <select class="form-select form-control select2 d-none" id="course-filter">
              <option value="" selected>Select Course</option>
              <% for(let biddingCourse of courseList) { %>
                <option value="<%-biddingCourse.course_id %>" ><%-biddingCourse.course_name %></option>
              <% } %>
            </select>
        </div>

        <table class="table custom_row table-bordered mt-4 custom-table" id="bidding-trimester-select-table">
            <thead>
                <th>#</th>
                <th>Area</th>
                <th>Course</th>
                <th>Trimester</th>
                <th>Course Timings</th>
                <th>Credits</th>
                <th>Available Seats</th>
                <th>Total Bidders</th>
                <th>MRB</th>
                <th>Action</th>
            </thead>
            <tbody>     
         </table>
  </div>
</div>

<div class="pop-up-message d-none">
  <div class="d-flex justify-content-between align-items-center">
    <img src="/image/student/leftSideBar/confirmation.jpg" alt="Confirmation Image" class="pop-up-img">
    <div class="pop-up-content">
      <b>Success</b>
      <p></p>
    </div>
  </div>
</div>

<div class="pop-up-message-error d-none">
  <div class="d-flex justify-content-between align-items-center">
    <div class="pop-up-content">
      <b class="text-danger">Error</b>
      <p>Exceeds trimester credits limit</p>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
<script>
$(document).ready(function() {
    $('.select2').select2({
    dropdownParent: $('#bidding-modal')
   });


    let active = `<%- active %>`;
    $('#sidebar .side-menu li.' + active).addClass('active');
    
    let biddingCourseListData = `<%- JSON.stringify(biddingCourseList) %>`;
    let biddingCourseList = JSON.parse(biddingCourseListData);

    updateCurrentTime();
    setInterval(updateCurrentTime, 1000);
   
    biddingCourses(biddingCourseList);

    $('.bidding-modal').on('click', '.bidding-trimester', function() {
       resetBiddingTrimester();
       selectBiddingTrimester($(this));

       let acadSessionId = $(this).data('acad-session-id');
       
        let ApiObj = {
          type: 'POST',
          url: '/student/bidding/course-by-acadsession',
          data:{
            acadSessionId: acadSessionId
          },
          dataType :'JSON',
        }
        ajaxApi(ApiObj).then(result =>{
        
          let courseName = `<option  >Select Session</option>`;
              if (result.courseName.length > 0) {
                  result.courseName.forEach(element => {
                    courseName += `<option value="${element.course_id}">${element.course_name}</option>`;
                  });
              } else {
                courseName += `<option value="">No Course Found!</option>`;
              }

              $("#course-filter").html(courseName);
              biddingCourses(result.biddingCourseList);
          
        }).catch(error =>{
          showError(JSON.stringify(error.responseJSON))
        })
    });

   $('#course-filter').on('change', function() {
        let courseId = $(this).val();
        let acadSessionId = $('button.bidding-trimester-selected').data('acad-session-id');
       
        let ApiObj = {
             type: 'POST',
             url: '/student/bidding/course',
             data: {
                    courseId: courseId,
                    acadSessionId:acadSessionId 
              },
              dataType: 'JSON'
            };

          ajaxApi(ApiObj).then(result => {
            biddingCourses(result.biddingCourseList);
            }).catch(error => {
                    showError(JSON.stringify(error.responseJSON))
                });
      });

      $('#bidding-trimester-select-table').on('click','.add-bidding',function(){

          let areaName = $(this).closest('tr').data('area-name');
          let courseName = $(this).closest('tr').data('course-name');
          let credits = $(this).closest('tr').data('credits');
          let available = $(this).closest('tr').data('max-seats');
          let acadSession = $(this).closest('tr').data('acad-session');
          let divisionBatchId = $(this).closest('tr').data('division-batch-lid');
          let facultyId = $(this).closest('tr').data('faculty-id');
          let acadSessionId = $(this).closest('tr').data('acad-session-id');
          let courseTime = $(this).closest('tr').children('.course-timing').html();

          let biddingTable = $('#consideration-table tbody');
          let tableId = $('#consideration-table tbody tr').length;

          let creditPoints = Number($(`#credits-points-${acadSessionId}`).text());
           let targetCreditPoints = Number($(`#credits-points-target-${acadSessionId}`).text());
    
           if (creditPoints === targetCreditPoints) {
              $('.pop-up-message-error').removeClass('d-none');
              setTimeout(() => {
                $('.pop-up-message-error').addClass('d-none');
              }, 500);
              return;
            }

          let biddingRow = `<tr data-area-name ="${areaName}" data-course-name ="${courseName}" data-acad-session ="${acadSession}" data-division-batch-lid ="${divisionBatchId}" data-faculty-id =${facultyId} data-credits = "${credits}" data-max-seats =${available} data-course-time ="${courseTime}" data-acad-session-id = "${acadSessionId}">
                        <td>${++tableId}</td>
                        <td>${areaName}</td>
                        <td>${courseName}</td>
                        <td>${credits}</td>
                        <td>${available}</td>
                        <td>0</td>
                        <td>0</td>
                        <td class="winning-status">Yes</td>
                        <td></td>
                        <td class="d-flex"><input type="text" placeholder="Bids" class="p-2" size='15'>
                          <button class="btn border  border-dark ms-2">
                          <img src='/image/student/body-part-image/bidding-round-image/check-mark.png' alt='checkmark'>
                          </button> </td>
                        <td>
                          <button class="btn border border-danger cancel-bidding-course mt-1" data-area="${areaName}"><img src='/image/student/body-part-image/bidding-round-image/withdraw.png' </button></td></tr>`;

               biddingTable.append(biddingRow);

               $('.pop-up-message').removeClass('d-none');
               let message = `<b>Success</b><br><p>Successfully added ${courseName} to consideration set</p>`;
               $('.pop-up-message .pop-up-content').html(message);
               let contentHeight = $('.pop-up-message .pop-up-content').height();

                $('.pop-up-message').css({
                  'height': contentHeight + 20, 
                  'width': 'auto', 
                });
               
                setTimeout(() => {
                  $('.pop-up-message').addClass('d-none');
                }, 500);

               
                let creditsAcadSession = Number($(`#credits-points-${acadSessionId}`).text()) + Number(credits);
                $(`#credits-points-${acadSessionId}`).text(creditsAcadSession);

                $(this).closest('tr').remove();
                arrangeTableId('bidding-trimester-select-table');
        })
        
        $('#consideration-table').on('click', '.cancel-bidding-course', function(){
         
          let areaName = $(this).closest('tr').data('area-name');
          let courseName = $(this).closest('tr').data('course-name');
          let acadSession = $(this).closest('tr').data('acad-session');
          let divisionBatchId = $(this).closest('tr').data('division-batch-lid');
          let facultyId = $(this).closest('tr').data('faculty-id');
          let credits = $(this).closest('tr').data('credits');
          let maxSeats = $(this).closest('tr').data('max-seats');
          let tableBiddingCourse = $('#bidding-trimester-select-table tbody');
          let courseTime = $(this).closest('tr').data('course-time');
          let acadSessionId = $(this).closest('tr').data('acad-session-id')
          let tableId =  $('#bidding-trimester-select-table tbody tr').length;
          
          let creditPoints = Number($(`#credits-points-${acadSessionId}`).text());
          let targetCreditPoints = Number($(`#credits-points-target-${acadSessionId}`).text());
                if(creditPoints != targetCreditPoints){
                  $('.pop-up-message-error').addClass('d-none');
                }

          let biddingRow = `<tr data-area-name ="${areaName}" data-course-name ="${courseName}" data-acad-session ="${acadSession}" data-division-batch-lid ="${divisionBatchId}" data-faculty-id =${facultyId} data-credits = "${credits}" data-max-seats =${maxSeats}>
                        <td>${++tableId}</td>
                        <td>${areaName}</td>
                        <td>${courseName}</td>
                        <td>${acadSession}</td>
                        <td>${courseTime}</td>
                        <td>${credits}</td>
                        <td>${maxSeats}</td>
                        <td>0</td>
                        <td>0</td>
                        <td>
                            <button class="btn border border-dark add-bidding">
                              <i class="fa-solid fa-circle-plus" style="color:#5ca4ea"></i>
                            </button>
                        </td>
                 </tr>`;       
                 tableBiddingCourse.append(biddingRow);
                
                 let creditsAcadSession = Number($(`#credits-points-${acadSessionId}`).text()) - Number(credits);
                 $(`#credits-points-${acadSessionId}`).text(creditsAcadSession);

                 $(this).closest('tr').remove(); 
                 arrangeTableId('consideration-table');
        })
});

function biddingCourses(biddingCourseList) {
  $('#bidding-trimester-select-table tbody').empty();

  biddingCourseList.forEach(function(biddingCourse, index) {
  
    let { division_batch_lid: divisionBatchId, faculty_id: facultyId } = biddingCourse;
    let existingElement = $(`#bidding-trimester-select-table tbody tr[data-division-batch-lid="${divisionBatchId}"]`);
    let existingFaculty = existingElement.filter(`[data-faculty-id="${facultyId}"]`);
    let otherFacultyExists = existingElement.not(existingFaculty);
    let lengthOfTable = $('#bidding-trimester-select-table tbody tr').length;

    if (existingElement.length === 0) {
      let newRow = `<tr 
         data-area-name = "${biddingCourse.area_name}" 
         data-course-name = "${biddingCourse.course_name}-${biddingCourse.division}" 
         data-acad-session = "${biddingCourse.acad_session}" 
         data-division-batch-lid = "${biddingCourse.division_batch_lid}"
         data-faculty-id = "${biddingCourse.faculty_id}"
         data-credits = "${biddingCourse.credits}"
         data-max-seats = "${biddingCourse.max_seats}"
         data-acad-session-id = "${biddingCourse.sap_acad_session_id}"
         >

          <td>${++lengthOfTable}</td>
          <td>${biddingCourse.area_name}</td>
          <td>${biddingCourse.course_name}-${biddingCourse.division}</td>
          <td>${biddingCourse.acad_session}</td>
          <td class='course-timing'>${biddingCourse.day_name}(${biddingCourse.StartTime} to ${biddingCourse.EndTime}) ${biddingCourse.faculty_name}</td>
          <td>${biddingCourse.credits}</td>
          <td>${biddingCourse.max_seats}</td>
          <td>0</td>
          <td>0</td>
          <td>
            <button class="btn border border-dark add-bidding">
              <i class="fa-solid fa-circle-plus" style="color:#5ca4ea"></i>
            </button>
          </td>
        </tr>`;
      $('#bidding-trimester-select-table tbody').append(newRow);
    } else {
      let courseTiming = `<div>${biddingCourse.day_name}(${biddingCourse.StartTime} to ${biddingCourse.EndTime})`;
      let contentToAppend = otherFacultyExists.length ? `${courseTiming} - ${biddingCourse.faculty_name})` : `${courseTiming}`;
      existingElement.children('.course-timing').append(contentToAppend);
    }
  });
}

function resetBiddingTrimester() {
  $('#bidding-trimester-select-table tbody').empty();
  let prevSelected = $('.bidding-trimester-selected');
  prevSelected.removeClass('bidding-trimester-selected');
}

function selectBiddingTrimester(element) {
  element.addClass('bidding-trimester-selected');
  element.css('--bidding-trimester-active', element.innerHeight() + 'px');
}

function arrangeTableId(tableId){

  $(`#${tableId} tbody tr`).each((index, elem) =>{
    $(elem).find('td:first-child').html(++index);
  })
}
</script>

<%- include('../partials/footerEnd.ejs') %>