<%- include('../partials/head') %>
  <%- include('../partials/leftSidebar.ejs') %>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/simpleAlert.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <style>
        .timetable-container {
          width: var(--timetableWidth);
          background: #e6e6e6;
          /* border: 2px solid;    */
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;


        }

        .room {
          border: 1px solid black;
          min-height: 220px;
          max-height: 220px;
        }

        .room-slots {
          width: var(--roomSlotWidth);
          min-height: 215px;
          position: relative;
          background-size: var(--breakIntervalWidth);
          background-image: linear-gradient(to right, grey 1px, transparent 1px);
        }

        .room-no {
          min-width: var(--roomNoWidth);
          max-width: var(--roomNoWidth);
          background: #006faa;
          color: #fff;
          border-bottom: 1px solid;
          text-align: center;
          padding: 99px 0px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        .card-header-custom {
          background-color: #5ca4ea;
          border-top-left-radius: 15px !important;
          border-top-right-radius: 15px !important;
          color: #fff;
        }

        .card-custom {
          border-top-left-radius: 15px !important;
          border-top-right-radius: 15px !important;
        }

        hr {
          margin: 0 !important;
        }
      </style>

      <div class="main-content">
        <div class="card card-custom">
          <div class="card-header card-header-custom d-flex justify-content-between align-items-center">
            <h5>TIME TABLE</h5>
            <div>
              <button class="btn btn-success d-none" id="student_submit_button">Submit</button>
              <button class="btn btn-secondary d-none" id="student_update_button">Update</button>
               <button class="btn btn-success" id="show_student_sel_event" data-bs-toggle="modal" data-bs-target="#modal_for_stud_sel_course"  type="button">Show Course Selected</button> 
            </div>  
          </div>
          <div class="card-body">
            <div class="table-responsive timetable-container">
            </div>
          </div>
        </div>
        <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" id="modal_for_stud_sel_course">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                  Selected Coures
                </h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body d-flex flex-column justify-content-between">
                <div class='selected_course'>

                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" data-bs-dismiss="modal">OK</button>
                <button class="btn btn-info" id="student_update_button">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script>
        let staticData = [
    {
      "acad_session": "Semester III",
      "acad_session_lid": 18,
      "batch": 1,
      "batch_lid": 130,
      "break_id": "null",
      "course_lid": 19,
      "day_lid": 1,
      "division": "A",
      "division_lid": "115",
      "end_slot": 115,
      "event_lid": 5463,
      "event_type": "TH",
      "event_type_lid": "1",
      "faculty_count": 1,
      "faculty_list": "[{\"faculty_lid\":387,\"faculty_name\":\"Mona Bhalla\",\"abbr\":\"P\"}]",
      "is_break": 0,
      "module_name": "Indian Economy in Global Scenario",
      "program_code": "7402",
      "program_id": 50783565,
      "program_lid": 1,
      "program_name": "BACHELOR OF BUSINESS ADMINISTRATION-7402",
      "room_lid": 172,
      "start_slot": 104
    },

    {
      "acad_session": "Semester III",
      "acad_session_lid": 18,
      "batch": 1,
      "batch_lid": 30,
      "break_id": "null",
      "course_lid": 23,
      "day_lid": 1,
      "division": "A",
      "division_lid": "151",
      "end_slot": 102,
      "event_lid": 5608,
      "event_type": "TH",
      "event_type_lid": "1",
      "faculty_count": 1,
      "faculty_list": "[{\"faculty_lid\":395,\"faculty_name\":\"Anupamaa Chavan\",\"abbr\":\"P\"}]",
      "is_break": 0,
      "module_name": "Retail Management",
      "program_code": "7402",
      "program_id": 50783565,
      "program_lid": 1,
      "program_name": "BACHELOR OF BUSINESS ADMINISTRATION-7402",
      "room_lid": 172,
      "start_slot": 91
    },
    {
      "room_lid": 194,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 286,
      "start_slot": 104,
      "end_slot": 115,
      "program_lid": 3,
      "acad_session_lid": 20,
      "course_lid": 60,
      "division_lid": 323,
      "division": 'B',
      "batch_lid": 192,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester V',
      "module_name": 'Research Methodology',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":367,"faculty_name":"Kajori Banerjee","abbr":"P"}]',

    },
    {
      "room_lid": 195,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 264,
      "start_slot": 104,
      "end_slot": 115,
      "program_lid": 3,
      "acad_session_lid": 20,
      "course_lid": 58,
      "division_lid": 318,
      "division": 'C',
      "batch_lid": 187,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester V',
      "module_name": 'Environmental Management & Corporate Social Responsibility',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":440,"faculty_name":"Minal SHARMA ","abbr":"H"}]'
    },
    {
      "room_lid": 173,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 940,
      "start_slot": 104,
      "end_slot": 115,
      "program_lid": 2,
      "acad_session_lid": 18,
      "course_lid": 25,
      "division_lid": 169,
      "division": 'A',
      "batch_lid": 54,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester III',
      "module_name": 'Corporate Finance -II',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":407,"faculty_name":"Ritesh Mehta","abbr":"H"}]'
    },
    {
      "room_lid": 193,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 256,
      "start_slot": 104,
      "end_slot": 115,
      "program_lid": 3,
      "acad_session_lid": 20,
      "course_lid": 58,
      "division_lid": 316,
      "division": 'A',
      "batch_lid": 185,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester V',
      "module_name": 'Environmental Management & Corporate Social Responsibility',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":360,"faculty_name":"Neelesh Kumar","abbr":"P"}]'
    }, {
      "room_lid": 194,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 260,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 3,
      "acad_session_lid": 20,
      "course_lid": 58,
      "division_lid": 317,
      "division": 'B',
      "batch_lid": 186,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester V',
      "module_name": 'Environmental Management & Corporate Social Responsibility',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":440,"faculty_name":"Minal SHARMA ","abbr":"H"}]'
    },
    {
      "room_lid": 195,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 225,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 3,
      "acad_session_lid": 20,
      "course_lid": 54,
      "division_lid": 306,
      "division": 'C',
      "batch_lid": 175,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester V',
      "module_name": 'Investment Analysis, Portfolio Management & Wealth Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":365,"faculty_name":"Amit Bathia","abbr":"P"}]'
    },
    {
      "room_lid": 193,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 229,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 3,
      "acad_session_lid": 20,
      "course_lid": 55,
      "division_lid": 307,
      "division": 'A',
      "batch_lid": 176,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester V',
      "module_name": 'Financial Markets & Institutions',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":364,"faculty_name":"Ved Beloskar","abbr":"P"}]'
    },
    {
      "room_lid": 173,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 952,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 2,
      "acad_session_lid": 18,
      "course_lid": 26,
      "division_lid": 172,
      "division": 'A',
      "batch_lid": 57,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester III',
      "module_name": 'Debt Markets',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":394,"faculty_name":"Jagabandhu Padhy","abbr":"P"}]'
    },
    {
      "room_lid": 174,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 980,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 2,
      "acad_session_lid": 18,
      "course_lid": 28,
      "division_lid": 179,
      "division": 'B',
      "batch_lid": 64,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester III',
      "module_name": 'Business Policy and Strategic Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":374,"faculty_name":"Pallavi Rallan","abbr":"P"}]'
    },
    {
      "room_lid": 176,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 1023,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 3,
      "acad_session_lid": 18,
      "course_lid": 32,
      "division_lid": 189,
      "division": 'A',
      "batch_lid": 74,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester III',
      "module_name": 'Corporate Finance - I',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":376,"faculty_name":"Diwahar Nadar","abbr":"P"}]'
    },
    {
      "room_lid": 175,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 1008,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 2,
      "acad_session_lid": 18,
      "course_lid": 30,
      "division_lid": 186,
      "division": 'C',
      "batch_lid": 71,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester III',
      "module_name": 'Operations Research',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":402,"faculty_name":"Richa Saxena","abbr":"P"}]'
    },
    {
      "room_lid": 177,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 1033,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 3,
      "acad_session_lid": 18,
      "course_lid": 33,
      "division_lid": 192,
      "division": 'B',
      "batch_lid": 77,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Com. (Hons.)-7401',
      "program_id": 50783564,
      "program_code": '7401',
      "acad_session": 'Semester III',
      "module_name": 'Direct Taxes',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":397,"faculty_name":"Raj Shah","abbr":"H"}]'
    },
    {
      "room_lid": 196,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 1092,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 2,
      "acad_session_lid": 20,
      "course_lid": 49,
      "division_lid": 287,
      "division": 'D',
      "batch_lid": 160,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester V',
      "module_name": 'Derivatives and Risk Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":371,"faculty_name":"Harsh Thakrar","abbr":"P"}]'
    },
    {
      "room_lid": 191,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 1072,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 2,
      "acad_session_lid": 20,
      "course_lid": 48,
      "division_lid": 282,
      "division": 'C',
      "batch_lid": 155,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester V',
      "module_name": 'Corporate & Business Law',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":369,"faculty_name":"Vivek Saurav","abbr":"P"}]'
    },
    {
      "room_lid": 189,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 1112,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 2,
      "acad_session_lid": 20,
      "course_lid": 51,
      "division_lid": 292,
      "division": 'A',
      "batch_lid": 165,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester V',
      "module_name": 'International Finance',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":370,"faculty_name":"Charu Bhurat","abbr":"P"}]'
    },
    {
      "room_lid": 205,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 1148,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 2,
      "acad_session_lid": 20,
      "course_lid": 53,
      "division_lid": 301,
      "division": 'B',
      "batch_lid": 2,
      "batch": 1,
      "event_type_lid": 2,
      "program_name": 'B.Sc.Finance-7405',
      "program_id": 50783566,
      "program_code": '7405',
      "acad_session": 'Semester V',
      "module_name": 'Business Analytics',
      "event_type": 'PR',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":368,"faculty_name":"Nandip Vaidya","abbr":"P"}]'
    },
    {
      "room_lid": 172,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 5500,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 20,
      "division_lid": 124,
      "division": 'A',
      "batch_lid": 139,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Banking and Insurance',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":383,"faculty_name":"Surbhi Gandhi","abbr":"P"}]'
    },
    {
      "room_lid": 172,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 5571,
      "start_slot": 135,
      "end_slot": 146,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 22,
      "division_lid": 142,
      "division": 'A',
      "batch_lid": 27,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": '"Financial Statement Analysis"',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{\"faculty_lid\":385,\"faculty_name\":\"Hardik Pathak\",\"abbr\":\"P\"}]'
    },
    {
      "room_lid": 198,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 5478,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 19,
      "division_lid": 118,
      "division": 'D',
      "batch_lid": 133,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Indian Economy in Global Scenario',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":387,"faculty_name":"Mona Bhalla","abbr":"P"}]'
    },
    {
      "room_lid": 197,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 5510,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 20,
      "division_lid": 126,
      "division": 'C',
      "batch_lid": 141,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Banking and Insurance',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":382,"faculty_name":"Sunny Oswal","abbr":"P"}]'
    },
    {
      "room_lid": 190,
      " day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 5534,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 20,
      "division_lid": 132,
      "division": 'I',
      "batch_lid": 17,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Banking and Insurance',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":399,"faculty_name":"Parag Shah","abbr":"H"}]'
    },
    {
      "room_lid": 201,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 5560,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 21,
      "division_lid": 139,
      "division": 'G',
      "batch_lid": 24,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Direct and Indirect Tax',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":392,"faculty_name":"Prakash Bhatia","abbr":"P"}]'
    },
    {
      "room_lid": 203,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6009,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 4,
      "acad_session_lid": 16,
      "course_lid": 62,
      "division_lid": 326,
      "division": 'A',
      "batch_lid": 195,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'M. Sc. Finance-7406',
      "program_id": 51067313,
      "program_code": '7406',
      "acad_session": 'Semester I',
      "module_name": 'Financial Statement Analysis',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":400,"faculty_name":"Kushagra Goel","abbr":"P"}]'
    },
    {
      "room_lid": 192,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 5578,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 22,
      "division_lid": 143,
      "division": 'B',
      "batch_lid": 28,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Financial Statement Analysis',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":385,"faculty_name":"Hardik Pathak","abbr":"P"}]'
    },
    {
      "room_lid": 200,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 5665,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 24,
      "division_lid": 165,
      "division": 'F',
      "batch_lid": 50,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Operations Research',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":390,"faculty_name":"Tejaswini Angre","abbr":"P"}]'
    },
    {
      "room_lid": 202,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 5674,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 24,
      "division_lid": 167,
      "division": 'H',
      "batch_lid": 52,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Operations Research',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":396,"faculty_name":"Navneet Bhatt","abbr":"P"}]'
    },
    {
      "room_lid": 199,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 5623,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 18,
      "course_lid": 23,
      "division_lid": 155,
      "division": 'E',
      "batch_lid": 40,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester III',
      "module_name": 'Retail Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":451,"faculty_name":"Bhavin Shah","abbr":"H"}]'
    },
    {
      "room_lid": 180,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 6210,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 40,
      "division_lid": 226,
      "division": 'C',
      "batch_lid": 308,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Investment Analysis & Portfolio Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":359,"faculty_name":"Akshay Damani","abbr":"P"}]'
    },
    {
      "room_lid": 186,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 6190,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 39,
      "division_lid": 221,
      "division": 'E',
      "batch_lid": 303,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Financial Markets & Institutions',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":363,"faculty_name":"Tanvi Joshi","abbr":"P"}]'
    },
    {
      "room_lid": 187,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6223,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 40,
      "division_lid": 229,
      "division": 'F',
      "batch_lid": 311,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Investment Analysis & Portfolio Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":380,"faculty_name":"Vinit Mehta","abbr":"H"}]'
    },
    {
      "room_lid": 181,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6246,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 42,
      "division_lid": 339,
      "division": 'H',
      "batch_lid": 280,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Direct & Digital Marketing',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":448,"faculty_name":"Rainy Rose","abbr":"P"}]'
    },
    {
      "room_lid": 183,
      " day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 6148,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 37,
      "division_lid": 202,
      "division": 'D',
      "batch_lid": 284,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Advanced Financial Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":401,"faculty_name":"Jayesh Manjrekar","abbr":"P"}]'
    },
    {
      "room_lid": 188,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 6305,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 44,
      "division_lid": 249,
      "division": 'G',
      "batch_lid": 319,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'International Business & EXIM',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":377,"faculty_name":"Arpita Shrivastava","abbr":"P"}]'
    },
    {
      "room_lid": 182,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6266,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 43,
      "division_lid": 344,
      "division": 'I',
      "batch_lid": 273,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Sales & Distribution Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":372,"faculty_name":"Neeta Acharya","abbr":"P"}]'
    },
    {
      "room_lid": 184,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6314,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 44,
      "division_lid": 252,
      "division": 'J',
      "batch_lid": 322,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'International Business & EXIM',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":454,"faculty_name":"Kinjal Sanghavi","abbr":"H"}]'
    },
    {
      "room_lid": 179,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 6323,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 45,
      "division_lid": 254,
      "division": 'A',
      "batch_lid": 324,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Strategic Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":405,"faculty_name":"Arpita Baijal","abbr":"P"}]'
    },
    {
      "room_lid": 204,
      "day_lid": 1,
      "is_break": 0,
      "break_id": null,
      "event_lid": 6371,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 46,
      "division_lid": 266,
      "division": 'B',
      "batch_lid": 259,
      "batch": 1,
      "event_type_lid": 2,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Business Analytics',
      "event_type": 'PR',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":375,"faculty_name":"Yogesh Funde","abbr":"P"}]'
    },
    {
      "room_lid": 185,
      " day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6408,
      "start_slot": 122,
      "end_slot": 133,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 46,
      "division_lid": 275,
      "division": 'K',
      "batch_lid": 268,
      "batch": 1,
      "event_type_lid": 2,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Business Analytics',
      "event_type": 'PR',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":373,"faculty_name":"Vandana Bharadi","abbr":"P"}]'
    },
    {
      "room_lid": 185,
      " day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6409,
      "start_slot": 135,
      "end_slot": 146,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 46,
      "division_lid": 275,
      "division": 'K',
      "batch_lid": 268,
      "batch": 1,
      "event_type_lid": 2,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Business Analytics',
      "event_type": 'PR',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":373,"faculty_name":"Vandana Bharadi","abbr":"P"}]'
    },
    {
      "room_lid": 187,
      "day_lid": 1,
      "is_break": 0,
      " break_id": null,
      "event_lid": 6343,
      "start_slot": 135,
      "end_slot": 146,
      "program_lid": 1,
      "acad_session_lid": 20,
      "course_lid": 45,
      "division_lid": 259,
      "division": 'F',
      "batch_lid": 329,
      "batch": 1,
      "event_type_lid": 1,
      "program_name": 'BACHELOR OF BUSINESS ADMINISTRATION-7402',
      "program_id": 50783565,
      "program_code": '7402',
      "acad_session": 'Semester V',
      "module_name": 'Strategic Management',
      "event_type": 'TH',
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":378,"faculty_name":"Simarjeet Makkar","abbr":"P"}]'
    }, {
      "acad_session": "Semester III",
      "acad_session_lid": 18,
      "batch": 1,
      "batch_lid": 60,
      "break_id": "null",
      "course_lid": 27,
      "day_lid": 1,
      "division": "A",
      "division_lid": "175",
      "end_slot": 102,
      "event_lid": 964,
      "event_type": "TH",
      "event_type_lid": "1",
      "faculty_count": 1,
      "faculty_list": '[{"faculty_lid":400,"faculty_name":"Kushagra Goel","abbr":"P"}]',
      "is_break": 0,
      "module_name": "Financial Statement Analysis and Business Valuation",
      "program_code": "7405",
      "program_id": 50783566,
      "program_lid": 2,
      "program_name": "B.Sc.Finance-7405",
      "room_lid": 173,
      "start_slot": 91
    },
    {
      "acad_session": "Semester III",
      "acad_session_lid": 18,
      "batch": 1,
      "batch_lid": 69,
      "break_id": "null",
      "course_lid": 30,
      "day_lid": 1,
      "division": "A",
      "division_lid": "184",
      "end_slot": 146,
      "event_lid": 1002,
      "event_type": "TH",
      "event_type_lid": "1",
      "faculty_count": 1,
      "faculty_list": "[{\"faculty_lid\":402,\"faculty_name\":\"Richa Saxena\",\"abbr\":\"P\"}]",
      "is_break": 0,
      "module_name": "Operations Research",
      "program_code": "7405",
      "program_id": 50783566,
      "program_lid": 2,
      "program_name": "B.Sc.Finance-7405",
      "room_lid": 173,
      "start_slot": 135
    },
  ]
  $(document).ready(function () {
    let minMaxSlotId = JSON.parse(`<%-minMaxSlotId %>`);
    let roomslot = '';
    let roomList = JSON.parse(`<%- roomList %>`);
    let timeJson = JSON.parse(`<%- timeSlotList%>`);
    let courseSelected = JSON.parse(`<%- courseSelectedByStud%>`);

    let timetableProp = {
      totalSlots: minMaxSlotId[0].end_time_lid - minMaxSlotId[0].start_time_lid + 1,
      pxPerSlot: 13,
      roomNoWidth: 50,
    }

    for (let room of roomList) {
      roomslot += `<div class ="d-flex room" data-room-lid = ${room.room_lid} data-room-no = ${room.room_no}>
                <div class ="room-no" data-room-lid = ${room.room_lid} data-room-type-lid = ${room.room_lid}> 
                   ${room.room_number}
                </div>
                <div class = "room-slots">
                </div>
              </div>`
    }
    let timetable_width = (Number(minMaxSlotId[0].end_time_lid) - Number(minMaxSlotId[0].start_time_lid) + 1) * timetableProp.pxPerSlot;
    $('.timetable-container').html(roomslot);
    $(':root').css('--roomSlotWidth', timetable_width + 'px');
    $(':root').css('--timetableWidth', timetable_width + 56 + 'px');

    staticData.forEach(function (indivualdata, index) {
      let room_slot = document.querySelector(`.room[data-room-lid = "${indivualdata.room_lid}"] .room-slots`);
      const widthl = (indivualdata.end_slot - indivualdata.start_slot + 1) * timetableProp.pxPerSlot;
      const leftsidemargin = ((indivualdata.start_slot) - Number(minMaxSlotId[0].start_time_lid)) * timetableProp.pxPerSlot;
      let roomSlotItem = document.createElement('div');
      let facultyList = '';
      let iLoop = 1;
      for (let faculty of JSON.parse(indivualdata.faculty_list)) {

        if (iLoop == JSON.parse(indivualdata.faculty_list).length) {
          facultyList += `${faculty.faculty_name} - (${faculty.abbr})`
          roomSlotItem.setAttribute("data-faculty-lid", `${faculty.faculty_lid ? faculty.faculty_lid : ''}`)
          roomSlotItem.setAttribute("data-faculty-name", `${faculty.faculty_name ? faculty.faculty_name : ''}`)
          roomSlotItem.setAttribute("data-faculty-type", `${faculty.abbr}`)
        }
        else {
          facultyList += `${faculty.faculty_name} || `
        }
        iLoop += 1
      }

      roomSlotItem.setAttribute("class", "room-slot-item")
      roomSlotItem.setAttribute("data-faculty-name",`${facultyList}`)
      roomSlotItem.setAttribute("data-left", `${leftsidemargin}`);
      roomSlotItem.setAttribute("data-program-name",`${indivualdata.program_name}`)
      roomSlotItem.setAttribute("data-acad-session",`${indivualdata.acad_session}`)
      roomSlotItem.setAttribute("data-module-name",`${indivualdata.module_name}`)
      roomSlotItem.setAttribute("data-lec-type",`${indivualdata.event_type}`)
      roomSlotItem.setAttribute("style", `position:absolute;left: ${leftsidemargin}px ;top: 0; text-align:center; width:${widthl}px;height:100%;background-color:#ffffff;font-size:14px;padding:5px 2px 0px 2px;border-left:1px solid black;`)
      roomSlotItem.innerHTML =
        `${indivualdata.program_name} - ${indivualdata.acad_session} <hr> ${indivualdata.module_name} <hr> (${indivualdata.event_type})<hr> 
                    ${facultyList}<hr>
                  <span class="badge bg-info start-time d-flex justify-content-center align-items-center">${timeJson[indivualdata.start_slot - 1].start_time}</span>  
          <i class="fa-solid fa-arrows-left-right" style="right:${(widthl / 2) - 7}px;position:absolute;bottom:0;"></i><span class="badge bg-info end-time d-flex justify-content-center align-items-center">
              ${timeJson[indivualdata.end_slot - 1].end_time} </span>`;
      room_slot.append(roomSlotItem);
    })
   
    const room_slot_items = document.querySelectorAll('.room-slot-item');
     room_slot_items.forEach(room_slot_click => {
      room_slot_click.addEventListener('click', function () {
        $(this).attr('class','room_slot_selected');
        room_slot_items.forEach(room_not_click => {
          if (room_not_click !== room_slot_click && room_not_click.getAttribute('data-left') == Number(room_slot_click.getAttribute('data-left'))) {
              room_not_click.classList.add('custom_disabled');
              if(room_not_click.classList.contains('room_slot_selected')){
                 room_not_click.classList.remove('room_slot_selected');
              }
           }
         });
         const room_slot_items_for_submit = document.querySelectorAll('.room_slot_selected');
         const update_button_present = document.querySelector('#student_update_button').classList.contains('d-none');
          if(room_slot_items_for_submit.length == 4 && update_button_present){
            $('#student_submit_button').removeClass('d-none');
          }
      });
    });
   const selectedCourse = $('.selected_course');
   let div = '';
   courseSelected.forEach(function(course,index){
    let courseItem = document.createElement('div');
     courseItem.setAttribute('class','container  mb-3 bg-secondary p-3');
     courseItem.innerHTML = `${course.faculty_name}`
     selectedCourse.append(courseItem);
});
   })
   

      </script>
      <%- include('../partials/footerEnd.ejs') %>
      <script src="/js/timetable_for_student/index.js"></script>
      <script src="/js/simpleAlert/simpleAlert.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
