<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="main-content">
  <div class="card card-custom-border-curv card">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Timetable</h3>
        <div>
          <button class="btn btn-success d-none" id="show_student_readOnly" data-bs-toggle="modal"
            data-bs-target="#show_student_course_readOnly" type="button">Previous Entry</button>
          <button class="btn btn-success" id="show_student_sel_event" data-bs-toggle="modal"
            data-bs-target="#modal_for_stud_sel_course" type="button">Show Course Selected</button>
       
        </div>
    </div>
 
    <div class="card-body table-responsive">
        <div class="d-flex">
            <div class="col-md-3 ms-5">
                <label class="form-label mb-1" for="timetable-acad-session">Select Acad Session:</label>
                <select class="form-select form-control select2" id="timetable-acad-session">
                    <option selected disabled>--Select Acad Session-- </option>
                     <%for(let acadSession of dropdownAcadSessionList) { %>
                        <option value="<%- acadSession.sap_acad_session_id %>"><%- acadSession.acad_session %></option>
                    <% } %>
                    
                </select>
            </div>
        </div>
    
        <div class="card-body table-responsive">
            <div class="timetable-container">
            </div>
        </div>
    </div>
    
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" id="modal_for_stud_sel_course">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Selected Coures
            </h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body d-flex flex-column justify-content-between">
            <div class='selected_course table-responsive py-1'>
              <table class="table table-bordered custom_table table-hover" id="selected_course_table_data">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Program</th>
                    <th>Module</th>
                    <th>Room</th>
                    <th>Division</th>
                    <th>Faculty</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" data-bs-dismiss="modal" id="okconfirm">OK</button>
            <button class="btn btn-info" id="student_submit_button">Submit</button>
            <button class="btn btn-secondary d-none" id="student_update_button">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" id="show_student_course_readOnly">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Selected Coures
            </h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body d-flex flex-column justify-content-between">
            <div class='selected_cour_readonly table-responsive'>
              <table class="table table-bordered custom_table table-hover py-1" id="selected_course_table_data">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Program</th>
                    <th>Module</th>
                    <th>Room</th>
                    <th>Division</th>
                    <th>Faculty</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>




<%- include('../partials/footer.ejs') %>
<script>
    $(document).ready(function(){
        let minMaxSlotId = JSON.parse(`<%-minMaxSlotId%>`);
        let courseCount = `<%- courseCounts %>`;
    
        let timetableProp = {
        totalSlots: minMaxSlotId[0].end_time_lid - minMaxSlotId[0].start_time_lid + 1,
        pxPerSlot: 13,
        roomNoWidth: 50,
        widthOfEvent:182,
        startingLeft:0,
        widthOfTable:1561,
      }
     
      $('#timetable-acad-session').on('change',function(){
        let acadSessionId = $(this).val();
       
        $('.room-slots').empty();
         
        let ApiObj = {
            url:'/student/timetable/by-acad-session-id',
            type:'POST',
            data:{
               acadSessionId:acadSessionId 
            },
            dataType:'JSON'
        }
        ajaxApi(ApiObj).then(result =>{ 
           courseCount = result.courseList.length;
          let noOfRoomCount = courseCount / ((timetableProp.widthOfTable) / (timetableProp.widthOfEvent + timetableProp.pxPerSlot));
          let roomCount = Math.ceil(noOfRoomCount);  
          let roomslot = '';
          let rowCount = 0;

          for (let room = 0; room < roomCount; room++) {
              roomslot += `<div class="d-flex room">
                              <div class="room-no${rowCount++} room-no"></div>
                              <div class="room-slots position-relative">
                              </div>
                          </div>`
          }
          let eventCount = -1;
      $('.timetable-container').html(roomslot);     
            addRoomSlotItemsToDOM(result.courseList, minMaxSlotId, timetableProp,eventCount);
    });
}); 
   
})

$('#modal_for_stud_sel_course').on('show.bs.modal', function (event) {
        let dataStudentSelected = document.querySelectorAll('.room_slot_selected');
        let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

        let index = $('.selected_course #selected_course_table_data tbody').find(':last-child');
        console.log('values of index last children',index);
        dataStudentSelected.forEach(function (eachSubject, index) {
          let faculty_name = eachSubject.getAttribute('data-faculty-name');
          let module_name = eachSubject.getAttribute('data-module-name');
          let program_name = eachSubject.getAttribute('data-program-name');
          let acad_session = eachSubject.getAttribute('data-acad-session');
          let lec_type = eachSubject.getAttribute('data-lec-type');
          let division = eachSubject.getAttribute('data-division');
          let day_lid = eachSubject.getAttribute('data-day');
          let room_no = eachSubject.closest('.room').getAttribute('data-room-no')
          let start_time = eachSubject.getAttribute('data-start-time');
          let end_time = eachSubject.getAttribute('data-end-time');
          let batch = eachSubject.getAttribute('data-batch-lid');

          subject = {
            faculty_name: faculty_name,
            module_name: module_name,
            program_name: program_name,
            acad_session: acad_session,
            lec_type: lec_type,
            division: division,
            day: days[day_lid - 1],
            room: room_no,
            start: start_time,
            end: end_time,
            batch:batch,
            day_lid:day_lid,
          }
      
          subjects.push(subject);
        });
        
        const selectedCourse = $('.selected_course #selected_course_table_data tbody');
        
        subjects.forEach(function (course, index) {
         let eleTr  =  $(`.selected_course #selected_course_table_data tbody tr[data-batch-lid = "${course.batch}"][data-day-lid = "${course.day_lid}"]`)
         let eleSameslot = $(`.selected_course #selected_course_table_data tbody tr[data-start-id = "${course.start}"][data-end-id = "${course.end}"]`)
      
         if(eleTr.length == 0){
          let courseSelectedRecord =
            `<tr data-program-name="${course.program_name}" data-module-name="${course.module_name}" data-room-no="${course.room}" data-division="${course.division}" data-faculty-name="${course.faculty_name}" data-day="${course.day}" data-start-id="${course.start}" data-end-id="${course.end}" data-acad-session="${course.acad_session}" data-lec-type="${course.lec_type}" data-batch-lid ="${course.batch}" data-day-lid = "${course.day_lid}">
          <td>${index + 1}</td>
          <td>${course.program_name}</td>
          <td>${course.module_name}</td>
          <td>${course.room}</td>
          <td>${course.division}</td>
          <td>${course.faculty_name}</td>
          <td>${course.day}</td>
          <td>${course.start}</td>
          <td>${course.end}</td>
        </tr>`;
          selectedCourse.append(courseSelectedRecord);
      }
        });
       
      });

      $('#modal_for_stud_sel_course').on('click', '.btn-close', function () {
        $('.selected_course .table tbody').empty();
      })

      $('#modal_for_stud_sel_course').on('click', '#okconfirm', function () {
        $('.selected_course .table tbody').empty();
      })

      $('#modal_for_stud_sel_course').on('click', '.delete_selected_subject', function () {
        $(this).parents('tr').remove();
      });

      document.addEventListener('click', function(element){
        if(element.target.classList.contains('room-slot-item')){
          addEvent(element);
        }
        if(element.target.classList.contains('btn_close_custom')){
          closeButton(element);
        }
      })
      $(document).on('click', '.btn_close_custom', function() {
           console.log('inside the document', $(this).closest('.room-slot'));
             $(this).parent().removeClass('room_slot_selected');
             $(this).addClass('d-none');
      });


    let selected_event = [];
      let dataColumnValue = 1;
      function addEvent(event) {
        let event_val = event.target;
        let elementStartLid = event_val.getAttribute('data-start-lid');
        let elementEndLid = event_val.getAttribute('data-end-lid');
        let batch = [event_val.getAttribute('data-batch-lid')];
        let room_slot_list = $('.room-slot-item');
        let event_count = parseInt($('#event_count').text().match(/\d+/));
        
        if(event_count == 0){
          $('.timetable-container').addClass('disbaled_whole_div');
          return;
        }
        room_slot_list.each(function(index, element) {
          let targetStartLid = Number($(element).data('start-lid'));
          let targetEndLid = Number($(element).data('end-lid'));

          if (((elementStartLid < targetStartLid && elementEndLid > targetStartLid) ||
              (elementStartLid < targetEndLid && elementEndLid > targetEndLid) ||
              (elementStartLid > targetStartLid && elementEndLid < targetEndLid) ||
              (elementStartLid < targetStartLid && elementEndLid > targetEndLid) ||
              (elementStartLid == targetStartLid && elementEndLid == targetEndLid)) && event_val !== element) {

            if (element.classList.contains('room_slot_selected')) {
              element.classList.remove('room_slot_selected');
              element.querySelector('.btn_close_custom').classList.add('d-none');
              updateEventCount(false);
            }

            element.setAttribute('data-column', dataColumnValue);
            element.classList.add('custom_disabled');
          }
          event_val.setAttribute('data-column', dataColumnValue);
          event_val.classList.add('room_slot_selected');
          event_val.classList.remove('custom_disabled');
          event_val.firstElementChild.classList.remove('d-none');

          let dataObj = {
            batch: batch,
            start_lid: elementStartLid,
            end_lid: elementEndLid
          };

          selected_event = selected_event.filter(item =>
            item.start_lid !== elementStartLid || item.end_lid !== elementEndLid
          );
          selected_event.push(dataObj);
        });
      
        updateEventCount(true);
        dataColumnValue++;
      }
      function removeIdentifyItem(selectedArray,elementToRemove){
        console.log('inside the remove IdentifyItem',elementToRemove,selectedArray);
        return selectedArray.filter(item => item.batch[0] !== elementToRemove);
      }
      function updateEventCount(isAdd) {
        if (!$('#event_count').hasClass('d-none')) {
            let event_count =  isAdd == true?parseInt($('#event_count').text().match(/\d+/)) -1:parseInt($('#event_count').text().match(/\d+/)) + 1; 
            $('#event_count').html(`Number of Course select: ${event_count}`);
        }
      }
      function closeButton(event){
        let event_val = event.target;
        let columnValue = event_val.parentElement.getAttribute('data-column');
        let data_batch  = event_val.parentElement.getAttribute('data-batch-lid');
         selected_event.forEach(function(ele,index){
           if(data_batch == ele.batch){
            console.log('inside the data_batch',ele.batch);
           selected_event = removeIdentifyItem(selected_event,data_batch);
           updateEventCount(false);
           }
       })
      }
    function showError(errors) {
        let simpleAlert = new SimpleAlert();
        let obj = {
            title : errors,
            message: "",
            type: 'alert-danger',
            buttons: {
                positive:{
                    text: "OK",
                    action: function(){
                        document.querySelector('.simple-alert').remove();
                    }
                },
                negative: {
                    text: "Cancle",
                    action: function () {
                    alert('Negative')
                    }
                }
            }
        }
        simpleAlert.alert(obj);
    }
   
    function createRoomSlotItem(course, minMaxSlotId, timetableProp,eventCount) {
            const widthOfEvent = timetableProp.widthOfEvent;
            const widthOfTable = timetableProp.widthOfTable;
            const leftsidemargin  = (eventCount *(timetableProp.widthOfEvent+timetableProp.pxPerSlot));
            
            let roomSlotItem = document.createElement('div');

            roomSlotItem.setAttribute("class", "room-slot-item");
            roomSlotItem.setAttribute("data-program_name", `${course.program_name}`)
            roomSlotItem.setAttribute("data-left", `${leftsidemargin}`);
            roomSlotItem.setAttribute("data-acad-session", `${course.acad_session}`)
            roomSlotItem.setAttribute("data-course-name", `${course.course_name}`)
            roomSlotItem.setAttribute("data-division", `${course.division}`)
            roomSlotItem.setAttribute("data-batch", `${course.batch}`)
            roomSlotItem.setAttribute("data-faculty-name", `${course.faculty_name}`)
            roomSlotItem.setAttribute('data-faculty-type-abbr', `${course.faculty_type_abbr}`);
            roomSlotItem.setAttribute('data-start-lid',`${course.start_slot_lid}`);
            roomSlotItem.setAttribute('data-end-lid',`${course.end_slot_lid}`);
   
            roomSlotItem.setAttribute("style", `position:absolute;left: ${leftsidemargin}px ;top: 0; text-align:center; width:${widthOfEvent}px;height:100%;background-color:#ffffff;font-size:14px;padding:5px 2px 0px 2px;border-left:1px solid black;`)

            roomSlotItem.innerHTML =
                `<button type="button" class="close btn_close_custom d-none" aria-label="Close"></button>${course.program_name} - ${course.acad_session} <hr> ${course.course_name}-(${course.credits}) <hr>${course.area_name}<hr>`;

            return roomSlotItem;
}

function addRoomSlotItemsToDOM(courseList, minMaxSlotId, timetableProp, eventCount) {
    let room_slots = document.querySelectorAll('.room-slots');
  
    courseList.forEach(function (course, index) {
        eventCount++;
        let room_slot_index = Math.floor((eventCount) / 7);
        let room_slot = room_slots[room_slot_index];
        let roomSlotItem = createRoomSlotItem(course, minMaxSlotId, timetableProp, eventCount % 7);
        room_slot.append(roomSlotItem);
    });
}




</script>
  
<%- include('../partials/footerEnd.ejs') %>