<%- include('../partials/head') %>


<!-- PAGE LEVEL CSSS START -->
<% if (currentFormStep) { %>
<style>
    .stage:nth-child(-n + <%- currentFormStep-1 %>) {
        background: #3cc58c;
        color: #fff;

    }

    .stage:nth-child(-n + <%- currentFormStep-1 %>)::before {
        border-left: 25px solid #3cc58c;
    }

    .stage:nth-child(<%- currentFormStep %>) {
        background: #ffc800;
        color: #000;

    }

    .stage:nth-child(<%- currentFormStep %>)::before {
        border-left: 25px solid #ffc800;
    }
 
    .main, .top-navbar{
            left: 0 !important;
        }

    @media (min-width:1200px) {
        .navbar-logo{
        display: block !important;
    }

        .navbar-logo a img {
        width: 180px;
    
    }
    }
    

    .left-sidebar-toggle{
        display: none;
    }

    .top-navbar {
        padding: 1vh;
    }
</style>
<% } %>

<% if (!currentFormStep) { %> 
    <%- include ('../partials/leftSidebar') %>
<% } %>

<%- include ('../partials/header') %>

<div class="main-content">
    <%- include('./dashboard.ejs') %>
</div>
</main>

<%- include('../partials/footer') %>

<%- include('../partials/footerEnd') %>