<%- include('../partials/head') %>

<% if (currentFormStep) { %>
<style>
   
    .main, .top-navbar{
            left: 0 !important;
        }

    @media (min-width:1200px) {
        .navbar-logo{
        display: block !important;
    }

        .navbar-logo a img {
        width: 180px;
    
    }
    }
    

    .left-sidebar-toggle{
        display: none;
    }

    .top-navbar {
        padding: 1vh;
    }
</style>
<% } %>
    
<%- include ('../partials/leftSidebar') %>

<%- include ('../partials/header') %>

<div class="main-content">
    <div class="breadcrumbs-container">
        <ul class="breadcrumb">
                    <li>Dashboard</li>
        </ul>
    </div>
    
    <div class="row gx-3 gy-3 mb-3 row1-data"> 
        <div class="col-xl-3 col-lg-4 col-md-12 tab-class">
            <a href="javascript:void(0)" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/bid.png" alt="">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">BIDDING INFORMATION</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    
        <div class="col-xl-3 col-lg-4 col-md-12 tab-class">
            <a href="/admin/bidding-session" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/biddingSessions.png" alt="bidding-sessions">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">BIDDING SESSIONS</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    
        <div class="col-xl-3 col-lg-4 col-md-12 tab-class">
            <a href="/admin/program" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/programs.png" alt="programs">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">PROGRAMS</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-xl-3 col-lg-4 col-md-12 tab-class">
            <a href="/admin/course" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/courses.png" alt="">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">COURSES</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/program-session" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <img src="/image/admin/dashboard/room-type.PNG" alt="program-sessions">
                      <div>
                        <h5 class="fw-normal pt-1">PROGRAM SESSIONS</h5>
                       
                      </div>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/areas" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <img src="/image/admin/dashboard/area.jpg" alt="areas">
                        <div>
                            <h5 class="fw-normal pt-1">AREAS</h5>
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/specialization" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/concentration.png" alt="specialization">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">SPECIALIZATIONS</h5>
                           
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/concentration-settings" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/specilizationSettings.PNG" alt="concentration-settings">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">CONCENTRATION SETTINGS</h5>
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/student" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/student.png" alt="">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">STUDENTS</h5>
                           
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/pre-requites" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/preRequisites.png" alt="">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">PRE-REQUISITES</h5>
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/complete-courses" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/completeCourse.png" alt="" >
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">COMPLETED COURSES</h5>
                           
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/division-batches" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/division.png" alt="">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">DIVISION BATCHES</h5>
                           
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/timetable" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                          <img src="/image/admin/dashboard/timetable.png" alt="generation timetable">
                        </div>  
                        <div>
                          <h5 class="fw-normal pt-1">ELECTIVE TIMETABLE</h5>
                       </div>
                    </div>   
                </div>
            </a>
        </div>
        
        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/bidding-rounds" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                            <img src="/image/admin/dashboard/roundSettings.png" alt="bidding rounds">
                        </div>
                        <div>
                            <h5 class="fw-normal pt-1">ROUND SETTINGS</h5>
                           
                        </div>
                    </div>
                </div>
    
            </a>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-12">
            <a href="/admin/bonus-bid-points" class="tab-expand">
                <div class="card row1-data-card">
                    <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
                        <div class="mx-auto">
                          <img src="/image/admin/dashboard/bonusBidPoints.png" alt="Bonus Bid Points">
                        </div>  
                        <div>
                          <h5 class="fw-normal pt-1">BONUS BID POINTS</h5>
                       </div>
                    </div>   
                </div>
            </a>
        </div>
    
        <div class="modal" id="createBiddingSession" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Bidding Session</h3>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success">Create Bidding Session</button>
                    </div>
                </div>
            </div> 
        </div>  
</div>
</main>

<%- include('../partials/footer') %>

<script>
    $(document).ready(function(){
        setActiveMenuItem(`<%- active %>`) 
    });
</script>
<%- include('../partials/footerEnd') %>