<!-- <div class="step-form">

    <div class="d-flex pt-3 pb-4 time-line stages" style="overflow-x: scroll;">
        <div class="arrow-pointer stage pending my-1" data-step="1">Holidays </div>
        <div class="arrow-pointer stage pending my-1" data-step="2"> Room</div>
        <div class="arrow-pointer stage pending my-1" data-step="3"> Program</div>
        <div class="arrow-pointer stage pending my-1" data-step="4"> Course Workload</div>
        <div class="arrow-pointer stage pending my-1" data-step="5"> Session Date</div>
        <div class="arrow-pointer stage pending my-1" data-step="6"> Division</div>
        <div class="arrow-pointer stage pending my-1" data-step="7"> Division Batches</div>
        <div class="arrow-pointer stage pending my-1" data-step="8"> School Timing</div>
        <div class="arrow-pointer stage pending my-1" data-step="9"> Faculty </div>
        <div class="arrow-pointer stage pending my-1" data-step="10"> Faculty Date Time</div>
        <div class="arrow-pointer stage pending my-1" data-step="11"> Faculty Works</div>
        <div class="arrow-pointer stage pending my-1" data-step="12"> Faculty Preference</div>
        <div class="arrow-pointer stage pending my-1" data-step="13"> Faculty Batch</div>
    </div>

    <div id="errorHtml" class="error-show pt-3"></div>
  
    <div class="step-form-body pt-3"> -->

        <!-- Holidays -->
        <!-- <form  class="step active-form" id="holidays-form" data-step="1">
            <div class="modal-header table-card-header">
                <h5 class=" text-white" id="add-holidays-modal-title">Add New Holidays</h5>
                <button class="btn btn-danger fetchFromSAP ms-auto"><i class="fa fa-download"></i> Fetch From
                    SAP</button>
                <button type="button" class="btn add-btn btn-sm ms-2" id="add-more-holidays"><i
                        class="fas fa-plus"></i></button>
            </div> -->

            <!-- <div class="table-responsive add-holiday-table">
                <table class="table" id="add-more-holidays-table">
                    <thead>
                        <th>Calendar Id</th>
                        <th>Calendar Year</th>
                        <th>Holiday Date</th>
                        <th>Holiday Reason</th>
                        <th>Holiday Type</th> 
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr> -->
                            <!-- <td>
                                <input type="number" name="calendarId" id="" class="form-control">
                            </td> -->
                            <!-- <td>
                                <input type="number" name="calendarYear" id="" class="form-control">
                            </td>
                            <td>
                                <input type="date" name="holidayDate" class="form-control">
                            </td> 
                            <td>
                                <input type="text" name="holidayReason" class="form-control">
                            </td>
                            <td>
                                <select class="holiday-select2" name="holidayType">
                                    <option value="">--select--</option>
                                    <% for (types of holidayTypeList){%>
                                    <option value="<%- types.id%>"><%- types.name%></option>
                                    <%}%> 
                                </select>
                            </td>
                            <td>
                                <i class="far fa-edit d-none"></i>
                                <i class="fas fa-trash-alt text-danger cursor-pointer remove-holidays"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form> -->

        <!-- Room -->
        <!-- <form   class="step d-none" id="room-form" data-step="2">
            <div class="modal-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h5 class="modal-title text-white" id="add-room-modal-title">Import Rooms</h5>
                </div>
                <div>
                    <button type="button" class="add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#open-transaction-modal">
                        <i class="fas fa-plus"></i></button>
                </div>
            </div>

            <div class="">
                <input type="hidden" id="roomId" name="roomId">
                <div class="table-responsive">
                    <table class="table " id="room-table">
                        <thead>
                            <th>#</th>
                            <th>Transaction Type</th>
                            <th>Stage</th>
                            <th>Org Name</th>
                            <th>Campus</th>
                            <th>Username</th>
                        </thead>
                        <tbody>
                            <%let rcount = 1;%>
                            <% for(let trans of transactionList) {%>
                                <tr>
                                    <td><%- rcount++ %></td>
                                    <td><%- trans.transaction_type %></td>
                                    <td><%- trans.stage %></td>
                                    <td><%- trans.org_name %></td>
                                    <td><%- trans.campus_abbr %></td>
                                    <td><%- trans.username %></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>

            </div> -->


           <!-- Modal -->
            <!-- <div class="modal fade" id="open-transaction-modal" tabindex="-1" aria-labelledby="open-transaction-modal"
            aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content modal-inputform">

                        <div class="modal-header modal-inputform-header">
                            <h3 class="modal-title" id="open-transaction-modal-title">Import Room</h3>
                            <button type="button" class="btn fs-4 text-white" data-bs-dismiss="modal" aria-label="Close"><i
                                    class="fas fa-times text-dark"></i></button>
                        </div>

                        <div class="modal-body py-0">
                            <div class="row">
                        
                                <div class="col-md-3 col-xxl-3 select-items">
                                    <h4 class="text-center py-1 select-room-header">Select Rooms</h4>
                                    <input type="text" name="" id="searchItemRoom" placeholder="Search Room"
                                        class="form-control searchItemRoom">
                                    <div style="margin-top: 100px;">
                                        <div class="mt-3">
                                            <label class="form-label">Campus</label>
                                            <select name="campus_lid" id="campus_lid" class="room-select2">
                                                <option>--select--</option>
                                                <% for(let campus of campusList) { %>
                                                <option value="<%- campus.id %>">
                                                    <%- campus.campus_abbr %>
                                                </option>
                                                <% } %>
                                            </select>
                                        </div>

                                        <div class="mt-3">
                                            <label class="form-label">Building</label>
                                            <select name="building_lid" id="building_lid" class="room-select2">
                                            </select>
                                        </div>
                                    </div>
                                    <label class="form-label mt-2 fw-bold room-list-container"></label>
                                    <div class="selected-room-list"> 
                                        
                                        <ul class="list-group selectRoomList">

                                        </ul>
                                    </div>
                                </div> -->

                                <!-- SELECTED COLUMN -->
                                <!-- <div class="col-md-9 col-xxl-9 selected-items">
                                    <h4 class="text-center py-1 selected-room-header" style="max-width: 73% !important;">
                                        Selected Rooms</h4>
                                    <input type="text" name="" id="searchSelectedItem" placeholder="Search Selected Room"
                                        class="form-control searchSelectedRoom">
                                    <div class="row selected-room-filter">
                                        <div class="col-md-12">
                                            <label class="form-label">Book for Organization</label>
                                            <select name="handled_by" id="handled_by" class="room-select2">
                                                <option value="">--select--</option>
                                                <% for(let org of orgParentList) { %>
                                                <option value="<%- org.id %>" data-campus-lid="<%- org.campus_lid %>">
                                                    <%- org.org_abbr %>/<%- org.org_id %>
                                                </option>
                                                <% } %> 
                                            </select> 
                                        </div>
                                    </div>

                                    <ul class="list-group custom-select-list selectedListRoom" id="selectedList">
                                        <table class="table table-bordered" id="add-more-room-table">
                                            <thead>
                                                <th>room</th>
                                                <th>start Time</th>
                                                <th>end Time</th>
                                                <th>start Date</th>
                                                <th>end Date</th>
                                                <th>Transaction Type</th>
                                                <th>Action</th>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="px-3 error-html"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn import-room modal-inputform-btn" id="bookRoom">Book Room</button> 
                        </div>
                    </div>
                </div>
            </div>
        </form> -->

        <!--Program -->
        <!-- <form class="step d-none" id="program-form" data-step="3">
            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-program-modal-title">Add New Program</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-program" data-bs-toggle="modal"
                    data-bs-target="#open-program-modal"><i class="fas fa-plus"></i></button>
            </div>

            <div class="">
                <input type="hidden" id="programId" name="programId">
                <div class="table-responsive">
                    <table class="table table-bordered" id="">
                        <thead>
                            <th>#</th>
                            <th>Program Code</th>
                            <th>Program Name</th>
                            <th>Program Type</th>
                            <th>Abbr</th>

                        </thead>
                        <tbody>
                            <% let tcount = 1 %>
                            <%for(let program of programList) {%>
                                <tr>
                                    <td><%- tcount++ %></td>
                                    <td><%-program.program_code %></td>
                                    <td><%-program.program_name %></td>
                                    <td><%-program.program_type %></td>
                                    <td><%-program.abbr %></td>

                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div> -->

            <!-- Modal -->
            <!-- <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content modal-inputform">
                        <div class="modal-header modal-inputform-header">
                            <h3 class="modal-title" id="open-room-modal-title">Select Program</h3>
                             <button type="button" class="btn fs-4 text-white" data-bs-dismiss="modal" aria-label="Close"><i  class="fas fa-times text-dark"></i></button>
                        </div>
                                            

                        <div class="modal-body py-0">
                            <div class="row">
                                <div class="col-md-3 col-xxl-3 select-items">
                                    <h4 class="text-center py-1 select-room-header">Select Program</h4>
                                    <input type="text" name=""  placeholder="Search Program" class="form-control searchItemProgram">

                                    <ul class="list-group custom-select-list selectList selectListProgram"  style="margin-top: 70px;">
                                        <% for (let program of programDboList){ %>
                                            <li class="list-group-item" data-clickable="true" data-program-code="<%-program.program_id %>">
                                            <%- program.programName%></li>
                                        <% }%>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xxl-9 selected-items">
                                    <h4 class="text-center py-1 selected-room-header" style="max-width: 73% !important;">Selected Program</h4>
                                    <input type="text" name="" placeholder="Search Selected Program"
                                        class="form-control searchSelectedItemProgram">

                                    <ul class="list-group custom-select-list selectedListProgram" id="selectedList" style="margin-top: 50px;">
                                        <table class="table table-bordered" id="add-more-program-table">
                                            <thead>
                                                <th>Program Name</th>
                                                <th>Program Type</th>
                                                <th>Action</th>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="error-html"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn modal-inputform-btn" id="importPrograms">Import Program</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
  -->
        <!-- Course Workload-->
        <!-- <form class="step d-none" id="courseWorkload-form" data-step="4">
            <div class="modal-header table-card-header d-flex justify-content-end">
                <div class="me-auto">
                    <h5 class="modal-title" id="add-courseWorkload-modal-title">Fetch Initial Course workload</h5>
                </div>
                <div>
                    <input type="text" class="form-control" id="acadYear" value="<%- acadYear %>">
                </div>
                <div class="mx-3">
                    <select id="programLid" name="programLid" class="form-select">
                        <option value="">Select program</option>
                        <% for(let program of programList) {%>
                            <option value="<%-program.program_id %>"><%-program.program_name %></option>
                        <%}%>
                    </select>
                </div>
                <div >
                    <select id="acadSessionLid" name="acadSessionLid" class="form-select">
                    <option value="">Select Session</option>
                        <% for(let acadsession of AcadSessionList) {%>
                            <option value="<%- acadsession.acadSessionId %>"><%- acadsession.acad_session %></option>
                        <%}%>
                    </select>
                </div>
                <div class="mx-3">
                    <button  type="button" class="btn btn-danger fetchFromSAP ms-auto"><i class="fa fa-download"></i> Fetch From SAP</button>
                </div>
                <div>
                    <button type="button" class="btn btn-success SaveAllCourse"><span class="fa fa-check"></span> Save </button>
                </div>
            </div>

            <div class="modal-body">
                <input type="hidden" id="programId" name="programId">
                <div class="table-responsive">
                    <table class="table custom_row table-bordered" id="courseWorkloadTable">
                        <thead>
                            <th>Sr No.</th>
                            <th>Module Name</th>
                            <th>Module Code</th>
                            <th>Program Id</th>
                            <th>Acad Session</th>
                            <th>Module Type</th>
                            <th>Intake</th>
                            <th>Student per division</th>
                            <th>Lecture count per batch</th>
                            <th>Practical count per batch</th>
                            <th>Tutorial count_per batch</th>
                            <th>Workshop count per batch</th>
                            <th>Session Events per Semester</th>
                            <th>Continuous</th>
                        </thead>
                        <tbody> 
                            <%
                                let r1count = 1
                                for(let course of courseWorkloadList) { %>
                                <tr>
                                    <td><%- r1count++ %> <input type="hidden" class="form-control rounded-0" name="workloadlid" value="<%-course.id %>"></td>
                                    <td data-module-name="<%-course.module_name%>"><%-course.module_name%></td>
                                    <td data-module-id="<%-course.module_id%>"><%-course.module_id%></td>
                                    <td data-program-id="<%-course.program_id%>"><%-course.program_id%></td>
                                    <td data-acad-session-lid="<%-course.acad_session_lid%>"><%-course.acad_session%></td>
                                    <td>
                                    <select class="form-select rounded-0" name="module_type_lid" >
                                        <option value="">Select Module Type</option>
                                        <% for (let module of moduleList) { %>
                                            <% if (course.module_type_lid == module.id) { %>
                                                <option value="<%- module.id %>" selected><%- module.name %></option>
                                            <%} else { %>
                                                    <option value="<%- module.id %>"><%- module.name %></option>
                                            <% } %>  
                                        <%}%>
                                    </select>
                                    </td>
                                    <td><input type="number" class="form-control rounded-0" name="intake" value="<%-course.intake%>"></td>
                                    <td><input type="number" class="form-control rounded-0" name="student_per_division" value="<%-course.student_per_division%>"></td>
                                    <td><input type="number" class="form-control rounded-0" name="lecture_count_per_batch" value="<%-course.lecture_count_per_batch%>"></td>
                                    <td><input type="number" class="form-control rounded-0" name="practical_count_per_batch" value="<%-course.practical_count_per_batch%>"></td>
                                    <td><input type="number" class="form-control rounded-0" name="tutorial_count_per_batch" value="<%-course.tutorial_count_per_batch%>"></td>
                                    <td><input type="number" class="form-control rounded-0" name="workshop_count_per_batch" value="<%-course.workshop_count_per_batch%>"></td>
                                    <td><input type="number" class="form-control rounded-0" name="session_events_per_semester" value="<%-course.session_events_per_semester%>"></td>
                                    <td><input type="number" class="form-control rounded-0" name="continuous" value="<%-course.continuous%>"></td>
                                </tr>
                                <% } %>   
                        </tbody>
                    </table>

                                            
                </div>
            </div>
        </form> -->

        <!-- Session date -->
        <!-- <form  class="step d-none" id="sessionDate-form" data-step="5">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-sessionDate-modal-title">Add Session Date</h5>
                <button  type="button" class="btn btn-danger fetchFromSAP ms-auto"><i class="fa fa-download"></i> Fetch From SAP</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="sessionDate" name="sessionDate">
                <div class="table-responsive">
                    <table class="table table-bordered" id="sessionDate-table">
                        
                        <thead>
                        
                            <th>Acad session</th>
                            <th>Session type</th>
                            <th>Session start date</th>
                            <th>Session end date</th>
                            
                      
                        </thead>
                        <tbody>
                      
                            <% for (let program of sessionDateList) { %> 
                            <tr>
                                
                                <td><%- program.acad_session %></td>
                                <td><%- program.session_type %></td>
                                <td><%- program.startDate %></td>
                                <td><%- program.endDate %></td>
                             
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </form> -->

        <!-- Division -->
        <!-- <form  class="step d-none" id="division-form" data-step="6">
            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-division-modal-title">Divisions</h5>
                <button type="button" class="btn add-btn btn-sm ms-auto" id="add-more-division"><i class="fas fa-plus"></i></button>
                <button class="btn btn-success saveDivision" type="button"><span class="fa fa-check"></span> Save </button>
            </div> -->

            <!-- <div class="modal-body">
                <input type="hidden" id="division" name="division">
                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-division-table">
                        <thead>
                            <th>Module Name</th>
                            <th>Division</th>
                            <th>Division Number</th>
                            <th>Division count</th>
                            <th>Count for theory batch</th>
                            <th>Count for practical batch</th>
                            <th>Count for tutorial batch</th>
                            <th>Count for workshop batch</th>
                            
                        </thead>
                        <tbody>
                            <% for(let div of divisionData) {%>
                                <tr>
                                    <td>
                                        <%- div.module_name%> <input type="hidden" name="divId" value="<%- div.id%>">
                                    </td>
                                    <td><%- div.division%></td>
                                    <td><%- div.division_num%></td>
                                    <td><%- div.division_count%></td>
                                    <td><input class="form-control rounded-0" name="count_for_theory_batch"
                                            value="<%-div.count_for_theory_batch%>"></td>
                                    <td><input class="form-control rounded-0" name="count_for_practical_batch"
                                            value="<%-div.count_for_practical_batch%>"></td>
                                    <td><input class="form-control rounded-0" name="count_for_tutorial_batch"
                                            value="<%-div.count_for_tutorial_batch%>"></td>
                                    <td><input class="form-control rounded-0" name="count_for_workshop_batch"
                                            value="<%-div.count_for_workshop_batch%>"></td>
                                   
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </form> -->

        <!-- Division Batches -->
        <!-- <form  class="step d-none" id="divisionBatches" data-step="7">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-divisionBatches-modal-title">Add Division batches</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-divisionbatches"><i
                        class="fas fa-plus"></i> </button>
                <button class="btn btn-success saveDivisionBatch" type="button"><span class="fa fa-check"></span> Save </button>
            </div> -->

            <!-- <div class="modal-body">
                <input type="hidden" id="divisionBatches" name="divisionBatches">
                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-divisionBatches-table">
                        <thead>
                            <th>Module Name</th>
                            <th>Division</th>
                            <th>Batch</th>
                            <th>Event Type</th>
                            <th>Division Count</th>
                            <th>Batch Count</th>
                            <th>Input Batch count</th>
                            <th>Facult Count</th>
                         
                        </thead>
                        <tbody>
                            <tr>
                                <% for(let batch of divisionBatchList) {%>
                                    <tr>
                                        <td>
                                            <%- batch.module_name%>
                                        </td>
                                        <td><%- batch.division%></td>
                                        <td><%- batch.batch%><input type="hidden" class="form-control" name="batch_id"
                                                value="<%- batch.id %>"></td>
                                        <td><%- batch.event_name%></td>
                                        <td><%- batch.divison_count%></td>
                                        <td><%- batch.batch_count%></td>
                                        <td><%- batch.input_batch_count%></td>
                                        <td><input class="form-control" type="number" name="faculty_count"
                                                value="<%-batch.faculty_count%>"></td>

                                    </tr>
                                <%}%>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </form> -->

        <!-- School Timing --> 
        <!-- <form  class="step d-none" id="schoolTiming" data-step="8">
            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-schoolTiming-modal-title">School Timing</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-schoolTiming"><i class="fas fa-plus"></i> </button>
            </div>
            <div class="row px-3">
 
                <% let stsCount = 0; for(let setting of schoolTimingSettingsList) { stsCount++;
  
                if(stsStatus > 0) { %>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="form-check">
                        <input class="form-check-input schoolTimingOptions me-1" type="radio" id="sts-<%- stsCount %>" name="school-timing-setting" data-name="<%- setting.name %>" <%- setting.status != 1 ? 'disabled' : '' %> <%- setting.status == 1 ? 'checked' : '' %>>
                        <label class="form-check-label" for="sts-<%- stsCount %>">
                            <%- setting.name %>
                        </label>
                    </div>
                </div>
                <% } else { %>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="form-check">
                            <input class="form-check-input schoolTimingOptions me-1" type="radio" id="sts-<%- stsCount %>" name="school-timing-setting" data-name="<%- setting.name %>">
                            <label class="form-check-label" for="sts-<%- stsCount %>">
                                <%- setting.name %>
                            </label>
                        </div>
                    </div>

            <%  } 
            } %>

            </div>
            <div class="modal-body schoolTimingOptionsContainer">
           
                <div class="table-responsive sameForAllDay" data-dis="true">
                    <table class="table table-bordered" id="add-more-sameForAllDay-table">
                        <thead>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>School Timing Type</th>
                            <th>Action</th>
                        </thead>
                        <tbody>                            
                            <tr>
                                <td>
                                    <select class="school-timing-select2" name="startTime">
                                        <% for(time of slotTime){%>
                                            <option value="<%- time.id%>"><%- time.start_time %></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <select class="school-timing-select2" name="endTime">
                                        <% for(time of slotTime){%>
                                            <option value="<%- time.id%>"><%- time.end_time %></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <select name="schoolTimingType" id="" class="school-timing-select2" >
                                        <% for(type of schoolTimingTypeList){%>
                                            <option value="<%- type.id%>"><%- type.name%></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-schoolTiming"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

               
            </div>
        </form> -->

        <!-- Faculty -->
        <!-- <form  class="step d-none" id="faculty" data-step="9">

            <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h5>Add Faculty</h5>
                </div>
                <div>
                    <button class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#open-faculty-modal" type="button"><i class="fas fa-plus"></i></button>
                </div>
            </div>

            <div class="card-body table-responsive">
                <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
                <table class="table custom_row" id="facultyTable">
                    <thead>
                        <th>Sr.No.</th>
                        <th>Faculty Id</th>
                        <th>Faculty Name</th>
                    </thead>
                    <tbody>
                        <% let count = 1%>
                        <%for(let faculty of facultyList){%>
                            <tr>
                                <td><%- count++ %></td>
                                <td data-faculty-id="<%- faculty.id %>"><%- faculty.faculty_id %></td>
                                <td><%- faculty.faculty_name %></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
         -->

            <!-- IMPORT FACULTY MODAL -->
            <!-- Modal -->
            <!-- <div class="modal fade" id="open-faculty-modal" tabindex="-1" aria-labelledby="open-faculty-modal" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen modal-lg">
                    <div class="modal-content modal-inputform">
                        <div class="modal-header modal-inputform-header">
                            <h3 class="modal-title" id="open-faculty-modal-title">Import Faculty</h3>
                            <button type="button" class="btn fs-4 text-white" data-bs-dismiss="modal" aria-label="Close"><i
                                    class="fas fa-times text-dark"></i></button>
                        </div>

                        <div class="modal-body py-0">

                            <div class="row">
                                <div class="col-md-3 select-items">
                                    <h4 class="text-center py-1 select-room-header">Select Faculties</h4>
                                    <input type="text" name="" id="searchItem" placeholder="Search Faculty"
                                        class="form-control searchItemFaculty">
                                    <ul class="list-group custom-select-list selectListFaculty" id="selectList" style="margin-top: 60px;">

                                        <% for (let faculty of faculties) { %>
                                        <li class="list-group-item my-1 border-top" data-faculty-name="<%- faculty.faculty_name %>"
                                            data-faculty-id="<%- faculty.faculty_id%>" data-faculty-lid="<%- faculty.id%>" data-clickable="true">
                                            <%- faculty.faculty_name %> (<%- faculty.faculty_id%>)
                                            %></li>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="col-md-9 selected-items">
                                    <h4 class="text-center py-1 selected-room-header">Selected Faculties</h4>
                                    <input type="text" name="" id="searchSelectedItem" placeholder="Search Selected Faculty"
                                        class="form-control searchSelectedFaculty">
                                    <ul class="list-group custom-select-list selectedListFaculty" id="selectedList" style="margin-top: 50px;">
                                        <table class="table table-bordered" id="add-more-faculty-table">
                                            <thead>
                                                <th>Faculty Name</th>
                                                <th>Faculty Type</th>
                                                <th>Action</th>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </ul>

                                </div>

                            </div>
                        </div>
                        <div class="px-3 errorHtml"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn importFaculty modal-inputform-btn">Import Faculty</button>
                        </div>
                    </div>
                </div>
            </div>

        </form> -->

        <!-- Faculty Date Time-->
        <!-- <form  class="step d-none" id="facultyDateTime" data-step="10">

            <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h5>Faculty Date Time</h5> 
                </div>
                <div>
                    <button class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-facultydatetime-modal" type="button"><i
                            class="fas fa-plus"></i></button>
                    <button class="btn ms-auto delete-buildings add-btn "><i class="fas fa-trash"></i></button>
                    <button class="btn ms-auto bulk-delete-buildings add-btn "><img src="/icons/delete.png" alt=""
                            width="24px" height="32px"></button>
                </div>
            </div> -->

            <!-- <div class="card-body table-responsive">
                <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                        type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
                <table class="table custom_row" id="facultyDateTimeTable">
                    <thead>
                     
                        <th>Faculty Name</th>
                        <th>Faculty Id</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>

                    </thead>
                    <tbody>
                    
                        <% for (let faculty of FacultyDateTimeList) { %>
           
                        <tr>
                           
                            <td>
                                <%- faculty.faculty_name %>
                            </td>
                            <td>
                                <%- faculty.faculty_id %>
                            </td>
                            <td>
                                <%- faculty.start_date %>
                            </td>
                            <td>
                                <%- faculty.end_date %>
                            </td>
                            <td>
                                <%- faculty.start_time %>
                            </td>
                            <td>
                                <%- faculty.end_time %>
                            </td>
                          
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                
            </div>
         -->

        
           <!-- IMPORT FACULTY MODAL -->
            <!-- <div class="modal fade" id="add-facultydatetime-modal" tabindex="-1" role="dialog" aria-labelledby="add-holiday-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-fullscreen" role="document">
                <div class="modal-content modal-inputform">
                    <div class="modal-header modal-inputform-header">
                        <h5 class="modal-title text-dark" id="add-org-modal-title">ADD FACULTY DATE TIME</h5>
                        <button type="button" class="btn fs-4 text-dark" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fas fa-times"></i></button>

                    </div>
               
                    <div class="modal-body">
                        <div id="errorHtml"></div>


                    <div class="row">
                        <div class="col-md-3 select-items">
                        <div class="mb-3">
                            <label class="form-label">Select Faculty</label>
                            <select class="faculty-dt-select2 faculty-drop-down" id="faculty-drop-down">
                                <option value="">Select faculty</option>
                                <% for (let faculty of facultyList) { %>
                                    <option  data-faculty-name="<%- faculty.faculty_name %>"
                                        data-faculty-id="<%- faculty.faculty_id%>" data-faculty-lid="<%- faculty.id %>"  value="<%- faculty.faculty_dbo_lid %>">
                                        <%- faculty.faculty_name %> (<%- faculty.faculty_id%>)
                                        %></option>
                                    <% } %>
                            </select>

                        </div>
                        <div class="mb-3">
                        <label class="form-label">Select Start Time</label>
                            <select class="faculty-dt-select2" name="start_time_id" id="start_time_id"></select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Select End Time</label>
                            <select class="faculty-dt-select2" name="end_time_id" id="end_time_id"></select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Select Start Date</label>
                            <select class="faculty-dt-select2 " name="start_date_id" id="start_date_id">
                                <% for(let start_date of acadCal) {%>
                                <option value="<%-start_date.id%>"><%-start_date.date_str%></option>
                                <%}%>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Select End Date</label>
                            <select class="faculty-dt-select2 " name="end_date_id" id="end_date_id">
                                <% for(let end_date of acadCal) {%>
                                <option value="<%-end_date.id%>"><%-end_date.date_str%></option>
                                <%}%>
                            </select>
                        </div>
            

                        <div class="mb-3 d-grid gap-2">
                            <button class="btn btn-info text-light add-faculty-date-time" disabled type="button">ADD FACULTY DATE TIME</button>
                        </div>

                        <div class="alert alert-success rounded-0" role="alert">
                            Note: Select Faculty First.
                        </div>

                        </div>
                        <div class="col-md-9 selected-items">
                            <div class="table-responsive">
                                <table class="table table-bordered table-bordered" id="add-more-faculty-date-time-table">
                                    <thead>
                                        <th>Sr No.</th>
                                        <th>Faculty Name</th>
                                        <th>Faculty Id</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn createfacultydatetime modal-inputform-btn">CREATE</button>
                     
                    </div>
                </div>
            </div>
            </div>

        </form> -->

        <!-- Faculty Works -->
        <!-- <form class="step d-none" id="facultyWorks" data-step="11">

            <div class="card table-card">
                <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                    <div>
                        <h5>Faculty Works</h5>
                    </div>
                    <div>
                        <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal"
                            data-bs-target="#add-facultywork-modal">
                            <i class="fas fa-plus"></i></button>
                        <button class="btn ms-auto select-delete-facultywork add-btn "><i class="fas fa-trash"></i></button>
                        <button class="btn ms-auto bulk-delete-facultywork add-btn "><img src="/icons/delete.png" alt=""
                                width="26px" height="32px"></button>
                    </div>
                </div>
               
                <div class="card-body table-responsive">
                    <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                            type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
        
                    <table class="table custom_row table-bordered" id="facultyWorkTable">
                        <thead>
                            
                            <th>Faculty</th>
                            <th>Faculty Id</th>
                            <th>Program Session</th>
                            <th>Module</th>

                            <th>Total Lecture per week</th>
                            <th>Total Practical per week</th>
                            <th>Total Tutorial per week</th>
                            <th>Total Workshop per week</th>

                            <th>Batch preference</th>
                           
                        </thead> 
                        <tbody>
                            
                            <% for(let faculty of facultyWorkList) {%> 
                            <tr>
                                
                                <td><%- faculty.faculty_name %></td>
                                <td><%- faculty.faculty_id %></td>
                                <td><%- faculty.acad_session %></td>
                                <td><%- faculty.module_name %></td>
                                <td><%- faculty.lecture_per_week %></td>
                                <td><%- faculty.practical_per_week %></td>
                                <td><%- faculty.tutorial_per_week %></td>
                                <td><%- faculty.workshop_per_week %></td>
                                <td><%- faculty.is_batch_preference_set_status %></td>
                               
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        
                        <div>
                            <p id="pagination" class="pagination-search"></p>
                        </div>
                    </div>
                </div>
            </div> -->
      
        
        <!--ADD Modal -->
        <!-- <div class="modal fade" id="add-facultywork-modal" tabindex="-1" aria-labelledby="add-facultywork-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen">
                <div class="modal-content modal-inputform">
                    <div class="modal-header modal-inputform-header">
                        <h5 class="modal-title" id="add-facultywork-modal-title">ADD FACULTY WORKS</h5>
                        <button type="button" class="btn fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fas fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="errorHtml"></div>
                        <input type="hidden" id="hidden_id">
                        <div class="table-responsive ">
                            <table class="table table-bordered" id="add-more-facultywork-table">
                                <thead>
                                    <th>Faculty</th>
                                    <th>Program Session</th>
                                    <th>Module</th>
                                    <th>Total Lecture per week</th>
                                    <th>Total Practical per week</th>
                                    <th>Total Tutorial per week</th> 
                                    <th>Total Workshop per week</th>
                                    <th>Batch preference</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="faculty-works-select2" name="faculty_lid" id="faculty_lid">
                                                <option value="">--select--</option>
                                                <% for(faculty of facultyList) {%>
                                                <option value="<%- faculty.id %>">
                                                    <%- faculty.faculty_name %>-<%- faculty.faculty_id %></option>
                                                <%}%>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="faculty-works-select2" name="program_session_lid" id="program_session_lid">
                                                <option value="">--select--</option>
                                                <% for(session of programSession) {%>
                                                <option value="<%- session.id %>"><%- session.acad_session %></option>
                                                <%}%>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="faculty-works-select2" name="module_lid" id="module_lid">
                                                <option value="">--select--</option>
                                                <% for(course of courseWorkloadList) {%>
                                                <option value="<%- course.id %>">
                                                    <%- course.module_name %>(<%- course.module_id %>)</option>
                                                <%}%>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" name="lecture_per_week" id="lecture_per_week" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" name="practical_per_week" id="practical_per_week" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" name="tutorial_per_week" id="tutorial_per_week" class="form-control">
                                        </td>
                                        <td><input type="number" name="workshop_per_week" id="workshop_per_week" class="form-control"></td>
                                        <td>
                                            <input type="number" name="is_batch_preference_set" class="form-control">
                                            <select class="faculty-works-select2" name="is_batch_preference_set" id="is_batch_preference_set">
                                                <option value="">Select preference</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </td>
        
                                        <td>
                                            <i class="far fa-edit d-none"></i>
                                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-facultyworkfield"></i>
                                        </td>
                                    </tr>
                                </tbody>
        
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <div class="errorHtml"></div> -->
                        <button type="button" class="btn btn-success  btn-sm" id="add-more-facultyworkfields"><i
                                class="fas fa-plus"></i>
                            Add More Fields</button>
                        <button type="button" class="btn  createFacultyWorkLoad modal-inputform-btn">Create
                            </button>
                   
                    </div>
                </div>
            </div>
        </div>
               
        </form>
  -->
        <!-- Faculty Time Preference -->
        <!-- <form  class="step d-none" id="facultyPreference" data-step="12">

            <div class="card table-card">
                <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                    <div>
                        <h5>Faculy Work Time Preference</h5>
                    </div>
                    <div>
                        <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-facultypreference-modal"><i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
        
                <div class="card-body table-responsive">
                    <div class="table-searchbar-container d-flex"><button type="button"><i class="fas fa-search"></i></button>
                        <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
        
                    <table class="table custom_row table-bordered" id="facultyWorkTimePreference">
                        <thead>
                           
                            <th>Faculty Name</th>
                            <th>Faculty Id</th>
                            <th>Program Name</th>
                            <th>Program Id</th>
                            <th>Program Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            
                        </thead>
                        <tbody>
                        
                          <% for(let list of facultyPreferenceList){%>
                            <tr>
                            
                                <td><%- list.faculty_name %> </td>
                                <td><%- list.faculty_id %></td>
                                <td><%- list.program_name %></td>
                                <td><%- list.program_id %></td>
                                <td><%- list.day_name %></td>
                                <td><%- list.start_time %></td>
                                <td><%- list.end_time %></td>
                              
                            </tr>
                           <%}%> 
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                       
                    </div>
                </div>
            </div> -->

              <!--ADD Modal -->
            <!-- <div class="modal fade" id="add-facultypreference-modal" tabindex="-1" aria-labelledby="add-facultypreference-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen">
                <div class="modal-content modal-inputform">
                    <div class="modal-header modal-inputform-header">
                        <h5 class="modal-title" id="add-facultypreference-modal-title">ADD FACULTY PREFERENCES</h5>
                        <button type="button" class="btn fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fas fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="errorHtml"></div>
                        <input type="hidden" id="hidden_id">
                        <div class="table-responsive ">
                            <table class="table table-bordered" id="facultyworktimepreferencesTable">
                                <thead>
                                    <th>Faculty Work</th>
                                    <th>Program Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="faculty-pref-select2" name="faculty_work_lid" id="faculty_work_lid">
                                                <% for(faculty of facultyWorkList) {%>
                                                <option value="<%- faculty.id %>">
                                                    <%- faculty.faculty_name %>-<%- faculty.faculty_id %></option>
                                                <%}%>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="faculty-pref-select2" name="p_day_lid" id="p_day_lid">
                                                <% for(programday of programDayList) {%>
                                                <option value="<%- programday.id %>"><%- programday.program_name %> ( <%- programday.day_name %> )</option>
                                                <%}%>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="faculty-pref-select2" name="start_time_id" id="start_time_id">
                                                <option value="">Select Start Time</option>
                                                <%for(let startlist of slotTime){%>
                                                    <option value="<%-startlist.id%>"><%- startlist.start_time %></option>
                                                    <%}%>
                                        </select>
                                        </td>
                                        <td>
                                            <select class="faculty-pref-select2" name="end_time_id" id="end_time_id">
                                                <option value="">Select End Time</option>
                                                <%for(let endlist of slotTime){%>
                                                    <option value="<%-endlist.id%>"><%- endlist.end_time %></option>
                                                <%}%>
                                        </select>
                                        </td>
                                

                                        <td>
                                            <i class="far fa-edit d-none"></i>
                                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-facultyworktimepreference"></i>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="errorMsg"></div>
                        <button type="button" class="btn btn-success  btn-sm" id="add-more-facultyworktimepreferences"><i class="fas fa-plus"></i>Add More Fields</button>
                        <button type="button" class="btn  createFacultyWorkTimePref modal-inputform-btn">Create</button>
                       
                    </div>
                </div>
            </div>
            </div>
        </form> -->
 
        <!-- Faculty Batch --> 
        <!-- <form class="step d-none" id="facultyBatch" data-step="13">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="aadd-more-facultybatch-fields-title">Add Faculty Batch</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-facultybatch-fields"><i class="fas fa-plus"></i> </button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="facultyBatch" name="facultyBatch">
                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-facultybatch-table">
                        <thead>
                            <th>Faculty</th>
                            <th>Batch</th>
                            <th>Action</th> 
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="faculty-batch-select2" name="faculty_lid" id="faculty_lid">
                                        <option value="">--select--</option>
                                        <% for(faculty of facultyList) {%>
                                        <option value="<%- faculty.id %>">
                                            <%- faculty.faculty_name %> (<%- faculty.faculty_id %>)</option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" name="faculty_batch" id="faculty_batch" class="form-control">
                                    <select class="faculty-batch-select2" name="faculty_batch" id="faculty_batch">
                                        <option value="">--select--</option>
                                        <% for(batch of batchList) {%>
                                        <option value="<%- batch.batch %>"> <%- batch.batch %></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-facultybatchfield"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </form>
    </div>

    <div class="step-form-footer">
        <div class="btn-container d-flex justify-content-end">
            <button type="button" class="nxt-btn" id="next-step">Next</button>
        </div>
    </div>

</div> -->