<%- include('../partials/head') %>
<%- include ('../partials/header') %>

<div class="main-content">  
    <%- include('./dashboard.ejs') %>
 </div>
</main>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
 $(document).ready(function(){
     let confirmCourseList = `<%- JSON.stringify(confirmCourseList.length) %>`;
     let dropCouresList = `<%- JSON.stringify(dropCourseList.length) %>`;
     let winningCourseList = `<%- JSON.stringify(winningCourseList.length) %>`;
     let waitListCourseList = `<%- JSON.stringify(waitListCourseList.length) %>`;
                                 
let courseList = [];

const coursesData = [
    { count: confirmCourseList, label: "Confirmed Courses" },
    { count: dropCouresList, label: "Dropped Coures" },
    { count: winningCourseList, label: "Winning Courses" },
    { count: waitListCourseList, label: "WaitList Courses" }
];

coursesData.forEach(course => {
    if (course.count > 0) {
        courseList.push({
            y: course.count,
            label: course.label
        });
    }
});


var chart = new CanvasJS.Chart("courseChart", {
	animationEnabled: true,
	title: {
		text: "Course Details  of student"
	},
	data: [{
		type: "pie",
		startAngle: 0,
		indexLabel: "{label} {y}",
		dataPoints: courseList
	}]
});
chart.render();

chart.options.data[0].click = function(e) {
    $('.waitlist, .winning, .dropped, .confirmed').addClass('d-none');
    $('.course-list').removeClass('d-none');
    console.log('values of e.dataPoint.exploded',e.dataPoint.exploded);
    if(e.dataPoint.exploded){
    let className = e.dataPoint.label.split(' ')[0].toLowerCase();
  
  
      if ($(window).width() < 576) { 
        $('#courseChart').parent().removeClass('d-flex');
      } else {
        $('#courseChart').parent().addClass('d-flex');
      }
    
    let target = $('.'+className);
    
    $(document).find('.' + className).removeClass('d-none');
}};

$('#courseChart .canvasjs-chart-credit').addClass('d-none');

$(document).on('click','.hideAllCourseTable', function () {
    $('#courseChart').removeClass('d-none');
    $('.course-list').addClass('d-none');
    $(this).html('Show All Course Table').removeClass('btn-danger').addClass('btn-success');
    $(this).addClass('showAllCouresTable');
});

$(document).on('click', '.showAllCouresTable', function () {
    $('#courseChart').addClass('d-none');
    $('.course-list').removeClass('d-none');
    $('.waitlist, .winning, .dropped, .confirmed').removeClass('d-none');
    $(this).html('Hide All Course Table').addClass('btn-danger').addClass('btn-danger');
    $(this).removeClass('showAllCouresTable');
    $(this).addClass('hideAllCourseTable');
});
 });


</script>
<%- include('../partials/footer') %>

<%- include('../partials/footerEnd') %>

