<%- include('../partials/head') %>
<%- include ('../partials/header') %>
<%- include('../partials/leftSidebarForStudent.ejs') %>

<div class="main-content">  
    <div class="card card-custom-border-curv">
        <div class="card-header-custom d-flex justify-content-between p-1">
            <h4 class="ms-2">Home</h4>
        </div>
        <div class="card-body table-responsive">
            <div class="row">
                <div class="col-md-4 d-flex">
                    <p>Bidding Name: <span><%- locals.biddingName.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></span></p>
                </div>
                <div class="col-md-4 d-flex">
                    <p>Max Yearly Credits: <span><%- maxYearlyCredits %></span></p>
                </div>
                <div class="col-md-4">
                    <p>Confirmed Credits: <span>0</span></p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4 d-flex">
                    <% const bidPoints = studentDetails.length > 0 ? studentDetails[0].bid_points : 0 %>
                    <p>Total Bid Points:</p>&nbsp;<span id="total-bid-point"><%- bidPoints %></span>
                </div>
                <div class="col-md-4">
                    <p>Remaining Bid Points: <span>0</span></p>
                </div>  
            </div>  
        </div>
    </div>  

    <div class="card card-custom-border-curv mt-5">
        <div class="card-header-custom d-flex justify-content-between p-1">
            <h4 class="ms-2">MBA Concentration</h4>
        </div>
        <div class="card-body table-responsive">
            <div class="row ms-5 d-flex justify-content-between">
                <% const specializationName = studentDetails.length > 0 ? studentDetails[0].concentrationName.toLowerCase() : '' %>
                <% for (let concentration of concentrationList) { %>
                    <% const concentrationNameLower = concentration.concentration_name.toLowerCase() %>
                    <div class="col-md-3 d-flex align-items-center">
                        <input type="radio" name="concentration-name" data-concentration-id="<%- concentration.id %>" id="concentration<%- concentration.id %>" data-concentration-name="<%-concentration.concentration_name %>" <% if (concentrationNameLower === specializationName) { %> checked <% } %>>
                        <label class="mb-0 ms-2" for="concentration<%- concentration.id %>"><%- concentration.concentration_name %></label>
                    </div>
                <% } %>                                                        
            </div>
        </div>
    </div>

    <div class="card card-custom-border-curv mt-5">
        <div class="card-header-custom d-flex justify-content-between">
            <h4 class="ms-2">Student Courses Details</h4>
            <button class="btn btn-success me-3 showAllCouresTable disabled">Show All Course Table</button>
        </div>
        <div class="card-body table-responsive">
            <div class="d-flex flex-column flex-sm-row">
                <div class="col-md-5 d-none" id="courseChart"></div>
                <div class="container">
                    <div class="row gx-3 gy-5 d-none course-list">
                        <div class="d-flex">
                            <div class="flex-fill col-md-6 card card-custom-border-curv me-5 confirmed">
                                <div class="d-flex justify-content-center mt-2">
                                    <h5 class="ms-2">Confirmed Courses</h5>
                                </div>   
                                <div class="card-body table-responsive" id="confirm-course-table">
                                    <div class="row m-auto d-flex">
                                        <table class="table-responsive table-bordered table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Course</th>
                                                    <th>Credits</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(confirmCourseList.length > 0) { %>
                                                    <% let count = 1; %>
                                                    <% for(let confirmCourse of confirmCourseList) { %>
                                                        <tr>
                                                            <td><%- count++ %></td>
                                                            <td><%- confirmCourse.course_name %></td>
                                                            <td><%- confirmCourse.credits %></td>
                                                        </tr>
                                                    <% } %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="3">There are no Confirmed courses</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>    
                                    </div>
                                </div>
                            </div>
                            <div class="flex-fill col-md-6 card card-custom-border-curv dropped">
                                <div class="d-flex justify-content-center p-1">
                                    <h5 class="ms-2">Dropped Courses</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <div class="row m-auto d-flex">
                                        <table class="table-responsive table-bordered table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Course</th>
                                                    <th>Credits</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(dropCourseList.length > 0) { %>
                                                    <% let count = 1; %>
                                                    <% for(let dropCourse of dropCourseList) { %>
                                                        <tr>
                                                            <td><%- count++ %></td>
                                                            <td><%- dropCourse.course_name %></td>
                                                            <td><%- dropCourse.credits %></td>
                                                        </tr>
                                                    <% } %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="3">There are no Dropped Courses</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="d-flex">
                            <div class="flex-fill col-md-6 card card-custom-border-curv me-5 waitlist">
                                <div class="d-flex justify-content-center p-1">
                                    <h5 class="ms-2">Waitlist Courses</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table-responsive table-bordered table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Course</th>
                                                <th>Credits</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(waitListCourseList.length > 0) { %>
                                                <% let count = 1; %>
                                                <% for(let waitListCourse of waitListCourseList) { %>
                                                    <tr>
                                                        <td><%- count++ %></td>
                                                        <td><%- waitListCourse.course_name %></td>
                                                        <td><%- waitListCourse.credits %></td>
                                                    </tr>
                                                <% } %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="3">There are no Waitlist Courses</td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                            <div class="flex-fill col-md-6 card card-custom-border-curv">
                                <div class="d-flex justify-content-center p-1">
                                    <h5 class="ms-2">Winning Courses</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <div class="row m-auto d-flex">
                                        <table class="table-responsive table-bordered table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Course</th>
                                                    <th>Credits</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(winningCourseList.length > 0) { %>
                                                    <% let count = 1; %>
                                                    <% for(let winningCourse of winningCourseList) { %>
                                                        <tr>
                                                            <td><%- count++ %></td>
                                                            <td><%- winningCourse.course_name %></td>
                                                            <td><%- winningCourse.credits %></td>
                                                        </tr>
                                                    <% } %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="3">There are not Winning Courses</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="card card-custom-border-curv mt-5">
        <div class="card-header-custom d-flex justify-content-between">
            <h4 class="ms-2">Completed Courses</h4>
        </div>
        <div class="card-body table-responsive">
            <div class="row m-auto d-flex">
                <table class="table-responsive table-bordered table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let count = 1 %>
                        <% for (let course of completedCoureses) { %> 
                            <tr data-id="<%- course.id %>" data-course-name="<%- course.course_name %>">
                                <td><%- count++ %></td>
                                <td><%- course.course_name %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
</div>

</main>

<%- include('../partials/footer.ejs') %>

<script>
 $(document).ready(function(){
 
     setActiveMenuItem(`<%- active %>`)

     let confirmCourseList = `<%- JSON.stringify(confirmCourseList.length) %>`;
     let dropCouresList = `<%- JSON.stringify(dropCourseList.length) %>`;
     let winningCourseList = `<%- JSON.stringify(winningCourseList.length) %>`;
     let waitListCourseList = `<%- JSON.stringify(waitListCourseList.length) %>`;
                                 
     let courseList = [];

     const coursesData = [
        { count: confirmCourseList, label: "Confirmed Courses" },
        { count: dropCouresList, label: "Dropped Coures" },
        { count: winningCourseList, label: "Winning Courses" },
        { count: waitListCourseList, label: "WaitList Courses" }
     ];
     
     if((confirmCourseList > 0) || (dropCouresList > 0) || (winningCourseList > 0 ) || (waitListCourseList > 0)){
        $('.showAllCouresTable').removeClass('disabled');
        $('#courseChart').removeClass('d-none');
     }
     else{
        $('.showAllCouresTable').addClass('disabled');
        $('#courseChart').addClass('d-none');
     }
     coursesData.forEach(course => {
        if (course.count > 0) {
            courseList.push({
                y: course.count,
                label: course.label
            });
        }
     });

     var chart = new CanvasJS.Chart("courseChart", {
            animationEnabled: true,
            title: {
                text: "Course Details  of student"
            },
            data: [{
                type: "pie",
                startAngle: 0,
                indexLabel: "{label} {y}",
                dataPoints: courseList
            }]
        });
     chart.render();

        chart.options.data[0].click = function(e) {
            $('.waitlist, .winning, .dropped, .confirmed').addClass('d-none');
            $('.course-list').removeClass('d-none');
            $('#courseChart')
            if(e.dataPoint.exploded){
            let className = e.dataPoint.label.split(' ')[0].toLowerCase();
        
            if ($(window).width() < 576) { 
                $('#courseChart').parent().removeClass('d-flex');
            } else {
                $('#courseChart').parent().addClass('d-flex');
            }
            
            let target = $('.'+className);
            $(document).find('.' + className).removeClass('d-none');
        }};

        $('#courseChart .canvasjs-chart-credit').addClass('d-none');

        $(document).on('click','.hideAllCourseTable', function () {
            $('#courseChart').removeClass('d-none');
            $('.course-list').addClass('d-none');
            $(this).html('Show All Course Table').removeClass('btn-danger').addClass('btn-success');
            $(this).addClass('showAllCouresTable');
        });

        $(document).on('click', '.showAllCouresTable', function () {
            $('#courseChart').addClass('d-none');
            $('.course-list').removeClass('d-none');
            $('.waitlist, .winning, .dropped, .confirmed').removeClass('d-none');
            $(this).html('Hide All Course Table').addClass('btn-danger').addClass('btn-danger');
            $(this).removeClass('showAllCouresTable');
            $(this).addClass('hideAllCourseTable');
        });

        $(document).on('click','input[name ="concentration-name"]',function(){
            let id = $('#student-data').data('student-id');
            let concentrationName = $(this).data('concentration-name');
            let concentration_lid = $(this).data('concentration-id');
            let selectedConcentration = {
                id: id,
                concentration_lid: concentration_lid,
                concentration_name: concentrationName
            }

            let SelectedConcentrationDetails  = {
                select_specialization: selectedConcentration,
            };

            let ApiObj = {
                url:'/student/specializations/save',
                type:'POST',
                data:{inputJSON:JSON.stringify(SelectedConcentrationDetails)
                },
                datatype:'JSON'
            }
            ajaxApi(ApiObj).then(result=>{
                
                createToast({ title: "Success", msg: result.description, type: "positive" });
             }).catch(error =>{
                let errorMessage = JSON.stringify(error.responseJSON.description);
                createToast({ title: "Fail", msg: errorMessage, type: "negative" });
            }) 
            })
 });

</script>

<footer class="student-footer">
    <div class="student-footer-div">
        <div class="d-flex justify-content-center align-items-center">
        </div>
    </div>
</footer>

</body>
</html>

