<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="main-content">
    <div class="breadcrumbs-container">
        <ul class="breadcrumb">
            <% if (breadcrumbs) { %>
                <% for (let crumbs of breadcrumbs) { %>
                    <% let crubm_name = crumbs.name == 'ADMIN' ? 'Dashboard' : crumbs.name;
                     %>
                    <li><a href="<%- crumbs.url %>"><%- crubm_name %></a></li>
                <% } %>
            <% } %>
        </ul>
        
    </div>
  <div class="card card-custom-border-curv">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2"> Specialization </h3>
        <button type="button" class="btn add-btn-specialization me-2" data-bs-target="#add-specialization" data-bs-toggle="modal" >
            <i class="fas fa-plus p-1"></i>
        </button>  
    </div>
    <div class="card-body table-responsive">
        <div class="d-flex justify-content-between">
            <div>
                <label>Show Entries</label>
                <select class="form-select" id="changeEntry">
                    <% for (let page of locals.page_filter) { %>
                        <option value="<%- page %>"><%- page %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <div class="table-searchbar-container d-flex justify-content-around p-1">
                    <button type="button" id="searchkeyword-button" class="border-0 outline-0">
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar" autocomplete="off" size="24">
                </div>
            </div>
        </div>

        <table class="table custom_row table-bordered mt-4 custom-table" id="specialization-table">
            <thead>
                <th>#</th>
                <th>Specialization Name</th>
                <th>Actions</th>
                
            </thead>
            <tbody>
                <% let count = 1 %>
                <%for(let specialization of specializationList) {%>
                    <tr>
                        <td><%- count++ %></td>
                        <td><%-specialization.concentration_name %></td>
                        <td>
                            <a class="edit-specialization" data-bs-target="#edit-specialization-modal" data-bs-toggle="modal" data-specialization-id="<%- specialization.id %>" data-specialization-name="<%- specialization.concentration_name %>"> <i class="fa fa-edit"></i></a>
                            <a class="delete-specialization" data-specialization-id="<%- specialization.id %>" > <i class="fa fa-trash text-danger"></i></a>
                        </td> 
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <div>
                <p>Total entries:&nbsp;<span id="page-no"></span>
                </p>
            </div>
            <div>
                <p id="pagination" class="pagination-search"></p>
            </div>
        </div>
    </div>
  </div>  
</div>


<div class="modal" id="add-specialization" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Specialization</h5>
                <button class="btn-close modal-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            <div class="empty">
              <label class="form-label mb-2" for="specialization-name">Specialization Name :</label>
              <input class="form-control is-empty" id="specialization-name" autocomplete="off">
              <span class="text-danger d-none is-in-valid"></span>
              </div>
              </div>   
        
            <div class="modal-footer">
                <button class="btn btn-secondary modal-close" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary disabled" id="add-specialization-name">Add</button>
            </div>
        </div>
    </div>
 </div>       
<div class="modal" id="edit-specialization-modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Specialization</h5>
                <button class="btn-close modal-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="empty">
                  <input type="hidden" id="specialization-id">
                <label class="form-label mb-2" for="previous-specialization-name">Previous Specialization Name :</label>
                <input class="form-control is-empty" type="text" id="previous-specialization-name" disabled readonly>
                <span class="text-danger d-none is-in-valid"></span>  
              </div>  
              <div class="empty">
                <label class="form-label mb-2" for="new-specialization-name">New Specialization Name :</label>
                <input class="form-control is-empty" type="text" id="new-specialization-name">
                <span class="text-danger d-none is-in-valid"></span>
              </div>          
             

              </div>   
        
            <div class="modal-footer">
                <button class="btn btn-secondary modal-close" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="edit-specialization-button">Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {

        let test = '<%- pageCount %>';
        let rowCount = $('#changeEntry').val();
        $('#page-no').html(test);
        paginationData(rowCount, parseInt(test));

        setActiveMenuItem(`<%- active %>`)

        $('#searchkeyword').on('input',function(){

         let specializationValue = $(this).val().trim();
         let showEntry = $('#changeEntry').val();

            $.ajax({
            type:'POST',
            url:'/admin/specialization/search',
            data:{
            searchLetter:specializationValue,
            showEntry:showEntry
            },
            success:function(data){
            paginationData(rowCount,data.length)
            AjaxtTable(data.data)
            $('#page-no').html(data.length);
            }
            })
        })       

            $(".pagination-search").on('click','.pagination li',function(){
                let keyword = $("#searchkeyword").val();
                let showEntry = $('#changeEntry').val();
                let pageNo = $(this).attr('data-lp');

                $.ajax({
                    type: "POST",
                    url: "/admin/specialization/search",
                    data: {
                        searchLetter: keyword,
                        pageNo: pageNo,
                        showEntry:showEntry
                    },
                    success: function (data) {
                        AjaxtTable(data.data);
                    }
                });
            });

            $('#changeEntry').on('change',function(){
            let showEntry = $(this).val();
            let ApiObj = {
                type:'POST',
                url:'/admin/specialization/showEntry',
                data:{
                    showEntry:showEntry
                },
                datatype:'JSON'
                }
                ajaxApi(ApiObj).then(result=>{
                    AjaxtTable(result.data)
                    paginationData(showEntry,result.length);
                    
                    $('#page-no').html(result.data.length);
                    $('#searchkeyword').val('');
                }).catch(error =>{
                createToastError(JSON.stringify(error.responseJSON.description));;
                })    
            })

            $('#specialization-name').on('input',function(){
                let specializationValues = $(this).val();
                if(specializationValues.length > 0){
                    $('#add-specialization #add-specialization-name').removeClass('disabled');
                }
            })


		
     $('#add-specialization-name').on('click',function(){  
        let specializationName = $('#add-specialization #specialization-name').val().replace(/\s+/g,' ').trim();
       
        let isRequiredFieldsEmpty = isModalFieldEmpty('#add-specialization .modal-body');
    
    if(isRequiredFieldsEmpty){
        
        let ApiObj ={
            url:'/admin/specialization/add',
            type:'POST',
            data:{
                concentration_name:specializationName
            },
            datatype :'JSON'
        }
        ajaxApi(ApiObj).then(result =>{
            createToastMessage(result.description);
        }).catch(error =>{
            createToastError(JSON.stringify(error.responseJSON.description));;
        })
    }
     })   

    $('#specialization-table').on('click','.delete-specialization',function(){
        let specializationId = $(this).attr('data-specialization-id');
        
        let ApiObj = {
            url:'/admin/specialization/delete',
            type:'POST',
            data:{
                specializationId:specializationId
            },
            datatype:'JSON'
        }
        ajaxApi(ApiObj).then(result =>{
            createToastMessage(result.description);
        }).catch(error =>{
            createToastError(JSON.stringify(error.responseJSON.description));;
        })
    })

    $('#edit-specialization-modal').on('click','#edit-specialization-button',function(){
        let specializationId = $('#edit-specialization-modal #specialization-id').val();
        let specializationName = $('#edit-specialization-modal #new-specialization-name').val().replace(/\s+/g,' ').trim();
         
        let isRequiredFieldsEmpty = isModalFieldEmpty('#edit-specialization-modal .modal-body');
    
        if(isRequiredFieldsEmpty){
        let ApiObj = {
            url:'/admin/specialization/update',
            type:'POST',
            data:{
                id:specializationId,
                concentration_name:specializationName
            },
            datatype:'JSON'
        }
        ajaxApi(ApiObj).then(result =>{
            createToastMessage(result.description);
        }).catch(error =>{
            createToastError(JSON.stringify(error.responseJSON.description));;
        })
    }
    })
    $('#specialization-table').on('click','.edit-specialization',function(){
        let specializationName = $(this).attr('data-specialization-name');
        let specializationId = $(this).attr('data-specialization-id')
       $('#edit-specialization-modal #specialization-id').val(specializationId);
       $('#edit-specialization-modal #previous-specialization-name').val(specializationName);
    });

    $('#add-specialization').on('click', '.modal-close', function() {
           $(this).closest('.modal-content').find(`.is-in-valid`).addClass('d-none');
        });

        $('#edit-specialization-modal').on('click', '.modal-close', function() {
           $(this).closest('.modal-content').find(`.is-in-valid`).addClass('d-none');
        });
        
})


     
            function AjaxtTable(specializationList) {
           $("#specialization-table tbody").empty();
           let AjaxTable = ``;
           if (specializationList.length > 0) {
               let count = 1;
               for (specialization of specializationList) {
                   AjaxTable +=
                       `<tr>
                           <td>${count++}</td>
                           
                           <td>${specialization.concentration_name}</td>
                
                           <td>
                            <a class="edit-specialization" data-bs-target="#edit-specialization-modal" data-bs-toggle="modal" data-id="${specialization.id}" data-specialization-name="${specialization.concentration_name}">
                           <i class="fa fa-edit"></i></a>
                           <a class="delete-specialization" data-specialization-id="${specialization.id}"><i class="fa-solid fa-trash text-danger"></i></a>
                           </td>
                       </tr>`
               }
           }
           
                  
           $("#specialization-table tbody").html(AjaxTable);
       }
</script>
  
<%- include('../partials/footer.ejs') %>

<%- include('../partials/footerEnd.ejs') %>