<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>
<%- include('../partials/bread.ejs') %>

    <div class="card card-custom-border-curv">
        <div class="card-header-custom d-flex justify-content-between p-1">
            <h4 class="ms-2"> Specializations </h4>
            <button type="button" class="btn add-btn-plus me-2" data-bs-target="#add-specialization" data-bs-toggle="modal" >
                <i class="fas fa-plus p-1"></i>
            </button>  
        </div>
        <div class="card-body table-responsive">
            <div class="d-flex justify-content-between">
                <div>
                    <label>Show Entries</label>
                    <select class="form-select" id="changeEntry">
                        <% for (let page of locals.page_filter) { %>
                            <option value="<%- page %>"><%- page %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <div class="table-searchbar-container d-flex justify-content-around p-1">
                        <button type="button" id="searchkeyword-button" class="border-0 outline-0">
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar" autocomplete="off" size="24">
                    </div>
                </div>
            </div>

            <table class="table table-bordered mt-4" id="specialization-table">
                <thead>
                    <th>#</th>
                    <th>Specialization Name</th>
                    <th>Actions</th>       
                </thead>
                <tbody>
                    <% let count = 1 %>
                    <%for(let specialization of specializationList) {%>
                        <tr data-id="<%- specialization.id %>" 
                            data-name="<%- specialization.concentration_name %>">
                            <td><%- count++ %></td>
                            <td><%-specialization.concentration_name %></td>
                            <td>
                                <a class="edit-specialization" data-bs-target="#edit-specialization-modal" data-bs-toggle="modal" >
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="delete-specialization"> 
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td> 
                        </tr>
                    <%}%>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:&nbsp;<span id="page-no"></span>
                    </p>
                </div>
                <div>
                    <p id="pagination" class="pagination-search"></p>
                </div>
            </div>
        </div>
    </div>  

    <div class="modal" id="add-specialization" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Specialization</h5>
                    <button class="btn-close modal-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="empty">
                        <label class="form-label mb-2" for="specialization-name">Specialization Name :</label>
                        <input class="form-control is-empty" id="specialization-name" autocomplete="off">
                        <span class="text-danger d-none is-in-valid"></span>
                    </div>
                </div>   
                <div class="modal-footer">
                    <button class="btn btn-secondary modal-close" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary disabled" id="add-specialization-name">Add</button>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal" id="edit-specialization-modal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Specialization</h5>
                    <button class="btn-close modal-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="empty">
                        <input type="hidden" id="specialization-id">
                        <label class="form-label mb-2" for="prev-name">Previous Specialization Name :</label>
                        <input class="form-control is-empty" type="text" id="prev-name" disabled readonly>
                        <span class="text-danger d-none is-in-valid"></span>  
                    </div>  
                    <div class="empty">
                        <label class="form-label mb-2" for="new-name">New Specialization Name :</label>
                        <input class="form-control is-empty" type="text" id="new-name" autocomplete="off">
                        <span class="text-danger d-none is-in-valid"></span>
                    </div>          
                </div>   
                <div class="modal-footer">
                    <button class="btn btn-secondary modal-close" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="edit-specialization-button">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>

<script>
$(document).ready(function() {
    let test = '<%- pageCount %>';
    let rowCount = $('#changeEntry').val();
    $('#page-no').html(test);
    paginationData(rowCount, parseInt(test));
    setActiveMenuItem(`<%- active %>`);

    $('#searchkeyword').on('input',function(){
        let specializationValue = $(this).val().trim();
        let showEntry = $('#changeEntry').val();
        $('#changeEntry').val($('#changeEntry :first-child').val());
        $.ajax({
            type:'POST',
            url:'/admin/specializations/search',
            data:{
                searchLetter:specializationValue,
                showEntry:showEntry
            },
            success:function(data){
                paginationData(rowCount,data.length)
                AjaxtTable(data.data)
                $('#page-no').html(data.length);
            }
        })
    })   

    $(".pagination-search").on('click','.pagination li',function(){
        let keyword = $("#searchkeyword").val();
        let showEntry = $('#changeEntry').val();
        let pageNo = $(this).data('lp');
        $.ajax({
            type: "POST",
            url: "/admin/specializations/search",
            data: {
                searchLetter: keyword,
                pageNo: pageNo,
                showEntry:showEntry
            },
            success: function (data) {
                AjaxtTable(data.data);
            }
        });
    });

    $('#changeEntry').on('change',function(){
        
        let showEntry = $(this).val();
        let ApiObj = {
            type:'POST',
            url:'/admin/specializations/showEntry',
            data:{
                showEntry:showEntry
            },
            datatype:'JSON'
        }
        ajaxApi(ApiObj).then(result=>{
            AjaxtTable(result.data)
            paginationData(showEntry,result.length);
            $('#page-no').html(result.data.length);
            $('#searchkeyword').val('');
        }).catch(error =>{
            let errorMessage = JSON.stringify(error.responseJSON.description);
            createToast({ title: "Alert", msg: errorMessage, type: "negative" });
        })    
    })

    $('#specialization-name').on('input',function(){
        let specializationValues = $(this).val();
        if(specializationValues.length > 0){
            $('#add-specialization #add-specialization-name').removeClass('disabled');
        }
    })
		
    $('#add-specialization-name').on('click',function(){  
        let specializationName = $('#add-specialization #specialization-name').val().replace(/\s+/g,' ').trim();
        let isRequiredFieldsEmpty = isModalFieldEmpty('#add-specialization .modal-body');
    
        if(isRequiredFieldsEmpty){

            let ApiObj = {
                url:'/admin/specializations/add',
                type:'POST',
                data:{
                    concentration_name:specializationName
                },
                datatype :'JSON'
            }
            ajaxApi(ApiObj).then(result =>{
                createToast({ title: "Success", msg: result.description, type: "positive", showingTime:"1000" });
                setTimeout(function(){location.reload()},1000);
            }).catch(error =>{
                let errorMessage = JSON.stringify(error.responseJSON.description);
                createToast({ title: "Alert", msg: errorMessage, type: "negative", showingTime:"1000" });
            })
        }
    })   

    $('#specialization-table').on('click','.delete-specialization',function(){
        let id = $(this).closest('tr').data('id');
        
        let ApiObj = {
            url:'/admin/specializations/delete',
            type:'POST',
            data:{
                specializationId:id
            },
            datatype:'JSON'
        }
        ajaxApi(ApiObj).then(result =>{
            createToast({ title: "Success", msg: result.description, type: "positive", showingTime:"1000"});
            setTimeout(function(){location.reload()},1000);
        }).catch(error =>{
            let errorMessage = JSON.stringify(error.responseJSON.description);
            createToast({ title: "Alert", msg: errorMessage, type: "negative", showingTime:"1000"});
        })
    })

    $('#edit-specialization-modal').on('click','#edit-specialization-button',function(){

        let id = $('#edit-specialization-modal #specialization-id').val();
        let name = $('#edit-specialization-modal #new-name').val().replace(/\s+/g,' ').trim(); 
        let isRequiredFieldsEmpty = isModalFieldEmpty('#edit-specialization-modal .modal-body');
    
        if(isRequiredFieldsEmpty){
            let ApiObj = {
                url:'/admin/specializations/update',
                type:'POST',
                data:{
                    id:id,
                    concentration_name:name
                },
                datatype:'JSON'
            }
            ajaxApi(ApiObj).then(result =>{
                createToast({ title: "Success", msg: result.description, type: "positive", showingTime:"1000"});
                setTimeout(function(){
                    $('#edit-specialization-modal').hide();
                    location.reload();
                },1000)
            }).catch(error =>{
                let errorMessage = JSON.stringify(error.responseJSON.description);
                createToast({ title: "Alert", msg: errorMessage, type: "negative", showingTime:"1000"});
            })
        }
    })

    $('#specialization-table').on('click','.edit-specialization',function(){
        let name = $(this).closest('tr').data('name');
        let id = $(this).closest('tr').data('id');
        $('#edit-specialization-modal #specialization-id').val(id);
        $('#edit-specialization-modal #prev-name').val(name);
    });

    $('#add-specialization').on('click', '.modal-close', function() {
        $('#specialization-name').val('');
        $(this).closest('.modal-content').find(`.is-in-valid`).addClass('d-none');
    });

    $('#edit-specialization-modal').on('click', '.modal-close', function() {
        $('#new-name').val('');
        $(this).closest('.modal-content').find(`.is-in-valid`).addClass('d-none');
    });     
})
    
function AjaxtTable(specializationList) {
    $("#specialization-table tbody").empty();
    let AjaxTable = ``;
    if (specializationList.length > 0) {
        let count = 1;
        for (specialization of specializationList) {
            AjaxTable +=
                `<tr data-id="${specialization.id}" data-name="${specialization.concentration_name}">
                    <td>${count++}</td>
                    <td>${specialization.concentration_name}</td>
                    <td>
                        <a class="edit-specialization" data-bs-target="#edit-specialization-modal" data-bs-toggle="modal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="delete-specialization">
                            <i class="fa-solid fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>`;
        }
    }
    $("#specialization-table tbody").html(AjaxTable);
}

</script>

<%- include('../partials/footerEnd.ejs') %>