<%- include('../partials/head') %>
<%- include ('../partials/leftSidebar') %>
<%- include ('../partials/header') %>
<div class="main-content">  
</div>
</main>
<%- include('../partials/footer') %>
<script>
     $(document).ready(function(){
        setActiveMenuItem(`<%- active %>`)
});
</script>
<%- include('../partials/footerEnd') %>
