<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>

<div class="main-content">
    <div class="breadcrumbs-container">
        <ul class="breadcrumb">
            <% if (breadcrumbs) { %>
                <% for (let crumbs of breadcrumbs) { %>
                    <% let crubm_name = crumbs.name == 'ADMIN' ? 'Dashboard' : crumbs.name;
                     %>
                    <li><a href="<%- crumbs.url %>"><%- crubm_name %></a></li>
                <% } %>
            <% } %>
        </ul>
    </div>

  <div class="card card-custom-border-curv">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2">Bidding Rounds</h3>
        <% if (biddingPredefineRounds.length > 0) { %>
        <button type="button" class="btn add-btn-program ms-auto me-3"  id="add-bidding-rounds" data-bs-target="#add-bidding-rounds-modal"
         data-bs-toggle="modal">
            <i class="fa-solid fa-plus p-1"></i>
        </button>  
        <% } %>
    </div>
    <div class="card-body table-responsive">
        <div class="d-flex justify-content-between">
            <div>
                <label>Show Entries</label>
                <select class="form-select" id="changeEntry">
                    <%for(let page of locals.page_filter){%>
                       <option value="<%-page%>"><%-page%></option>
                    <%}%>
                </select>
            </div>
            <div>
                <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
            </div>
        </div>

        <table class="table custom_row table-bordered mt-4 custom-table" id="bidding-rounds-table">
            <thead>
                <th>#</th>
                <th>Term Name</th>
                <th>Total Students</th>
                <th>Total Courses</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Actions</th>
               
            </thead>
            <tbody>
                <% let count = 1 %>
                <%for(let biddingRound of biddingRoundList) {%>
                    <tr data-bidding-round-id="<%- biddingRound.id %>" data-bidding-round-lid="<%-biddingRound.round_lid %>">
                        <td><%- count++ %></td>
                        <td><%-biddingRound.round_name %></td>
                        <td><%- biddingRound.total_students %></td>
                        <td><%- biddingRound.total_courses %></td> 
                        <td><%- biddingRound.start_date_time %></td>
                        <td><%- biddingRound.end_date_time %></td>
                        <td><a class="edit-bidding-rounds" data-bs-target="#edit-bidding-rounds" data-bs-toggle="modal" data-round-lid =<%-biddingRound.round_lid %>><i class="fa fa-edit"></i></a>
                            <a class="delete-bidding-rounds" data-id="<%-biddingRound.round_lid %>"><i class="fa-solid fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <div>
                <p>Total entries :&nbsp;<span id="page-no"></span>
                </p>
            </div>
            <div>
                <p id="pagination" class="pagination-search"></p>
            </div>
        </div>
    </div>
  </div>  
</div>

  <div class="modal" id="total-student-bidding-rounds" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Select Students</h3>
                <div class="d-flex justify-content-between">
                <h4 class="px-3">Total Selected Students  :<span id="total-selected-students">0</span></h4>
                <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
            </div>
            <div class="modal-body">
               
                <table class="table table-responsive custom_row table-bordered mt-4 custom-table">
                    <thead>
                        <th>Id <input type="checkbox" name="bidding-rounds-checkbox" id="bidding-rounds-checkbox"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Program</th>
                    </thead>
                <tbody>
              <% for(let student of biddingRoundsStudents) { %>
                  <tr data-student-id="<%- student.student_lid %>">
                    <td><input type="checkbox" class="d-none student-sap-id-bidding-rounds"><%- student.sap_id %></td>
                    <td><%- student.student_name %></td>
                    <td><%- student.email %></td>
                    <td><%- student.program_name %></td>
                  </tr>
                <% } %>
                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" data-bs-dismiss="modal" id="import-total-student-bidding-rounds">Save</button>
            </div>
        </div>
    </div>
  </div>

  <div class="modal" id="update-total-student-bidding-rounds" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Update Bidding Rounds </h3>
                <div class="d-flex justify-content-between">
                <h4 class="px-3">Total Selected Students  :<span id="update-total-selected-students">0</span></h4>
                <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
            </div>
            <div class="modal-body">
               
                <table class="table table-responsive custom_row table-bordered mt-4 custom-table">
                    <thead>
                        <th>Id <input type="checkbox" name="bidding-rounds-checkbox" id="update-bidding-rounds-checkbox"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Program</th>
                    </thead>
                <tbody>
              <% for(let student of biddingRoundsStudents) { %>
                  <tr data-student-id = "<%- student.student_lid %>">
                    <td><input type="checkbox" class="d-none update-student-sap-id-bidding-rounds"><%- student.sap_id %></td>
                    <td><%- student.student_name %></td>
                    <td><%- student.email %></td>
                    <td><%- student.program_name %></td>
                  </tr>
                <% } %>
                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" data-bs-dismiss="modal" id="update-total-student">Update</button>
            </div>
        </div>
    </div>
  </div>
 
  <div class="modal" id="total-courses-bidding-rounds" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Select Courses</h3>
                <div class="d-flex justify-content-between">
                  <h4>Total Selected Courses :<span id="total-selected-courses">0</span></h4>
                  <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>  
            </div>
            <div class="modal-body">
                <table class="table table-responsive custom_row table-bordered mt-4 custom-table">
                    <thead>
                        <th>Name</th>
                        <th>Credits</th>
                        <th>Action <input type="checkbox" name="bidding-rounds-checkbox" id="bidding-rounds-course-checkbox"></th>
                    </thead>
                <tbody>
              <% for(let biddingRoundCourse of biddingRoundCourseList) { %>
                  <tr data-course-id="<%- biddingRoundCourse.id %>">
                    <td class="d-none"><%-biddingRoundCourse.id %></td>
                    <td><%- biddingRoundCourse.course_name %></td>
                    <td><%- biddingRoundCourse.credits %></td>
                    <td><input type="checkbox" class="bidding-round-courses"> </td>
                  </tr>
                <% } %>
                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" id="total-course-bidding-rounds" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
  </div>

  <div class="modal" id="update-total-courses-bidding-rounds" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Update  Bidding Rounds</h3>
                <div class="d-flex justify-content-between">
                  <h4>Total Selected Courses :<span id="update-total-selected-courses">0</span></h4>
                  <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>  
            </div>
            <div class="modal-body">
                <table class="table table-responsive custom_row table-bordered mt-4 custom-table">
                    <thead>
                        <th>Name</th>
                        <th>Credits</th>
                        <th>Action <input type="checkbox" name="update-bidding-rounds-checkbox" id="update-bidding-rounds-course-checkbox"></th>
                    </thead>
                <tbody>
              <% for(let biddingRoundCourse of biddingRoundCourseList) { %>
                  <tr data-course-id ="<%-biddingRoundCourse.id %>" >
                    <td class="d-none"><%-biddingRoundCourse.id %></td>
                    <td><%- biddingRoundCourse.course_name %></td>
                    <td><%- biddingRoundCourse.credits %></td>
                    <td><input type="checkbox" class="update-bidding-round-courses"> </td>
                  </tr>
                <% } %>
                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" id="update-course-bidding-rounds" data-bs-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal" id="bidding-rounds-add-date-time" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Select Date Time</h3>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label class="mb-2" for="start-date-time">Start date time :</label>
                <input type="hidden" id="bidding-round-id">
                <input class="form-control" type="datetime-local" id="start-date-time">
                <label class="mb-2" for="end-date-time">End date time:</label>
                <input class="form-control" type="datetime-local" id="end-date-time">  
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" data-bs-dismiss="modal" id="save-bidding-rounds-date-time">Save</button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal" id="add-bidding-rounds-modal">
    <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                  <h3>Select Bidding Rounds</h3>
                  <button class="btn-close full-modal-left-sidebar" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body row custum-imp-program">
                   
                  <div class="col-md-3 border-end custm-padd-for-imp-program custm-padd pe-2 ps-2" >
                 
                    <label class="mb-2" for="select-bidding-rounds" >Select Bidding Rounds :</label>
                        <input type="search" class="form-control p3 mb-3 searchItemProgramCustom" placeholder="Search Bidding Rounds" id="select-bidding-rounds">
                       <% for(let preDefineBiddingRounds of biddingPredefineRounds ) { %>
                        <div class="border p-3 mb-3 rounded bidding-rounds-div" data-bidding-name="<%- locals.biddingName %>&nbsp;-&nbsp;<%-preDefineBiddingRounds.round_name %>" data-bidding-id ="<%- preDefineBiddingRounds.id %>">
                            <% if(locals.biddingName) { %>
                                <%- locals.biddingName %>&nbsp; - &nbsp;<%-preDefineBiddingRounds.round_name %>
                                <% } %>
                            </div>
                        <% } %>
                    
                        <div class="d-flex justify-content-end" id="add-date-time-append">
                            <button data-bs-target="#bidding-rounds-add-date-time" data-bs-toggle="modal" class="btn btn-primary d-none" id="add-date-time">
                                    Add Date Time
                            </button>
                        </div>
                  </div>
                  <div class="col-md-9 custm_padd p-2 ps-2">
                    <table class="table-responsive table-bordered table import-bidding-rounds-table" id="import-bidding-rounds-table">
                        <thead>
                            <th>Bidding Rounds Name</th>
                            <th>Total Students</th>
                            <th>Total Courses</th>
                            <th>Start Date Time</th>
                            <th>End Date Time</th>
                            <th>Bid Point Limit Per Bid</th>
                            <th>Action</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success disabled" id="import-bidding-rounds">Import Bidding Rounds</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="edit-bidding-rounds" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Update Bidding Rounds</h3>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                      <input type="hidden" id="bidding-rounds">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="mb-2" for="start-date-time">Start date time :</label>
                            <input class="form-control" type="datetime-local" id="start-date-time-bidding-rounds">
                        </div>
                        <div class="col-md-6">
                            <label class="mb-2" for="end-date-time">End date time:</label>
                            <input class="form-control" type="datetime-local" id="end-date-time-bidding-rounds"> 
                        </div>
                    </div>
                   
                    <div class="row mt-4">
                        <div class="col-md-6 d-flex">          
                            
                                <div class="input-group  mb-3">
                                    <button class="btn btn-danger text-white" type="button"  data-bs-target="#update-total-student-bidding-rounds" data-bs-toggle="modal" >Total Students</button>
                                    <input type="text" class="form-control" placeholder="total students" id="total-students"  disabled>
                                </div>
                         </div>
                        <div class="col-md-6 d-none update-total-course">
                            <div class="input-group mb-3">
                                <button class="btn btn-danger text-white" type="button" data-bs-target="#update-total-courses-bidding-rounds" data-bs-toggle="modal" >Total Courses</button>
                                <input type="text" class="form-control" placeholder="total courses" id="total-courses"  disabled>
                            </div>
                        </div>
                  </div>  
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="update-bidding-rounds">Update</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
<script>
    $(document).ready(function() {
        let pageCount = `<%- pageCount %>`;
        let studentList = [];
        let courseList = [];
        let biddingRoundStudent = [];
        let importBiddingRoundsArray = [];
        let importdata = [];

        setActiveMenuItem(`<%- active %>`)

        $('#page-no').html(pageCount);
        $('#update-total-courses-bidding-rounds').on('change','.update-bidding-round-courses',function(){
            $('#update-course-bidding-rounds').removeClass('disabled');
        })   
        $('#update-total-courses-bidding-rounds').on('change','#update-bidding-rounds-course-checkbox',function(){
           if(this.checked){
             $('.update-bidding-round-courses').prop('checked', true);
             $('#update-course-bidding-rounds').removeClass('disabled');
             let totalCourseBiddingRounds =  $('#update-total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
            $('#update-total-selected-courses').html(totalCourseBiddingRounds);
           }
        })
        $('#update-total-student-bidding-rounds').on('change','#update-bidding-rounds-checkbox',function(){
           if(this.checked){
             $('.update-student-sap-id-bidding-rounds').removeClass('d-none');
             $('.update-student-sap-id-bidding-rounds').prop('checked', true);
             $('#update-total-student').removeClass('disabled');
             let totalStudentBiddingRounds =  $('#update-total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
            $('#update-total-selected-students').html(totalStudentBiddingRounds);
           }else{
            $('.update-student-sap-id-bidding-rounds').addClass('d-none');
           }
        })
        $('#total-student-bidding-rounds').on('change','#bidding-rounds-checkbox', function() {
        if (this.checked) {
           $('.student-sap-id-bidding-rounds').removeClass('d-none');
           $('.student-sap-id-bidding-rounds').prop('checked', true);
           $('#import-total-student-bidding-rounds').removeClass('disabled');
           let count = $('#total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
           $('#total-selected-students').html(count);
        } else {
          $('.student-sap-id-bidding-rounds').addClass('d-none');
           $('.delete-course').removeClass('d-none');  
           $('#import-total-student-bidding-rounds').addClass('disabled');  
           $('#total-selected-students').html(0);
        }
    });

    $('#total-student-bidding-rounds').on('change','.student-sap-id-bidding-rounds',function(){
        let count = $('#total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
           $('#total-selected-students').html(count);
    })

   
    $('#update-total-student-bidding-rounds').on('change','.update-student-sap-id-bidding-rounds',function(){
        let count = $('#update-total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
           $('#update-total-selected-students').html(count);
    })

       
    $('#update-total-courses-bidding-rounds').on('change','.update-bidding-round-courses',function(){
        let count = $('#update-total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
           $('#update-total-selected-courses').html(count);
    })

    $('#total-courses-bidding-rounds').on('change','#bidding-rounds-course-checkbox', function() {
        if (this.checked) {
           $('.bidding-round-courses').prop('checked', true);
           $('#total-course-bidding-rounds').removeClass('disabled');
           let count = $('#total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
           $('#total-selected-courses').html(count);
           
        } else {
            $('.bidding-round-courses').prop('checked', false);
           $('#total-course-bidding-rounds').addClass('disabled');  
           $('#total-selected-courses').html(0);
        }
    });
    
    $('#total-courses-bidding-rounds').on('change','.bidding-round-courses', function() {
    $('#total-course-bidding-rounds').removeClass('disabled');
    })

            $('#total-courses-bidding-rounds').on('change','.bidding-round-courses',function(){
                let count = $('#total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
                $('#total-selected-courses').html(count);
            })

            $(document).on('click', '.bidding-rounds-div', function(event) {
                studentList = [];
                courseList = [];
            let canProceed = true;
            $('#add-bidding-rounds-modal #import-bidding-rounds').addClass('disabled');
            let biddingRoundName = $(this).attr('data-bidding-name');
            let id = $(this).attr('data-bidding-id');


            $('#import-bidding-rounds-table tbody tr').each(function(index, ele) {
                let totalStudentCount = Number($(ele).find('td.total-students-count').text());
                let totalCourseCount = Number($(ele).find('td.total-course-count').text());
                let startDateTime = $(ele).children('td.start-date-time').text();
                let endDateTime = $(ele).children('td.end-date-time').text();

                if ((totalStudentCount === 0) || (totalCourseCount === 0) || startDateTime === 'NA' || endDateTime === 'NA') {
                    alert('Please Enter Previous Row Entry First');
                    canProceed = false;
                    return false; 
               }
            });

            if (!canProceed) {
                return;
            }
  
            let importRow = `
            <tr data-bidding-rounds-name="${biddingRoundName}" data-bidding-round-id = "${id}">
                <td>${biddingRoundName}</td>
                <td class="total-students-count">
                    <button data-bs-target="#total-student-bidding-rounds" data-bs-toggle="modal" class="w-100 p-0" style="border:none">
                        <div id="add-total-students-bidding-rounds" class = "w-100" >
                            <span class="badge bg-danger w-100">
                                <i class="fa-solid fa-circle-plus"></i>
                            </span>
                        </div>
                    </button>
                </td>
                ${id === '1' ?
                 `<td class="total-course-count">
                       <button data-bs-target="#total-courses-bidding-rounds" data-bs-toggle="modal" type="button" class="w-100 p-0" style="border:none">
                          <div id="add-total-courses-bidding-rounds" class="w-100">
                               <span class="badge bg-danger w-100">
                                 <i class="fa-solid fa-circle-plus"></i>
                               </span>
                           </div>
                        </button>
                 </td>` :
                `<td class="total-course-count disabled">NA</td>`}
                <td class="start-date-time">NA</td>
                <td class="end-date-time">NA</td>
                <td class="${id !== '2' && id !== '4' ? 'disabled-in-bidding-rounds' : ''}"><label for = "yes">Yes</label>
                    <input type = "radio" name ="bid-point-limit" id = "yes" value = "Yes">
                    <input type = "text" id ="bid-point-limit-per-bid" class ="d-none" size="8" placeholder="Enter bid Points">
                    <label for = "no">No</label>
                    <input type = "radio" name ="bid-point-limit" id = "no" value = "No">
                    </td>
                <td><i class="fa fa-trash text-danger delete-bidding-rounds"></i></td>
            </tr>`;

            let importBiddingRoundsTbody = $('.import-bidding-rounds-table tbody');
            importBiddingRoundsTbody.append(importRow);
        
            // if($('.import-bidding-rounds-table tbody tr').length > 0)
            // {
            // $('#add-bidding-rounds-modal #import-bidding-rounds').removeClass('disabled');
            //         }
            $(this).remove();
        });


         $('#total-student-bidding-rounds').on('show.bs.modal',function(event){
            $('#bidding-rounds-checkbox').prop('checked', false);
            $('.student-sap-id-bidding-rounds').prop('checked',false);
            let dataBiddingRoundId = $(event.relatedTarget).closest('tr').attr('data-bidding-round-id');
            $(this).attr('data-bidding-round-id',dataBiddingRoundId);
          
           
       
         })  

        
         $('#add-bidding-rounds-modal').on('show.bs.modal', function () {
           $('.left-sidebar').addClass('d-none');
          });
          
          $('#add-bidding-rounds-modal').on('click','.full-modal-left-sidebar', function () {
           $('.left-sidebar').removeClass('d-none');
          });

         $('#edit-bidding-rounds').on('show.bs.modal',function(event){
           
            let dataBiddingRoundId = $(event.relatedTarget).closest('tr').data('bidding-round-id');
            let dataBiddingRoundLid =  $(event.relatedTarget).closest('tr').data('bidding-round-lid');
            $(this).attr('data-bidding-round-id',dataBiddingRoundId);
            if(dataBiddingRoundLid == 1){
                $('#edit-bidding-rounds .update-total-course').removeClass('d-none');
            }
            else{
                $('#edit-bidding-rounds .update-total-course').addClass('d-none');
            }

            $('#bidding-rounds-checkbox').prop('checked', false);
            $('#bidding-rounds').val(dataBiddingRoundId);
            $('#bidding-rounds').attr('round-lid',dataBiddingRoundLid)
       
         })  

         $('#import-bidding-rounds-table').on('click','input[name="bid-point-limit"]',function(){
             
             const checkedRadioButton = $('input[name="bid-point-limit"]:checked');
             const checkedValue = checkedRadioButton.val();
                if (checkedValue == 'Yes') {
                    $(this).closest('tr').find('#bid-point-limit-per-bid').removeClass('d-none');
                    $(this).closest('tr').find('#bid-point-limit-per-bid').focus();     
                } else {
                    $(this).closest('tr').find('#bid-point-limit-per-bid').addClass('d-none');
                }
         })

         $('#bidding-rounds-add-date-time').on('change','#end-date-time',function(){
            $('#save-bidding-rounds-date-time').removeClass('disabled');
            $('#add-bidding-rounds-modal #import-bidding-rounds').removeClass('disabled');
         })

       $('#total-student-bidding-rounds').on('click','#import-total-student-bidding-rounds',function(){
        let totalStudentBiddingRoundsCounts =  $('#total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
        $('#total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').each(function(index, selectedElement) {
          studentList.push($(selectedElement).closest('tr').data('student-id'));
        });
           
        let dataBiddingRoundId =  $('#total-student-bidding-rounds').attr('data-bidding-round-id');
               
         $('#add-bidding-rounds-modal .modal-body .table-responsive tbody tr').each(function(index,element) {      
          
                let biddingRoundId = $(element).attr('data-bidding-round-id');
                if(($(element).attr('data-bidding-round-id')) == dataBiddingRoundId){
                $(this).attr('data-total-student-counts', totalStudentBiddingRoundsCounts);
                $(element).children('td.total-course-count').removeClass('disabled');
                $(this).children('td.total-students-count').html(totalStudentBiddingRoundsCounts)        
                }
            });
              if(Number(dataBiddingRoundId)> 1){
                 $('#add-date-time').removeClass('d-none');
                 $('#add-date-time').attr('data-bidding-round-id',dataBiddingRoundId);
              }
             
              biddingRoundStudent.push(studentList);
       })
       $('#update-total-student-bidding-rounds').on('click','#update-total-student-bidding-rounds',function(){
        let totalStudentBiddingRoundsCounts =  $('#total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
        let dataBiddingRoundId =  $('#total-student-bidding-rounds').attr('data-bidding-round-id');
     
         $('#add-bidding-rounds-modal .modal-body .table-responsive tbody tr').each(function(index,element) {
                let biddingRoundId = $(element).attr('data-bidding-round-id');
                if(($(element).attr('data-bidding-round-id')) == dataBiddingRoundId){
                $(this).attr('data-total-student-counts', totalStudentBiddingRoundsCounts);
                $(element).children('td.total-course-count').removeClass('disabled');
                $(this).children('td.total-students-count').html(totalStudentBiddingRoundsCounts)        
                }
            });  
       })
       $('#total-courses-bidding-rounds').on('click','#total-course-bidding-rounds',function(){
        let totalCoursesBiddingRoundsCounts =  $('#total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
        
        $('#total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').each(function(index, selectedElement) {
          courseList.push($(selectedElement).closest('tr').data('course-id'));
        });

        let dataBiddingRoundId =  $('#total-student-bidding-rounds').attr('data-bidding-round-id');
         $('#add-bidding-rounds-modal .modal-body .table-responsive tbody tr').each(function(index,element) {
               
                let biddingRoundId = $(element).attr('data-bidding-round-id');
                if(($(element).attr('data-bidding-round-id')) == dataBiddingRoundId){
                $(this).attr('data-total-courses-counts', totalCoursesBiddingRoundsCounts);
                $(this).children('td.total-course-count').html(totalCoursesBiddingRoundsCounts);
                $('#add-date-time').removeClass('d-none');
                $('#add-date-time').attr('data-bidding-round-id',biddingRoundId);
                }
            });  
          
            importdata.push(courseList);
       })

       $('#bidding-rounds-add-date-time').on('click','#save-bidding-rounds-date-time',function(){
           let startDateTime = $('#start-date-time').val().replace('T',' ');
           let endDateTime = $('#end-date-time').val().replace('T',' ');
           let biddingRoundId = $('#bidding-round-id').val();
           $('#add-date-time').addClass('d-none');
           $('#add-bidding-rounds-modal .modal-body .table-responsive tbody tr').each(function(index,element) {
                if(($(element).attr('data-bidding-round-id')) === biddingRoundId){
                  $(element).children('.end-date-time').html(endDateTime);
                  $(element).children('.start-date-time').html(startDateTime);
                  $(element).attr('data-start-date-time',startDateTime);
                  $(element).attr('data-end-date-time',endDateTime);
                }
            });      
       });        

       $('#bidding-rounds-add-date-time').on('show.bs.modal',function(event){
             $('#start-date-time').val('');
             $('#end-date-time').val('');
            let dataBiddingRoundId = $(event.relatedTarget).attr('data-bidding-round-id');
            $('#bidding-round-id').val(dataBiddingRoundId);
         })  
          
         $('#update-total-student-bidding-rounds').on('click','#update-total-student',function(){
            studentList = [];
            let totalStudentBiddingRoundsCounts =  $('#update-total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
        $('#update-total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').each(function(index, selectedElement) {
            studentList.push($(selectedElement).closest('tr').data('student-id'));
          });
        
          biddingRoundStudent.push(studentList);
          
        })

        $('#update-total-courses-bidding-rounds').on('click','#update-course-bidding-rounds',function(){
            courseList = [];
            let totalStudentBiddingRoundsCounts =  $('#update-total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
        $('#update-total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').each(function(index, selectedElement) {
            courseList.push($(selectedElement).closest('tr').data('course-id'));
          });
          importdata.push(courseList);
        })

         $(document).on('click', '.delete-bidding-rounds', function(event) {
            let parent = $(this).closest('tr');
            $('#add-date-time').addClass('d-none');
            $('#import-bidding-rounds').addClass('disabled');
            let biddingRoundsName = parent.data('bidding-rounds-name');
            let biddingRoundsId = parent.data('bidding-round-id');
            let totalStudentCounts = parent.data('total-student-counts');
            let totalCourseCounts = parent.data('total-courses-counts');

            let biddingRoundsDiv = $('<div>').addClass('border p-3 mb-3 rounded bidding-rounds-div');
                biddingRoundsDiv.html(biddingRoundsName)
                biddingRoundsDiv.attr('data-bidding-name', biddingRoundsName);
                biddingRoundsDiv.attr('data-bidding-id', biddingRoundsId);
 
             
             parent.remove();
       
            let importProgramTableFlag = $(`.import-bidding-rounds-table tbody tr[data-bidding-rounds-id = "${biddingRoundsId}"]`).length == 0;
            let importProgramSelDropFlag = $(`#add-bidding-rounds-modal border p-3 mb-3 rounded .bidding-rounds-div[data-bidding-id=${biddingRoundsId}]`).length == 0;

            if(importProgramTableFlag && importProgramSelDropFlag){
               // $('#add-bidding-rounds-modal .custm-padd-for-imp-program').append(biddingRoundsDiv);
               biddingRoundsDiv.insertAfter('#add-bidding-rounds-modal .searchItemProgramCustom');
               biddingRoundsDiv.addClass('d-block');
              // $('#add-bidding-rounds-modal #add-date-time').insertBefore(biddingRoundsDiv);
            }
           
        });
        $('#update-total-student-bidding-rounds').on('click','#update-total-student',function(){
            let totalStudentBiddingRounds =  $('#update-total-student-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
            $('#total-students').val(totalStudentBiddingRounds);
            $('#update-total-selected-students').html(totalStudentBiddingRounds);
        });

        $('#update-total-courses-bidding-rounds').on('click','#update-course-bidding-rounds',function(){
            let totalCoursesBiddingRounds =  $('#update-total-courses-bidding-rounds .table tbody tr td input[type="checkbox"]:checked').length;
            $('#total-courses').val(totalCoursesBiddingRounds);
            $('#update-total-selected-courses').html(totalCoursesBiddingRounds);
        });
        $(document).on('click','#import-bidding-rounds',function(){
          let biddingSessionId = $('#biddingSessionDropdown').attr('data-session-id');
       
          $('.import-bidding-rounds-table tbody tr').each((index,element) => {
           
            let importBiddingRounds = {};
            let biddingRoundsName = $(element).data('bidding-rounds-name');
            let totalStudentCount = $(element).data('total-student-counts');
            let totalCourseCount  = $(element).data('total-courses-counts');
            let startDateTime     = $(element).data('start-date-time').concat(':00.000');
            let endDateTime       = $(element).data('end-date-time').concat(':00.000');
            let roundId           = $(element).data('bidding-round-id');
            let bidPointLimit     = $('#bid-point-limit-per-bid').val() == ''?0:$('#bid-point-limit-per-bid').val();
            let isBidLimit        = $('#bid-point-limit-per-bid').val() == ''?0:1
            let temp = []
            importBiddingRounds.round_name = biddingRoundsName;
            importBiddingRounds.total_students = totalStudentCount;
            importBiddingRounds.total_courses = totalCourseCount;
            importBiddingRounds.start_date_time = startDateTime;
            importBiddingRounds.end_date_time = endDateTime;
            importBiddingRounds.round_id = roundId
            importBiddingRounds.student_list = biddingRoundStudent[index] != undefined ? biddingRoundStudent[index]:temp
            importBiddingRounds.course_list = importdata[index] != undefined ? importdata[index]  :temp
            importBiddingRounds.div_batch_list = temp
            importBiddingRounds.bid_limit = bidPointLimit
            importBiddingRounds.is_bid_limit = isBidLimit
            importBiddingRoundsArray.push(importBiddingRounds);
          });
         
          const biddingRoundsIdArray = importBiddingRoundsArray.map(item => item.id );
          const duplicateBiddingRoundsInsert = biddingRoundsIdArray.filter((value,index) => biddingRoundsIdArray.indexOf(value) !== index);
          let roundId = $('#import-bidding-rounds-table tbody tr:last').data('bidding-round-id');
          let importBiddingDetails = {
            round_setting: importBiddingRoundsArray,
            };
             
           let ApiObj = {
                type: 'POST',
                url: '/admin/bidding-rounds/create',
                data: {
                    inputJSON: JSON.stringify(importBiddingDetails),
                    biddingSessionId:biddingSessionId
                },
                dataType: 'JSON' 
            }
           
            ajaxApi(ApiObj).then(result => {
                showSuccess(result)              
            }).catch(error => {
                showError(JSON.stringify(error.responseJSON))
            })
        })


        $('#bidding-rounds-table').on('click','.delete-bidding-rounds',function(){
            let deleteBiddingRoundId = $(this).data('id');
            let biddingSessionId = $('#biddingSessionDropdown').attr('data-session-id');
            let ApiObj = {
                url:'/admin/bidding-rounds/delete',
                type:'POST',
                data:{
                   biddingRoundId:deleteBiddingRoundId,
                   biddingSessionId:biddingSessionId
                },
                dataType:'JSON'
            }
            ajaxApi(ApiObj).then(result =>{
                $(this).closest('tr').remove();
                showSuccess(result)
            }).catch(error =>{
                showError(JSON.stringify(error.responseJSON))
            })

        })
        $('#edit-bidding-rounds').on('click','#update-bidding-rounds',function(){
           
            let bidPointLimit     = $('#bid-point-limit-per-bid').val() == ''?0:$('#bid-point-limit-per-bid').val();
            let isBidLimit        = $('#bid-point-limit-per-bid').val() == ''?0:1

            let error = {};
            let startDate = $('#start-date-time-bidding-rounds').val();
            let  selectedDate = new Date(startDate);
            let currentDate = new Date();
            
            if (selectedDate < currentDate) {
                error.description = 'Invalid date time';
                showError(error)
            } else {
            let biddingSessionId = $('#biddingSessionDropdown').attr('data-session-id');
           
            let startDateTime = $('#start-date-time-bidding-rounds').val().replace('T',' ').concat(':00.000');
            let endDateTime = $('#end-date-time-bidding-rounds').val().replace('T',' ').concat(':00.000');
            let totalStudents = $('#total-students').val();
            let totalCourses   = $('#total-courses').val();
            let id             = $('#bidding-rounds').val();
            let roundLid  = $('#bidding-rounds').attr('round-lid');
            let temp = [];
           
            let editBiddingRounds = {
                id: id,
                round_id: roundLid,
                total_students: totalStudents,
                total_courses: totalCourses,
                start_date_time: startDateTime,
                end_date_time: endDateTime,
                student_list: biddingRoundStudent[0],
                course_list: importdata[0],
                div_batch_list: temp,
                bid_limit: 0,
                is_bid_limit: 0
            }
            let updateBiddingDetails = {
            round_setting: editBiddingRounds,
            };
            let ApiObj = {
                type:'POST',
                url:'/admin/bidding-rounds/update',
                data: {
                    inputJSON:JSON.stringify(updateBiddingDetails)
                },
                dataType: 'JSON' 
                }
                ajaxApi(ApiObj).then(result => {
                    showSuccess(result)
                }).catch(error => {
                    showError(JSON.stringify(error.responseJSON))
                })
            }
        });

        
        $('#searchkeyword').on('input',function(){

            let areaValue = $(this).val();
            let showEntry = $('#changeEntry').val();

                $.ajax({
                type:'POST',
                url:'/admin/bidding-rounds/search',
                data:{
                searchLetter:areaValue,
                showEntry:showEntry
                },
                success:function(data){
                paginationData(showEntry,data.length)
                AjaxtTable(data.data)
                $('#page-no').html(data.length);
                }
                })
            })       

    $(".pagination-search").on('click','.pagination li',function(){
        let keyword = $("#searchkeyword").val();
        let showEntry = $('#changeEntry').val();
        let pageNo = $(this).attr('data-lp');

        $.ajax({
            type: "POST",
            url: "/admin/bidding-rounds/search",
            data: {
                searchLetter: keyword,
                pageNo: pageNo,
                showEntry:showEntry
            },
            success: function (data) {
                AjaxtTable(data.data);
                $('#page-no').html(data.length);
            }
        });
    });
    })
    
 
        function AjaxtTable(roundSettingList) {
             if ($('#student-data-checkbox').prop('checked')) {
              $('#student-data-checkbox').prop('checked', false);
             }
            $("#student-data-table tbody").empty();
            let AjaxTable = ``;
            if (roundSettingList.length > 0) {
                let count = 1;
                for (roundsetting of roundSettingList) {
                    AjaxTable +=
                        `<tr>
                            <td>${count++}</td>
                            <td>${roundsetting.round_name}</td>
                            <td>${roundsetting.total_students}</td>
                            <td>${roundsetting.total_courses}</td>
                            <td>${roundsetting.start_date_time}</td>
                            <td>${roundsetting.end_date_time}</td>
                            <td><a class="edit-bidding-rounds" data-bs-target="#edit-bidding-rounds" data-bs-toggle="modal" data-round-lid =${roundsetting.round_lid}><i class="fa fa-edit"></i></a>
                            <a class="delete-bidding-rounds" data-id="${roundsetting.round_lid }"><i class="fa-solid fa-trash text-danger"></i></a>
                        </td>
                        </tr>`
                }
            }
                  
            $("#bidding-rounds-table tbody").html(AjaxTable);
        }
</script>
 


<%- include('../partials/footerEnd.ejs') %>
