<%- include('../../partials/head') %>
<%- include('../../partials/leftSidebar.ejs') %>
<%- include('../../partials/header.ejs') %>
<%- include('../../partials/bread.ejs') %>

    <div class="card card-custom-border-curv">
        <div class="card-header-custom d-flex justify-content-between p-1">
            <h4 class="ms-2">Program Sessions</h4>
                <button type="button" class="btn btn-danger ms-auto me-3"  id="refresh-program-sessions">
                    <i class="fa-solid fa-rotate p-1"></i>Refresh
                </button>  
        </div>
        <div class="card-body table-responsive">
            <div class="d-flex justify-content-between">
                <div>
                    <label>Show Entries</label>
                    <select class="form-select" id="changeEntry">
                        <% for (let page of locals.page_filter) { %>
                            <option value="<%- page %>"><%- page %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <div class="table-searchbar-container d-flex justify-content-around p-1">
                        <button type="button" id="searchkeyword-button" class="border-0 outline-0">
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar" autocomplete="off" size="24">
                    </div>
                </div>
            </div>

            <table class="table table-bordered mt-4" id="program-sessions-table">
                <thead>
                    <th>#</th>
                    <th>Acad Session</th>
                    <th>Program Name</th>
                    <th>Academic Year</th>
                    <th>Minimum Credits</th>
                    <th>Maximum Credits</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% let count = 1 %>
                    <%for(let programSession of programSessionList) { %>
                        <tr data-id="<%-programSession.id %>" data-min-credits ="<%- programSession.min_credits %>"
                            data-max-credits ="<%- programSession.max_credits %>"
                            data-acad-session = "<%- programSession.acad_session %>"
                        >
                            <td><%- count++ %></td>
                            <td><%-programSession.acad_session %></td>
                            <td><%-programSession.program_name %></td>
                            <td><%-programSession.year %></td>
                            <td><%-programSession.min_credits %></td>
                            <td><%-programSession.max_credits %></td>
                            <td>
                                <a class="edit-program-sessions" data-bs-target="#edit-program-sessions" data-bs-toggle="modal">
                                    <i class="fa fa-edit"></i>
                                </a>    
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries :&nbsp;
                        <span id="page-no"></span>
                    </p>
                </div>
                <div>
                    <p id="pagination" class="pagination-search"></p>
                </div>
            </div>
        </div>
    </div>  

    <div class="modal" id="edit-program-sessions" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Acad Session Credits</h5>
                    <button class="btn-close modal-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label for="acad-session">Acad Session:</label>
                    <input type="text" id="acad-session" class="form-control" autocomplete="off" disabled>

                    <div class="empty mt-3">
                        <input type="hidden" id="program-session-id">
                        <label class="form-label" for="min-credits">Minimum Credits:</label>
                        <input class="form-control is-empty is-number" type="text" id="min-credits" autocomplete="off">
                        <span class="text-danger d-none is-in-valid"></span>
                    </div>

                    <div class="empty mt-3">
                        <label class="form-label" for="max-credits">Maximum Credits:</label>
                        <input class="form-control is-empty is-number" type="text" id="max-credits" autocomplete="off">
                        <span class="text-danger d-none is-in-valid"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary modal-close" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="update-program-sessions">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
$(document).ready(function() {
    let test = '<%- pageCount %>';
    let rowCount = $('#changeEntry').val();
    $('#page-no').html(test);
    
    setActiveMenuItem(`<%- active %>`)
    paginationData(rowCount, parseInt(test));

    $('#refresh-program-sessions').on('click',function(){
        let ApiObj = {
            url:'/admin/program-sessions/refresh',
            type:'POST',
            data:{},
            datatype:'JSON'
        }
        ajaxApi(ApiObj).then(result=>{
            createToast({ title: "Success", msg: result.description, type: "positive", showingTime:"1000" });
            setTimeout(function(){location.reload();},1000);     
        }).catch(error =>{
            let errorMessage = JSON.stringify(error.responseJSON.description);
            createToast({ title: "Fail", msg: errorMessage, type: "negative", showingTime:"1000"});
        })
    })

    $('#update-program-sessions').on('click',function(){
        let maxCredits = $('#edit-program-sessions #max-credits').val();
        let minCredits = $('#edit-program-sessions #min-credits').val();
        let programSessionId = $('#edit-program-sessions #program-session-id').val();
        let isRequiredFieldsEmpty = isModalFieldEmpty('#edit-program-sessions .modal-body');
         
        if(isRequiredFieldsEmpty){
         
            let ApiObj = {
                url:'/admin/program-sessions/update',
                type:'POST',
                data:{
                    id:programSessionId,
                    min_credits:minCredits,
                    max_credits:maxCredits
                },
                datatype:'JSON'
            }
            ajaxApi(ApiObj).then(result =>{
                createToast({ title: "Success", msg: result.description, type: "positive", showingTime:"1000" });
                setTimeout(function(){location.reload();},1000);     
            }).catch(error =>{
                let errorMessage = JSON.stringify(error.responseJSON.description);
                createToast({ title: "Fail", msg: errorMessage, type: "negative", showingTime:"1000" });
            })
        }
    })   

    $('#edit-program-sessions').on('click', '.modal-close', function() {
        $(this).closest('.modal-content').find(`.is-in-valid`).addClass('d-none');
    });

    $('#program-sessions-table').on('click','.edit-program-sessions',function(){
        let minCredits = $(this).closest('tr').data('min-credits');
        let maxCredits = $(this).closest('tr').data('max-credits');
        let acadSession = $(this).closest('tr').data('acad-session');
        let id = $(this).closest('tr').data('id');

       $('#edit-program-sessions #program-session-id').val(id);
       $('#edit-program-sessions #min-credits').val(minCredits);
       $('#edit-program-sessions #max-credits').val(maxCredits);
       $('#edit-program-sessions #acad-session').val(acadSession);
    })

    $('#searchkeyword').on('input',function(){

        let searchValue = $(this).val().trim();
        let showEntry = $('#changeEntry').val();
        $('#changeEntry').val($('#changeEntry :first-child').val());
        $.ajax({
            type:'POST',
            url:'/admin/program-sessions/search',
            data:{
                searchLetter:searchValue,
                showEntry:showEntry
            },
            success:function(data){
                paginationData(rowCount,data.length)
                AjaxtTable(data.programSessionList );
                $('#page-no').html(data.length);
            }
        })
    })       

    $(".pagination-search").on('click','.pagination li',function(){
        
        let keyword = $("#searchkeyword").val();
        let showEntry = $('#changeEntry').val();
        let pageNo = $(this).data('lp');
    
        $.ajax({
            type: "POST",
            url: "/admin/program-sessions/search",
            data: {
                searchLetter: keyword,
                pageNo: pageNo,
                showEntry:showEntry
            },
            success: function (data) {
                AjaxtTable(data.programSessionList);
                paginationData(showEntry,data.length)
                $('#page-no').html(data.length);
            }
        });
    });

    $('#changeEntry').on('change',function(){
        let showEntry = $(this).val();
        let ApiObj = {
            type:'POST',
            url:'/admin/program-sessions/showEntry',
            data:{
                showEntry:showEntry
            },
            datatype:'JSON'
        }
        ajaxApi(ApiObj).then(result=>{
            paginationData(showEntry,result.length)
            AjaxtTable(result.programSessionList)
            $('#page-no').html(result.length)
            $('#searchkeyword').val('');
        }).catch(error =>{
            let errorMessage = JSON.stringify(error.responseJSON.description);
            createToast({ title: "Fail", msg: errorMessage, type: "negative" });
        })    
    })     
});

function AjaxtTable(programSessionList) {
    $("#program-sessions-table tbody").empty();
    let AjaxTable = ``;
    if (programSessionList.length > 0) {
        let count = 1;
        for(programSession of programSessionList){
            AjaxTable +=
                    `<tr data-min-credits ="${programSession.min_credits}" 
                         data-max-credits ="${programSession.max_credits}" 
                         data-acad-session = "${programSession.acad_session}" 
                         data-id="${programSession.id}"
                        >
                            <td>${count++}</td>
                            <td>${programSession.acad_session}</td>
                            <td>${programSession.program_name}</td>
                            <td>${programSession.year}</td>
                            <td>${programSession.min_credits}</td>
                            <td>${programSession.max_credits}</td>
                            <td>
                                <a class="edit-program-sessions" data-bs-target="#edit-program-sessions"        data-bs-toggle="modal">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                     </tr>`
        }
    }
    $("#program-sessions-table tbody").html(AjaxTable);
}
</script>
  
<%- include('../../partials/footerEnd.ejs') %>