
<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>


<div class="main-content">
    <div class="breadcrumbs-container">
        <ul class="breadcrumb">
            <% if (breadcrumbs) { %>
                <% for (let crumbs of breadcrumbs) { %>
                    <% let crubm_name = crumbs.name == 'ADMIN' ? 'Dashboard' : crumbs.name;
                     %>
                    <li><a href="<%- crumbs.url %>"><%- crubm_name %></a></li>
                <% } %>
            <% } %>
        </ul>
    </div>

    <div class="card card-custom-border-curv" >
        <div class="card-header-custom d-flex justify-content-between p-2">
            <h4 class="ms-2">Concentration Settings</h4>
            <button type="button" class="btn btn-danger ms-auto me-3"  id="refresh-concentration-settings">
                <i class="fa-solid fa-rotate p-1"></i>Refresh
            </button> 
        </div>

        <div class="card-body table-responsive" >
          <div class="d-flex justify-content-between">
            <div>
                <label>Show Entries</label>
                <select class="form-select" id="changeEntry">
                    <%for(let page of locals.page_filter){%>
                       <option value="<%-page%>"><%-page%></option>
                    <%}%>
                </select>
            </div>
            <div>
                <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
            </div>
        </div>
            <table class="table custom_row table-bordered mt-4 custom-table" id="concentration-settings-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Concentration</th>
                    <th>Total Elective Credits</th>
                    <th>Maximum Credits per Area</th>
                    <th>No. of Areas to Cover</th>
                    <th>Minimum Credits per Area</th>
                    <th>Primary Area</th>
                    <th>Minimum Credits in Primary Area</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% let count = 1 %>
                  <% for(let concentrationSetting of concentrationSettingList) { %>
                    <tr>
                      <td><%- count++ %></td>
                      <td class="concentration-name"><%- concentrationSetting.concentration_name %></td>
                      <td><%- concentrationSetting.total_elective_credits%></td>
                      <td><%- concentrationSetting.max_credits_per_area %></td>
                      <td><%- concentrationSetting.no_of_areas_to_cover %></td>
                      <td><%- concentrationSetting.min_credits_per_area %></td>
                      <td><%- concentrationSetting.primary_area %></td>
                      <td><%- concentrationSetting.min_credits_in_primary_area %></td>
                      <td>
                        <a class="edit-concentration-settings" data-concentration-setting-id="<%- concentrationSetting.id %>"    data-concen-settings-total-ele-credits = "<%- concentrationSetting.total_elective_credits %>" 
                            data-concen-settings-max-cre-per-area = "<%- concentrationSetting.max_credits_per_area %>"
                            data-concen-settings-no-of-area-to-cover = "<%- concentrationSetting.no_of_areas_to_cover %>"
                            data-concen-settings-min-credits-per-area = "<%- concentrationSetting.min_credits_per_area %>"
                            data-concen-settings-min-credits-in-primary-area="<%- concentrationSetting.min_credits_in_primary_area %>"   
                            data-bs-toggle="modal" data-bs-target="#edit-concentration-setting-modal"><i class="fa fa-edit"></i></a>
                        <a class="text-danger delete-concentration-settings" data-concentration-setting-id="<%- concentrationSetting.id %>"><i class="fas fa-trash"></i></a>
                      </td>
                      </td>
                    </tr>
                    
                  <%}%>
                </tbody>
              </table>
              <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries :&nbsp;<span id="page-no"></span>
                    </p>
                </div>
                <div>
                    <p id="pagination" class="pagination-search"></p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal" id="edit-concentration-setting-modal">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title">Update Concentration Settings</h3>
                  <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                          <label class="mb-2 form-label" for="concentration-name">Concentration Name:</label>
                          <input type="hidden" id="course-id">
                          <input class="form-control" type="text" id="concentration-name" disabled>
                      </div>
  
                      <div class="col-md-6">
                          <label class="mb-2 form-label" for="total-elective-credits">Total Elective Credits:</label>
                          <input class="form-control" type="text" id="total-elective-credits">
                      </div>
                  </div>
  
                  <div class="row">
                      <div class="col-md-6">
                          <label class="form-label mb-2" for="max-credits-per-area">Maximum Credits Per Area:</label>
                          <input class="form-control" type="text" id="max-credits-per-area">
                          <span id="error-max-demand-criteria" class="text-danger d-none">Max Demand Criteria Allow Only Numbers</span>
                      </div>
                      <div class="col-md-6">
                          <label class="mb-2 form-label" for="number-of-areas-to-cover">Number Of Areas To Cover:</label>
                          <input class="form-control" type="text" id="number-of-areas-to-cover">
                          <span id="error-credits" class="text-danger d-none">Credits Allow Only Numbers</span>
                      </div>
                  </div>
  
                  <div class="row">
                      <div class="col-md-6">
                          <label class="form-label mb-2" for="min-credits-per-area">Minimum Credit Per Area:</label>
                          <input class="form-control" type="text" id="min-credits-per-area">
                          <span id="error-min-demand-criteria" class="text-danger d-none">Min Demand Criteria Allow Only Numbers</span>
                      </div>
                      <div class="col-md-6" id="primary-area-form">
                        <label class="mb-2 form-label" for="primary-area">Primary Area :</label>
                        <select class="form-control form-select select2 custom-select" id="primary-area">
                            <option value="" disabled selected>--Select Primary Area--</option>
                            <% for(let area of areaList){ %>
                                <option value="<%- area.id %>"><%- area.area_name %></option>
                            <% }%>
                        </select>
                        <span id="error-year-of-intro" class="text-danger d-none">Invalid Year of Introduction</span>
                    </div>
                     
                  </div>
                  <div class="col-md-6" id="primary-area-minimum">
                    <label class="form-label mb-2" for="min-credits-in-primary-area">Minimum Credits in Primary Area:</label>
                    <input class="form-control" type="text" id="min-credits-in-primary-area">
                    <span id="error-min-demand-criteria" class="text-danger d-none">Min Demand Criteria Allow Only Numbers</span>
                </div>
                 
              </div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary" id="update-concentration-settings">Update</button>
              </div>
          </div>
      </div>
  </div>
  
  <%- include('../partials/footer.ejs') %>          
<script>
   $(document).ready(function(){
    
    let test = '<%- pageCount %>';
        let rowCount = $('#changeEntry').val();
        $('#page-no').html(test);
        paginationData(rowCount, parseInt(test));

        setActiveMenuItem(`<%- active %>`)
        
        $('#searchkeyword').on('input',function(){

            let concentrationSettingsValue = $(this).val();
            let showEntry = $('#changeEntry').val();

                $.ajax({
                type:'POST',
                url:'/admin/concentration-settings/search',
                data:{
                searchLetter:concentrationSettingsValue,
                showEntry:showEntry
                },
                success:function(data){
                paginationData(rowCount,data.length)
                AjaxtTable(data.data)
                }
                })
         })       

        $(".pagination-search").on('click','.pagination li',function(){
            let keyword = $("#searchkeyword").val();
            let showEntry = $('#changeEntry').val();
            let pageNo = $(this).attr('data-lp');

            $.ajax({
                type: "POST",
                url: "/admin/concentration-settings/search",
                data: {
                    searchLetter: keyword,
                    pageNo: pageNo,
                    showEntry:showEntry
                },
                success: function (data) {
                    AjaxtTable(data.data);
                }
            });
        });

        $('#changeEntry').on('change',function(){
        let showEntry = $(this).val();
        let ApiObj = {
            type:'POST',
            url:'/admin/concentration-settings/showEntryConcentrationList',
            data:{
                showEntry:showEntry
            },
            datatype:'JSON'
            }
            ajaxApi(ApiObj).then(result=>{
            paginationData(showEntry,result.length)
                AjaxtTable(result.data)
            }).catch(error =>{
            showError(JSON.stringify(error.responseJSON));
            })    
        })

    $('#refresh-concentration-settings').on('click',function(){

      let ApiObj = {
        url:'/admin/concentration-settings/refresh',
        type:'POST',
        data:{},
        dataType:'JSON'
      }
      ajaxApi(ApiObj).then(result =>{
        createToastMessage(result.description);
      }).catch(error =>{
        showError(JSON.stringify(error.responseJSON));
      })
    })
$('#concentration-settings-table').on('click','.delete-concentration-settings',function(){
      let concentrationId = $(this).attr('data-concentration-setting-id');
  
      let ApiObj = {
                url:'/admin/concentration-settings/delete',
                type:'POST',
                data:{
                   id:concentrationId
                },
                dataType:'JSON'
            }
            ajaxApi(ApiObj).then(result =>{
                createToastMessage(result.description);
            }).catch(error =>{
                showError(JSON.stringify(error.responseJSON))
            })

        })


     $('#concentration-settings-table').on('click','.edit-concentration-settings',function(){
      let editConcentration = $(this).closest('tr').find('td.concentration-name').text().trim();
      let totalEleCredits   = $(this).attr('data-concen-settings-total-ele-credits');
      let maxCreditsPerArea   = $(this).attr('data-concen-settings-max-cre-per-area');
      let noOfAreaToCover   = $(this).attr('data-concen-settings-no-of-area-to-cover');
      let minCreditsPerArea   = $(this).attr('data-concen-settings-min-credits-per-area');
      let minCreditsInPrimaryArea   = $(this).attr('data-concen-settings-min-credits-in-primary-area');

      if(editConcentration.toLowerCase() == 'general management'){
       $('#primary-area-minimum').addClass('d-none');
       $('#primary-area-form').addClass('d-none');
      
      }
      else{
         $('#primary-area-minimum').removeClass('d-none');
         $('#primary-area-form').removeClass('d-none');
         
      }
      $('#edit-concentration-setting-modal #concentration-name').val(editConcentration);
      $('#edit-concentration-setting-modal #total-elective-credits').val(totalEleCredits);
      $('#edit-concentration-setting-modal #max-credits-per-area').val(maxCreditsPerArea);
      $('#edit-concentration-setting-modal #number-of-areas-to-cover').val(noOfAreaToCover);
      $('#edit-concentration-setting-modal #min-credits-per-area').val(minCreditsPerArea);
      $('#edit-concentration-setting-modal #min-credits-in-primary-area').val(minCreditsInPrimaryArea);

      let concentrationSettingsId = $(this).attr('data-concentration-setting-id');
      $('#edit-concentration-setting-modal #concentration-name').attr('data-id',concentrationSettingsId);
     })

$('#edit-concentration-setting-modal').on('click', '#update-concentration-settings', function(){
  let id = $('#concentration-name').attr('data-id');
  let concentrationName = $('#concentration-name').val();
  let minCreditsInPrimaryArea = $('#min-credits-in-primary-area').val();
  let maxCreditsPerArea = $('#max-credits-per-area').val();
  let minCreditsPerArea = $('#min-credits-per-area').val();
  let totalElectiveCredits = $('#total-elective-credits').val();
  let numberOfAreasToCover = $('#number-of-areas-to-cover').val();
  let primaryAreaOption =  $('#primary-area option:selected').text() === '--Select Primary Area--' ? null : $('#primary-area option:selected').text();
;

  if((primaryAreaOption === '--Select Primary Area--') && (editConcentration.toLowerCase() != 'general management')){
    alert('Select Primary Area');
  }
 else{
    
  let editConcentrationsettings = {
    id:id,
    total_elective_credits: totalElectiveCredits,
    max_credits_per_area: maxCreditsPerArea,
    no_of_areas_to_cover: numberOfAreasToCover,
    min_credit_per_area: minCreditsPerArea,
    primary_area: primaryAreaOption,
    min_credits_in_primary_area: minCreditsInPrimaryArea
  };

  let ApiObj = {
    type: 'POST',
    url: '/admin/concentration-settings/update',
    data:{  editConcentrationsettings : JSON.stringify(editConcentrationsettings)},
    dataType: 'JSON'
  };
   
  ajaxApi(ApiObj)
    .then(result => {
        createToastMessage(result.description);
    })
    .catch(error => {
       showError(JSON.stringify(error.responseJSON));
    });
}
});
   
    });
    
   

            function AjaxtTable(concentrationSettingList) {
           $("#concentration-settings-table tbody").empty();
           let AjaxTable = ``;
           if (concentrationSettingList.length > 0) {
               let count = 1;
               for (concentrationSetting of concentrationSettingList) {
                   AjaxTable +=
                       `<tr>
                           <td>${count++}</td>
                           <td>${concentrationSetting.concentration_name}</td>
                           <td>${concentrationSetting.total_elective_credits}</td>
                           <td>${concentrationSetting.max_credits_per_area}</td>
                           <td>${concentrationSetting.no_of_areas_to_cover}</td>
                           <td>${concentrationSetting.min_credits_per_area}</td>
                           <td>${concentrationSetting.primary_area}</td>
                           <td>${concentrationSetting.min_credits_in_primary_area}</td>
                           <td>
                               <a class="edit-concentration-settings" data-bs-target="#edit-concentration-setting-modal" data-bs-toggle="modal" data-id="${concentrationSetting.id}">
                           <i class="fa fa-edit"></i></a>
                           <a class="delete-concentration-settings" data-id="${concentrationSetting.id}"><i class="fa-solid fa-trash text-danger"></i></a>
                           </td>
                       </tr>`
               }
           }        
           $("#concentration-settings-table tbody").html(AjaxTable);
       }

</script>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/footerEnd.ejs') %>

