<%- include('../partials/head') %>
<%- include ('../partials/leftSidebar') %>
<%- include ('../partials/header') %>
<div class="main-content">
</div>
</main>
<%- include('../partials/footer') %>
<script>
     $(document).ready(function(){
        let active = `<%- active %>`;
        $('#sidebar .side-menu li.' + active).addClass('active');

        $(document).on('click', '.fa-angles-left', function() {
        $('.left-sidebar').addClass('hide');
        $('.main').css('left', '80px');
        $('.top-navbar').css('left', '80px');
        $('.nmims-logo').addClass('d-none');
        $('.nmims-logo-small').removeClass('d-none');
        $(this).removeClass('fa-angles-left').addClass('fa-angles-right');
        $('.left-sidebar .side-menu li img').css('margin-left','0px');
    });

    $(document).on('click', '.fa-angles-right', function() {
        $('.left-sidebar').removeClass('hide');
        $('.main').css('left', '260px');
        $('.top-navbar').css('left', '260px');
        $('.nmims-logo').removeClass('d-none');
        $('.nmims-logo-small').addClass('d-none');
        $(this).addClass('fa-angles-left').removeClass('fa-angles-right');
        $('.left-sidebar .side-menu li img').css('margin-left','5px');
    })
});
</script>
<%- include('../partials/footerEnd') %>
