<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>
<%- include('../partials/bread.ejs') %>

    <div class="card card-custom-border-curv">
        <div class="card-header-custom d-flex justify-content-between p-1">
            <h4 class="ms-2"> Areas</h4>
                <button type="button" class="btn btn-danger ms-auto me-3" id="refresh-areas">
                    <i class="fa-solid fa-rotate p-1"></i>Refresh
                </button>  
        </div>
        <div class="card-body table-responsive">
            <div class="d-flex justify-content-between">
                <div>
                    <label>Show Entries</label>
                    <select class="form-select" id="changeEntry">
                        <% for (let page of locals.page_filter) { %>
                            <option value="<%- page %>"><%- page %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <div class="table-searchbar-container d-flex justify-content-around p-1">
                        <button type="button" id="searchkeyword-button" class="border-0 outline-0">
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar" autocomplete="off" size="24">
                    </div>
                </div>
            </div>

            <table class="table table-bordered mt-4" id="areas-table">
                <thead>
                    <th>#</th>
                    <th>Area Name</th>     
                </thead>
                <tbody>
                    <% let count = 1 %>
                    <%for(let area of areaList) {%>
                        <tr>
                            <td><%- count++ %></td>
                            <td><%-area.area_name %></td> 
                        </tr>
                    <%}%>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries :&nbsp;
                        <span id="page-no"></span>
                    </p>
                </div>
                <div>
                    <p id="pagination" class="pagination-search"></p>
                </div>
            </div>
        </div>
    </div>  

    <div class="modal" id="edit-program-sessions">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Credits</h3>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label class="form-label mb-2" for="min-credits">Min Credits :</label>
                    <input type="hidden" id="program-session-id">
                    <span  class="text-danger d-none" id="min-credits-error">Min Credits Allow Only Numbers </span>
                    <input class="form-control" type="text" id="min-credits">              
                    <label class="form-label mb-2" for="max-credits">Max Credits :</label>
                    <input class="form-control" type="text" id="max-credits">  
                    <span class="text-danger d-none" id="max-credits-error">Max Credits Allow Only Numbers </span>
                </div>      
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="update-program-sessions">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>

<script>
   
$(document).ready(function() {
    
    let test = '<%- pageCount %>';
    let rowCount = $('#changeEntry').val();
    $('#page-no').html(test);
    paginationData(rowCount, parseInt(test));

    setActiveMenuItem(`<%- active %>`);

    $('#searchkeyword').on('input', function() {
        let areaValue = $(this).val().trim();
        let showEntry = $('#changeEntry').val();
        $('#changeEntry').val($('#changeEntry :first-child').val());

        $.ajax({
            type: 'POST',
            url: '/admin/areas/search',
            data: {
                searchLetter: areaValue,
                showEntry: showEntry
            },
            success: function(data) {
                paginationData(rowCount, data.length);
                AjaxtTable(data.data);
                $('#page-no').html(data.length);
            }
        });
    });

    $(".pagination-search").on('click', '.pagination li', function() {
        let keyword = $("#searchkeyword").val();
        let showEntry = $('#changeEntry').val();
        let pageNo = $(this).data('lp');

        $.ajax({
            type: "POST",
            url: "/admin/areas/search",
            data: {
                searchLetter: keyword,
                pageNo: pageNo,
                showEntry: showEntry
            },
            success: function(data) {
                AjaxtTable(data.data);
                $('#page-no').html(data.length);
            }
        });
    });

    $('#changeEntry').on('change', function() {
        let showEntry = $(this).val();
        let ApiObj = {
            type: 'POST',
            url: '/admin/areas/showEntryAreaList',
            data: {
                showEntry: showEntry
            },
            datatype: 'JSON'
        };
        ajaxApi(ApiObj)
            .then(result => {
                paginationData(showEntry, result.length);
                AjaxtTable(result.data);
                $('#page-no').html(result.length);
                $('#searchkeyword').val('');
            })
            .catch(error => {
                let errorMessage = JSON.stringify(error.responseJSON.description);
                createToast({ title: "Fail", msg: errorMessage, type: "negative" });
            });
    });

    $('#refresh-areas').on('click', function() {
        let ApiObj = {
            url: '/admin/areas/refresh',
            type: 'POST',
            data: {},
            datatype: 'JSON'
        };
        ajaxApi(ApiObj)
            .then(result => {
                createToast({ title: "Success", msg: result.description, type: "positive" });
            })
            .catch(error => {
                let errorMessage = JSON.stringify(error.responseJSON.description);
                createToast({ title: "Fail", msg: errorMessage, type: "negative" });
            });
    });

    function AjaxtTable(areaList) {
        $("#areas-table tbody").empty();
        let AjaxTable = ``;
        if (areaList.length > 0) {
            let count = 1;
            for (area of areaList) {
                    AjaxTable +=
                        `<tr>
                            <td>${count++}</td>
                            <td>${area.area_name}</td>
                        </tr>`;
                }
        }
        $("#areas-table tbody").html(AjaxTable);
    }
});

</script>
  
<%- include('../partials/footerEnd.ejs') %>