<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="main-content">
    <div class="breadcrumbs-container">
        <ul class="breadcrumb">
            <% if (breadcrumbs) { %>
                <% for (let crumbs of breadcrumbs) { %>
                    <% let crubm_name = crumbs.name == 'ADMIN' ? 'Dashboard' : crumbs.name;
                     %>
                    <li><a href="<%- crumbs.url %>"><%- crubm_name %></a></li>
                <% } %>
            <% } %>
        </ul>
   </div>
  <div class="card card-custom-border-curv">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h3 class="ms-2"> Area</h3>
        <button type="button" class="btn btn-danger ms-auto me-3"  id="refresh-areas">
            <i class="fa-solid fa-rotate p-1"></i>Refresh
        </button>  
    </div>
    <div class="card-body table-responsive">
        <div class="d-flex justify-content-between">
            <div>
                <label>Show Entries</label>
                <select class="form-select" id="changeEntry">
                    <%for(let page of locals.page_filter){%>
                       <option value="<%-page%>"><%-page%></option>
                    <%}%>
                </select>
            </div>
            <div>
                <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
            </div>
        </div>

        <table class="table custom_row table-bordered mt-4 custom-table" id="areas-table">
            <thead>
                <th>#</th>
                <th>Area Name</th>
                
            </thead>
            <tbody>
                <% let count = 1 %>
                <%for(let area of areaList) {%>
                    <tr>
                        <td><%- count++ %></td>
                        <td><%-area.area_name %></td> 
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <div>
                <p>Total entries :&nbsp;<span id="page-no"></span>
                </p>
            </div>
            <div>
                <p id="pagination" class="pagination-search"></p>
            </div>
        </div>
    </div>
  </div>  
</div>


<div class="modal" id="edit-program-sessions">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Credits</h3>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <label class="form-label mb-2" for="min-credits">Min Credits :</label>
              <input type="hidden" id="program-session-id">
              <span  class="text-danger d-none" id="min-credits-error">Min Credits Allow Only Numbers </span>
              <input class="form-control" type="text" id="min-credits">              
              <label class="form-label mb-2" for="max-credits">Max Credits :</label>
              <input class="form-control" type="text" id="max-credits">  
              <span  class="text-danger d-none" id="max-credits-error">Max Credits Allow Only Numbers </span>
              </div>   
        
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="update-program-sessions">Update</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        let test = '<%- pageCount %>';
        let rowCount = $('#changeEntry').val();
        $('#page-no').html(test);
        paginationData(rowCount, parseInt(test));

        let active = `<%- active %>`;
        $('#sidebar .side-menu li.' + active).addClass('active');

        $('#searchkeyword').on('input',function(){

        let areaValue = $(this).val();
        let showEntry = $('#changeEntry').val();

            $.ajax({
            type:'POST',
            url:'/admin/area/search',
            data:{
            searchLetter:areaValue,
            showEntry:showEntry
            },
            success:function(data){
            paginationData(rowCount,data.length)
            AjaxtTable(data.data)
            $('#page-no').html(data.length);
            }
            })
        })       

        $(".pagination-search").on('click','.pagination li',function(){
            let keyword = $("#searchkeyword").val();
            let showEntry = $('#changeEntry').val();
            let pageNo = $(this).attr('data-lp');
        
            $.ajax({
                type: "POST",
                url: "/admin/area/search",
                data: {
                    searchLetter: keyword,
                    pageNo: pageNo,
                    showEntry:showEntry
                },
                success: function (data) {
                    AjaxtTable(data.data);
                    $('#page-no').html(data.length);
                }
            });
        });

        $('#changeEntry').on('change',function(){
        let showEntry = $(this).val();
        let ApiObj = {
            type:'POST',
            url:'/admin/area/showEntryAreaList',
            data:{
                showEntry:showEntry
            },
            datatype:'JSON'
            }
            ajaxApi(ApiObj).then(result=>{
            paginationData(showEntry,result.length)
                AjaxtTable(result.data)
                $('#page-no').html(data.length);
            }).catch(error =>{
            showError(error.responseJSON);
            })    
        })

        function paginationData(rowCount, totalCount) {
            let pageNos = Math.ceil(Number(totalCount) / Number(rowCount));
            console.log("Page Numbers", pageNos);
            $('#pagination').bootpag({
                total: pageNos,
                page: 1,
                maxVisible: 10,
                leaps: true,
                firstLastUse: true,
                first: '←',
                last: '→',
                wrapClass: 'pagination',
                activeClass: 'active', 
                disabledClass: 'disabled',
                nextClass: 'next',
                prevClass: 'prev',
                lastClass: 'last',
                firstClass: 'first'
            }).on("page", function (event, num) {
               
            });
        }
     $('#refresh-areas').on('click',function(){
        let ApiObj = {
            url:'/admin/area/refresh',
            type:'POST',
            data:{},
            datatype:'JSON'
        }
        ajaxApi(ApiObj).then(result=>{
            showSuccess(result);
        }).catch(error =>{
            console.log('values of error',error.responseJson);
            showError(error.responseJson);
        })
     })
    })


function showError(errors) {
            console.log(errors);
            console.log('values of description',errors)
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-danger',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
            }
            function IsNumber(inputString) {
                let isNumber = false;
                for (let i = 0; i < inputString.length; i++) {
                const charCode = inputString.charCodeAt(i);
                if (charCode >= 48 && charCode <= 57) {
                    isNumber = true;
                }else{
                    isNumber = false;
                }
                }
                return isNumber;
            }
            function AjaxtTable(areaList) {
           $("#areas-table tbody").empty();
           let AjaxTable = ``;
           if (areaList.length > 0) {
               let count = 1;
               for (area of areaList) {
                   AjaxTable +=
                       `<tr>
                           <td>${count++}</td>
                           <td>${area.area_name}</td>
                       </tr>`
               }
           }
           
                  
           $("#areas-table tbody").html(AjaxTable);
       }
</script>
  
<%- include('../partials/footer.ejs') %>

<%- include('../partials/footerEnd.ejs') %>