<%- include('../partials/head') %>

<%- include('../partials/leftSidebarForStudent.ejs') %>
<%- include('../partials/header.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="main-content">
  <div class="card card-custom">
    <div class="card-header-custom d-flex justify-content-between p-1">
        <h4 class="ms-2">Demand Estimation Round</h4>
        <button type="button" class="btn btn-danger ms-auto me-3"  id="multiple-url-hit">
           Demand Estimation Round
        </button>  
    </div>
    <div class="card-body table-responsive">
        <h3 class="text-center">Demand Estimation Round</h3>
        <div class="row ps-5 pe-5 d-flex justify-content-between">
            <div class="col-md-4">
                <h6>Minimum Yearly Credits :</h6>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h6>Maximum Yearly Credits :</h6>
            </div>
        </div>
        <div class="row ps-5 pe-5">
            <div class="col-md-4">
                <h6>Trim IV Selected Credits :</h6>
            </div>    
            <div class="col-md-4">
                <h6>Trim V Selected Credits :</h6>
            </div>
            <div class="col-md-4">
                <h6>Trim VI Selected Credits :</h6>
            </div>
        </div>
        <div class="row ps-5 pe-5">
            <div class="col-md-4">
                <h6>Start Time :</h6>
            </div>    
            <div class="col-md-4">
                <h6>End Time :</h6>
            </div>
            <div class="col-md-4">
                <h6>Current Time :</h6>
            </div>
        </div>
    </div>
    
    </div>
  </div>  
</div>
<script>
$(document).ready(function() {
    
    let active = `<%- active %>`;
    $('#sidebar .side-menu li.' + active).addClass('active');

    $(document).on('click', '.fa-angles-left', function() {
    $('.left-sidebar').addClass('hide');
    $('.main').css('left', '80px');
    $('.top-navbar').css('left', '80px');
    $('.nmims-logo').addClass('d-none');
    $('.nmims-logo-only').removeClass('d-none');
    $(this).removeClass('fa-angles-left').addClass('fa-angles-right');
    $('.left-sidebar .side-menu li img').css('margin-left','-2px');
});

$(document).on('click', '.fa-angles-right', function() {
    $('.left-sidebar').removeClass('hide');
    $('.main').css('left', '260px');
    $('.top-navbar').css('left', '260px');
    $('.nmims-logo').removeClass('d-none');
    $('.nmims-logo-only').addClass('d-none');
    $(this).addClass('fa-angles-left').removeClass('fa-angles-right');
});

    $('#multiple-url-hit').on('click', async function() {
    const url = '/student/multiple-hit';
    const batchSize = 100; 
    const totalRequests = 2;
    const batches = Math.ceil(totalRequests / batchSize);

    try {
        const promises = Array.from({ length: batches }, (_, batchIndex) => {
            const start = batchIndex * batchSize;
            const end = Math.min(start + batchSize, totalRequests);
            const batchUrls = Array.from({ length: end - start }, () => fetch(url));
            return Promise.allSettled(batchUrls)
                .then(batchResponses => {
                    batchResponses.forEach((response, index) => {
                        const currentRequestIndex = start + index + 1;
                        console.log(`Response ${currentRequestIndex}:`, response.status === 'fulfilled' ? response.value : 'Error');
                    });
                });
        });

        await Promise.all(promises);
    } catch (error) {
        console.error('Error in one or more batches:', error);
    }
});


});

</script>

<%- include('../partials/footer.ejs') %>

<%- include('../partials/footerEnd.ejs') %>