<div class="modal fade full-screen-modal" id="full-screen-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="full-screen-modal-title">Time Table</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <table class="table table-responsive table-bordered time-table-daywise scroll">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Room No</th>
                                    <th scope="col">7:30 AM to 8:30 AM</th>
                                    <th scope="col">8:30 AM to 9:30 AM</th>
                                    <th scope="col">9:30 AM to 10:30 AM</th>
                                    <th scope="col">11:00 AM to 12:00 Noon</th>
                                    <th scope="col">12:30 PM to 01:30 PM</th>
                                    <th scope="col">01:30 PM to 02:30 PM</th>
                                    <th scope="col">03:00 PM to 04:00 PM</th>
                                    <th scope="col">04:00 PM to 05:00 PM</th>
                                    <th scope="col">05:00 PM to 06:00 PM</th>
                                  </tr>
                                </thead>
                                <tbody>

                                  <% values.forEach((value) => { %>

                                    <tr>
                                        <td class="room-no" room-no="" scope="row"><%- value.roomno %></td>
                                        <td><%- value.slot1 %></td>
                                        <td><%- value.slot2 %></td>
                                        <td><%- value.slot3 %></td>
                                        <td><%- value.slot4 %></td>
                                        <td><%- value.slot5 %></td>
                                        <td><%- value.slot6 %></td>
                                        <td><%- value.slot7 %></td>
                                        <td><%- value.slot8 %></td>
                                        <td><%- value.slot9 %></td>
                                    </tr>

                                <% })  %>



                                <tr>
                                    <td class="noResult text-center d-none" colspan="10">
                                    <i class="fas fa-exclamation-circle text-danger fa-4x"></i>
                                    <h5>No Data Found</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </div>
