<main class="main">
    <!-- NAVBAR -->
    <header>
        <nav class="top-navbar d-flex justify-content-xl-end justify-content-between align-items-center">
            <a href="/admin/dashboard"><img src="/image/logo-nmims.png" alt="NMIMS LOGO" class="nmims-logo-smalldevices me-auto"></a>
            <div class="navbar-logo d-none me-auto">
                <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
             </div>
            <button class="me-auto left-sidebar-toggle" style="border: none; outline: none; background-color: white;"><i class="fa-solid fa-bars"></i></button>
            <ul class="top-navbar__list">

            
                 <!-- <li class="session-name" data-session-id="<%- locals.timetableSessionId%>" style="border-radius: 4px;border: 1px solid #F0A500; padding: 1px 10px;background: #F0A500;"><a href="javascript:void(0);" class="text-dark"><img src="/icons/status.png" alt=""><span style="color: white; font-weight: bold;"><%- locals.timetableSessionName%></span></a></li> -->

                  <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle session-name <%= locals.biddingName ? '' : 'disabled' %>" type="button" id="
                        "
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" data-session-id="<%- locals.biddingId%>" style="background: #F0A500;"> 
                        
                        <% if(locals.biddingName) { %>
                        <span style="color: white; font-weight: bold mt-2 mb-2 ;"><%- locals.biddingName %></span>
                        <% } else { %>
                        <span style="color:white;font-weight: bold;">Add Bidding Session</span>
                      <%  } %>
                    </button>
                    
                   
                </div>
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" type="button" id="defaultDropdown"
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"> 
                        <img src="/icons/user.png" alt=""> Hi! <%- locals.firstName %> 
                        <input type="hidden" value= "<%- locals.userId %>" >
                    </button>
                    <ul class="dropdown-menu userprofile-dropdown-menu" aria-labelledby="defaultDropdown">
                        <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> Settings</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> Manage account</a></li>
                        <li class="update-password"><a href="javascript:void(0)" class="dropdown-item"><i class="fa fa-unlock-alt"></i> Update Password</a></li>
                        <li><a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i></i> Signout</a></li>
                    </ul>
                </div>
            </ul>
            <div class="hamburger-smalldevices"><img src="/icons/HamburgerIcon.png" alt="" width="24px" height="20px">
            </div>
        </nav>
    </header>
    <div class="modal-loader d-none">
        <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
      <circle fill="#FF4136" stroke="none" cx="6" cy="50" r="6">
        <animateTransform 
           attributeName="transform" 
           dur="1s" 
           type="translate" 
           values="0 15 ; 0 -15; 0 15" 
           repeatCount="indefinite" 
           begin="0.1"/>
      </circle>
      <circle fill="#FF851B" stroke="none" cx="30" cy="50" r="6">
        <animateTransform 
           attributeName="transform" 
           dur="1s" 
           type="translate" 
           values="0 10 ; 0 -10; 0 10" 
           repeatCount="indefinite" 
           begin="0.2"/>
      </circle>
      <circle fill="#FFDC00" stroke="none" cx="54" cy="50" r="6">
        <animateTransform 
           attributeName="transform" 
           dur="1s" 
           type="translate" 
           values="0 5 ; 0 -5; 0 5" 
           repeatCount="indefinite" 
           begin="0.3"/>
      </circle>
    </svg>
      </div>

    
        <!-- Modal for Bidding session -->
        
        <div class="modal fade" id="bidding-session-popup-modal" tabindex="-1" aria-labelledby="bidding-session-popup-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="update_status">Update Status</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal for update password -->
        <div class="modal fade" id="update-password-modal" tabindex="-1" aria-labelledby="timetable-session-popup-modal" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="form-group old-pass">
                                <label for="" class="col-form-label">Old Password</label>
                                <input class="form-control" type="password" name="student-old-password" id="student-old-password">
                            </div>
                            
                            <input type="hidden" name="student-user-id" id="student-user-id" value="<%- locals.username %>">

                            <div class="form-group new-pass" style="display: none;">
                                <label for="" class="col-form-label">New Password</label>
                                <input class="form-control" type="password" name="student-new-password" id="student-new-password">
                            </div>

                            <div class="form-group confirm-pass" style="display: none;">
                                <label for="" class="col-form-label">Confirm New Password</label>
                                <input class="form-control" type="password" name="student-confirm-password" id="student-confirm-password">
                            </div>
                        </form>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="check-password-btn">Check</button>
                        <button type="button" class="btn btn-success" id="update-password-btn" style="display: none;">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Add Trimester -->
        <div class="modal" id="add_trimester_modal" data-bs-keyboard="false" data-bs-backdrop="static">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header text-white bg-primary">
                       <h4>Add Trimester</h4>
                       <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                   </div>
                   <div class="modal-body">
                       <div class="my-3">
                           <label for="select_trimester" class="form-label">Trimester :</label>
                           <select class="form-select" id="select_trimester" >
                               <option value="" selected disabled>--Select Trimester--</option>
                               <option value="trimester I">Trimester I</option>
                               <option value="trimester II">Trimester II</option>
                               <option value="trimester III">Trimester III</option>
                           </select>
                       </div>
                       <div class="my-3">
                           <label for="select_program" class="form-label">Program :</label>
                           <select class="form-select" id="select_program">
                               <option value="" selected disabled>--Select Program--</option>
                               <option value="50783564">B.Com. (Hons.)-7401</option>
                               <option value="50783565">BACHELOR OF BUSINESS ADMINISTRATION-7402</option>
                               <option value="50002941">B.Tech in Biomedical Engineering-60013</option>
                           </select>
                       </div>
                       <div class="my-3">
                           <label for="select_batch" class="form-label">Batch :</label>
                           <select class="form-select" id="select_batch">
                               <option value="" selected disabled>--Select Batch--</option>
                               <option value="b1">Batch 1</option>
                               <option value="b2">Batch 2</option>
                               <option value="b3">Batch 3</option>
                           </select>
                       </div>
                       <div class="my-3">
                           <label for="min_credits" class="form-label" >Min-Credits:</label>
                           <input type="text" class="form-control" name="min_credits" id="min_credits">
                       </div>
                       <div class="my-3">
                           <label for="max_credits" class="form-label">Max-Credits:</label>
                           <input type="text" class="form-control" name="max_credits" id="max_credits">
                       </div>
                   </div>
                   <div class='modal-footer'>
                       <button class="btn btn-white border border-secondary" data-bs-dismiss="modal">Close</button>
                       <button class="btn btn-success">Add</button>
                   </div>
               </div>
            </div> 
          </div>