<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>

<div class="main-content">
  <div class="breadcrumbs-container">
    <ul class="breadcrumb">
      <% if (breadcrumbs) { %>
        <% for (let crumbs of breadcrumbs) { %>
          <% let crumbName = (crumbs.name === 'ADMIN') ? 'Dashboard' : crumbs.name; %>
          <li><a href="<%- crumbs.url %>"><%- crumbName %></a></li>
        <% } %>
      <% } %>
    </ul>
  </div>

  <div class="card card-custom-border-curv">
    <div class="card-header-custom d-flex justify-content-between p-1">
      <h3 class="ms-2">Bonus Bid Points</h3>
    </div>

    <div class="card-body table-responsive">
    
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
<script>
    $(document).ready(function(){        
    })
</script>
  
<%- include('../partials/footerEnd.ejs') %>