<%- include('../partials/head') %>
<%- include('../partials/leftSidebar.ejs') %>
<%- include('../partials/header.ejs') %>

<div class="main-content">
    <div class="col-12">
        <div class="breadcrumb" style="margin: 10px 0;">
            <a style="text-decoration: none; color: #007bff; font-weight: bold;" href="javascript:void(0)">Courseworkload</a>
            <i class="fa fa-home" aria-hidden="true" style="margin: 0 5px;"></i>
            <a href="javascript:void(0)" style="text-decoration: none;">Courseworkload</a>
        </div>
    </div>

    <div class="card card-custom" >
        <div class="card-header-custom d-flex justify-content-between p-2">
            <h4 class="ms-2">Course Data</h4>
            <button class="btn btn-success me-2" id="uploadCoures">Upload Courses</button>
        </div>
        <div class="card-body table-responsive" id="course-table">
            <table class="table custom_row table-bordered mt-4">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Course Name</th>
                    <th>Credit</th>
                    <th>Program Id</th>
                    <th>Acad Session</th>
                    <th>Area</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
        </div>
    </div>
   
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/footerEnd.ejs') %>
