<%- include('../partials/head') %>

<%- include('../partials/leftSidebarForStudent.ejs') %>
<%- include('../partials/header.ejs') %>

<div class="main-content mt-5">
    <div class="d-flex">
        <div class="card round-wise ms-5 me-5">
            <div class="card-body">
                <a href="confirmation/rounds-first" class="text-decoration-none text-dark confirmation-round-wise" data-id="3">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="d-flex">
                            <img src="/image/student/body-part-image/confirmation-round/confirmation2.png" alt="confirmation round I">
                            <h4 class="ms-2 round-label">Confirmation Round I</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="card round-wise">
            <div class="card-body">
                <a href="confirmation/rounds-second" class="text-decoration-none text-dark confirmation-round-wise" data-id = "5">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="d-flex">
                            <img src="/image/student/body-part-image/confirmation-round/confirmation2.png" alt="confirmation round II">
                            <h4 class="ms-2 round-label">Confirmation Round II</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
<script>
    $(document).ready(function() {
        let active = `<%- active %>`;
        $('#sidebar .side-menu li.' + active).addClass('active');

        $(document).on('click', '.confirmation-round-wise', function(event){
           event.preventDefault();
           let confirmationUrl = $(this).attr('href');
           let confirmationName = $(this).find('.round-label').text();
           
           localStorage.setItem('confirmationName', confirmationName);
           window.location.href = $(this).attr('href');
        })
    });
</script>

<%- include('../partials/footerEnd.ejs') %>
