
<%- include('../partials/head') %>
<%- include('../partials/leftSidebarForStudent.ejs') %>
<%- include('../partials/header.ejs') %>

<div class="main-content">

    <div class="card card-custom-border-curv round-message-container">
        <div class="round-message">
            <div class="card-header-custom d-flex justify-content-between">
                <h4 class="ms-2 round-name">
                    <%= currentRoundStatus.round_status === 'Round Not Found' ? 'Confirmation Round' : currentRoundStatus.roundName %>
                </h4>    
            </div>
            <div class="card-body table-responsive d-flex justify-content-center align-items-center">
                <% if (currentRoundStatus.round_ended == 1) {  %>
                    <p>This Round Has Ended!</p>
                <% } else if (currentRoundStatus.round_status == 'Round Not Found') { %>
                    <p>Round Not Found!</p>
                <% } %>
            </div>
        </div>
    </div>
    <div class="round-basic-details d-none <%= (currentRoundStatus.round_not_started_yet == 1) ? '' : ' d-none' %>">
        <ul class="d-flex justify-content-between align-items-end round-wises">
            <li class="ms-5 active" style="height: 58px;">
                <a class="text-decoration-none text-dark">
                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                        <div class="d-flex justify-content-between align-items-center active-div">
                            <h4 class="ms-2 round-name"></h4>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <div class="card card-custom-border-curv mt-2 ">
            <div class="card-header-custom d-flex justify-content-between p-1">
                <h5 class="round-name"></h5>
                <h5 class="time-remaining my-0 mx-1"></h5>
            </div>
            <div class="card-body table-responsive">
                <div class="row ps-5 pe-5">
                    <div class="col-md-4">
                        <h6>Start Time: <span id="start-time"><% if (startAndEndTime && startAndEndTime !== '0') { %><%- startAndEndTime.startTime %><% } else { %> <% } %></span><span class="round-not-created d-none">Confirmation Rounds Not Created Yet</span></h6>

                    </div>
                    <div class="col-md-4">
                        <h6>End Time: <span id="end-time"><% if (startAndEndTime && startAndEndTime !== '0') { %><%- startAndEndTime.endTime %><% } else { %> <% } %></span><span class="round-not-created d-none">Confirmation Rounds Not Created Yet</span></h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Current Time : &nbsp;<span id="current-date-time"></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="round-wise-details d-none">    
        <div class="card card-custom-border-curv mt-5">
            <div class="card-header-custom d-flex justify-content-between p-1">
                <h3 class="ms-2">Confirmed Courses</h3>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered mt-4" id="confirm-courses-table">
                    <thead>
                        <th>#</th>
                        <th>Area</th>
                        <th>Trimester</th>
                        <th>Course</th>
                        <th>Faculty</th>
                        <th>Credits</th>
                        <th>Your Bid</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-custom-border-curv mt-5" id="bidding-modal">
            <div class="card-header-custom d-flex justify-content-between p-1">
                <h3 class="ms-2">Winning Courses</h3>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered mt-4" id="winning-course-table">
                    <thead>
                        <th>#</th>
                        <th>Area</th>
                        <th>Trimester</th>
                        <th>Course</th>
                        <th>Faculty</th>
                        <th>Credits</th>
                        <th>Your Bid</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</main>
<footer>
    <div class="student-footer text-center">
        <div class="student-footer-div">
            <div class="d-flex justify-content-center align-items-center round-wise-details d-none">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-danger time-remaining"></h5>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</footer>       
<%- include('../partials/footer.ejs') %>

<script>
$(document).ready(function() {
 
    let socket = io();
    let active = `<%- active %>`;
    $('#sidebar .side-menu li.' + `<%- active %>`).addClass('active');

    let studentId = $('#student-data').data('student-id');
    let roundSettings = JSON.parse(`<%- JSON.stringify(roundDetails) %>`);
    let winningCourse = JSON.parse(`<%- JSON.stringify(winningCourseList) %>`);
    let confirmCourses = JSON.parse(`<%- JSON.stringify(confirmCourseList) %>`);
    let roundId = roundSettings.round_lid;
    let confirmationRoundId = $('.round-name').data('round-id');
    let activeBidding = $('#student-data').data('active-bidding');

    $('#confirm-courses-table tbody tr').each((index, element) => {
        let roundElementId = parseInt($(element).data('round-id'));
        if (roundId !== roundElementId) {
            $(element).find('button.unconfirm-courses').addClass('disabled');
        }
    });

    generateConfirmCourseRows(confirmCourses);
    appendWinningCourseRows(winningCourse);
   

    socket.emit('confirmationPageLoad', { 
        slugName: "<%- slug %>",
        biddingTime: JSON.parse(`<%- JSON.stringify(roundDetails) %>`),
        roundId: 3,
        roundIId: 5,
        studentId: studentId      
    });

    socket.emit('confirmationLoadTime', { 
        slugName: "<%- slug %>",
        activeBidding:activeBidding,
        biddingTime: JSON.parse(`<%- JSON.stringify(roundDetails) %>`),
        studentId: studentId
    });

    // socket.on('activeConfirmationRound', function(data) {
    //     console.log('values of data', data);
    //     $('.round-wise-modal').addClass('d-none');
    //     let roundName = data.roundDetails[0].roundName;
    //     let roundId = data.roundDetails[0].round_lid;
    //     let roundStartTime = data.roundDetails[0].startTime;
    //     let roundEndTime = data.roundDetails[0].endTime;
    //     let considerationSet = data.considerationSet;
    //     let confirmCourse = data.confirmationCourse;
    //     let winningCourse = data.winningCourse;
    //     let count = 0;
         
    //     winningCourse.forEach(winCourse => {
            
    //         let facultyId = winCourse.faculty_id;
    //         let facultyName = winCourse.faculty_name;
    //         let areaName = winCourse.area_name;
    //         let acadSession = winCourse.acad_session;
    //         let acadSessionId = winCourse.sap_acad_session_id;
    //         let courseName = winCourse.course_name;
    //         let courseId = winCourse.course_id;
    //         let courseLid = winCourse.course_lid;
    //         let credits = winCourse.credits;
    //         let bidPoints = winCourse.bid_points;
    //         let division = winCourse.division;
    //         let concentrationId = winCourse.concentration_lid;
    //         let divisionBatchId = winCourse.id;
    //         let isDropped = winCourse.is_dropped;
    //         let isWaitListed = winCourse.is_waitlisted;
    //         let isWinning = winCourse.is_winning;
    //         let roundId = winCourse.round_lid; 
    //         let row =
    //             `<tr data-faculty-id="${facultyId}" data-faculty-name="${facultyName}" 
    //                  data-area-name="${areaName}" data-acad-session-id="${acadSessionId}" 
    //                  data-acad-session="${acadSession}" data-course-name="${courseName}"
    //                  data-course-id="${courseId}" data-credits="${credits}" 
    //                  data-bid-points="${bidPoints}" data-division="${division}" 
    //                  data-concentration-lid="${concentrationId}" data-division-batch-lid="${divisionBatchId}" 
    //                  data-is-dropped="${isDropped}" data-is-waitlist="${isWaitListed}" data-is-winning="${isWinning}"
    //                   data-course-lid="${courseLid}" data-round-id ="${roundId}"
    //                 >
    //                     <td>${count++}</td>
    //                     <td>${areaName}</td>
    //                     <td>${acadSession}</td>
    //                     <td>${courseName}-${division}</td>
    //                     <td>${facultyName}</td>
    //                     <td>${credits}</td>
    //                     <td>${bidPoints}</td>
    //                     <td>
    //                         <button class="btn btn-success confirm-courses me-1">
    //                             <i class="fa-solid fa-check"></i> Confirm
    //                         </button>
    //                     </td>
    //             </tr>`; 
    //         $('#winning-course-table tbody').append(row);
    //     });
    
    //     $('#start-time').html(data.roundDetails[0].startTime);
    //     $('#end-time').html(data.roundDetails[0].endTime);
    //     $('.round-name').html(roundName);
    //     $('.round-name').attr('data-round-id', roundId);
    
    //     $('.bidding-round-wise').removeClass('d-none');
    //     $('.empty-bidding-round-wise').addClass('d-none');  
    // })

    let winningCourses = false;
    socket.on('confirmationRemainingTime', data =>{

        isEligibleForRound = data.studentList;
        $('#current-date-time').text(data.currentDateTime);
        
        if(data.currentRoundStatus.length > 0){
            
            if(data.currentRoundStatus[0].round_not_started_yet == '1'){
             
                    if(data.roundDetails[0]){
                        
                        if(isEligibleForRound == 1){
                            $('.round-wise-details').addClass('d-none');
                            $('.round-message-container').addClass('d-none');
                            $('.round-basic-details').removeClass('d-none');
                            $('.round-basic-details .round-name').text(data.roundDetails[0].roundName);
                            $('.round-message-container .round-name').attr('data-round-id', data.roundDetails[0].round_lid);
                            $('.round-basic-details').find('#start-time').text(data.roundDetails[0].startTime);
                            $('.round-basic-details').find('#end-time').text(data.roundDetails[0].endTime);
                        }else{
                            console.log('inside the else block data.roundDetails[0].length', data.roundDetails[0].length);
                            $('.round-wise-details').addClass('d-none');
                            $('.round-message-container .round-name').text(data.roundDetails[0].roundName);
                            $('.round-message-container .round-name').attr('data-round-id', data.roundDetails[0].round_lid);
                            $('.round-message-container p').text('You are not eligible for this round');
                            $('.round-basic-details').addClass('d-none');
                        }
                    }   
            }
            else if(data.currentRoundStatus[0].round_started == '1'){
                
                if(isEligibleForRound == 1){
                    if(!winningCourses){
                        appendWinningCourseRows( data.winningCourses);
                    }
                    winningCourses = true;
                    $('.round-message-container').addClass('d-none');
                    $('.round-basic-details .round-name').text(data.roundDetails[0].roundName);
                    $('.round-message-container .round-name').attr('data-round-id', data.roundDetails[0].round_lid);
                    $('.round-basic-details').removeClass('d-none');
                    $('.round-wise-details').removeClass('d-none');
                    $('.time-remaining').text(data.remainingTime);
                }else{
                    $('.round-message-container').removeClass('d-none');
                    $('.round-message-container .round-name').text(data.roundDetails[0].roundName);
                    $('.round-message-container .round-name').attr('data-round-id', data.roundDetails[0].round_lid);
                    $('.round-message-container p').text('You are not eligible for this round');
                    $('.round-basic-details').addClass('d-none');
                }
               
            }
            else if(data.currentRoundStatus[0].round_ended == '1'){
                
                $('.round-message-container').removeClass('d-none');
                $('.round-basic-details').addClass('d-none');
                $('.round-wise-details').addClass('d-none');
                $('.round-message-container').removeClass('d-none');
                $('.round-message-container p').text('This Round Has Ended!');
            }
        }else{
            $('.round-message-container').removeClass('d-none');
            $('.round-message-container p').text('Round Not Found!');
            $('.round-basic-details').addClass('d-none');
            $('.round-wise-details').addClass('d-none');
        }
    })

      
    socket.emit('roundEnded', { 
         slugName: "<%- slug %>",
         startTime :JSON.parse(`<%- JSON.stringify(roundDetails) %>`),
         roundId: confirmationRoundId
    });       

    $('#winning-course-table').on('click', '.confirm-courses', function () {
        let studentId = $('#student-data').data('student-id');
        let concentrationId = $(this).closest('tr').data('concentration-lid');
        let divisionBatchId = $(this).closest('tr').data('division-batch-lid');
        let bidPoints = $(this).closest('tr').data('bid-points');
        let isWinning = $(this).closest('tr').data('is-winning') == true ? 1 : 0;
        let isDropped = $(this).closest('tr').data('is-dropped') == true ? 1 : 0;
        let isWaitListed = $(this).closest('tr').data('is-waitlist') == true ? 1 : 0;
        let courseId = $(this).closest('tr').data('course-lid');
        let roundId = $('.round-name').data('round-id');
        let isConfirmed = 1;

        let confirmCourse = {
            student_lid: studentId,
            concentration_lid: concentrationId,
            div_batch_lid: divisionBatchId,
            bid_points: bidPoints,
            is_winning: isWinning,
            is_confirmed: isConfirmed,
            is_dropped: isDropped,
            is_waitlisted: isWaitListed,
            course_lid: courseId,
            round_lid: roundId
        };

        let ApiObj = {
            type: 'POST',
            url: '/student/confirmation/add-confirmation',
            data: {
                inputJson: JSON.stringify(confirmCourse)
            },
            dataType: 'JSON',
        };

        ajaxApi(ApiObj)
            .then(result => {
                createToast(result.description, 'alert-success', 'message-content');
            })
            .catch(error => {
                createToastError(JSON.stringify(error.responseJSON.description));;
            });
        confirmUnConfirmRow($(this), 'confirm-courses-table', 'btn btn-danger unconfirm-courses', 'fa-close', 'Unconfirm');
    });


    $('#confirm-courses-table').on('click', '.unconfirm-courses', function(){

        let studentId = $('#student-data').data('student-id');
        let concentrationId = $(this).closest('tr').data('concentration-lid');
        let divisionBatchId = $(this).closest('tr').data('division-batch-lid');
        let bidPoints = $(this).closest('tr').data('bid-points');
        let isWinning = $(this).closest('tr').data('is-winning') == true ? 1 : 0;
        let isDropped = $(this).closest('tr').data('is-dropped') == true ? 1 : 0;
        let isWaitListed = $(this).closest('tr').data('is-waitlist') == true ? 1 : 0;
        let courseId = $(this).closest('tr').data('course-lid');
        let isConfirmed = 0;
        let roundId = $('h4.round-name').data('round-id');

        let confirmCourse = {
            student_lid: studentId,
            concentration_lid: concentrationId,
            div_batch_lid: divisionBatchId,
            bid_points: bidPoints,
            is_winning: isWinning,
            is_confirmed: isConfirmed,
            is_dropped: isDropped,
            is_waitlisted: isWaitListed,
            course_lid: courseId,
            round_lid: roundId
        };

        let ApiObj = {
            type: 'POST',
            url: '/student/confirmation/add-confirmation',
            data: {
                inputJson: JSON.stringify(confirmCourse)
            },
            dataType: 'JSON',
        };

        ajaxApi(ApiObj)
            .then(result => {
                createToast(result.description, 'alert-success', 'message-content');
            })
            .catch(error => {
                createToastError(JSON.stringify(error.responseJSON.description));;
            });
        confirmUnConfirmRow($(this), 'winning-course-table', 'btn btn-success confirm-courses', 'fa-check', 'Confirm')
    })

    function confirmUnConfirmRow(element, tableId, buttonClass, iconClass, buttonLabel) {

        let facultyId = $(element).closest('tr').data('faculty-id');
        let facultyName = $(element).closest('tr').data('faculty-name');
        let areaName = $(element).closest('tr').data('area-name');
        let acadSessionId = $(element).closest('tr').data('acad-session-id');
        let acadSession = $(element).closest('tr').data('acad-session');
        let courseName = $(element).closest('tr').data('course-name');
        let courseId = $(element).closest('tr').data('course-id');
        let credits = $(element).closest('tr').data('credits');
        let studentPoints = $(element).closest('tr').data('bid-points');
        let division = $(element).closest('tr').data('division');
        let concentrationId = $(element).closest('tr').data('concentration-lid');
        let divisionBatchId = $(element).closest('tr').data('division-batch-lid');
        let isDropped = $(element).closest('tr').data('is-dropped');
        let isWaitListed = $(element).closest('tr').data('is_waitlisted');
        let isWinning = $(element).closest('tr').data('is_winning');
        let courseLid = $(element).closest('tr').data('course-lid');
        let confirmaCourseTableLength = $('#confirm-courses-table tbody tr').length;

        let confirmaCourseRow = `<tr 
                                  data-faculty-id = "${facultyId}"  data-faculty-name = "${facultyName}" 
                                  data-area-name = "${areaName}" data-acad-session-id = "${acadSessionId}" 
                                  data-acad-session = "${acadSession}" data-course-name = "${courseName}" 
                                  data-course-id = "${courseId}" data-credits = "${credits}" 
                                  data-bid-points = "${studentPoints}" data-division = "${division}"
                                  data-concentration-lid = "${concentrationId}" data-division-batch-lid = "${divisionBatchId}" 
                                  data-is-dropped = "${isDropped}" data-is-waitlist = "${isWaitListed}"
                                  data-is-winning = "${isWinning}"  data-course-lid = "${courseLid}"
                                 > 
                                    <td>${++confirmaCourseTableLength}</td>
                                    <td>${areaName}</td>
                                    <td>${acadSession}</td>
                                    <td>${courseName}-${division}</td>
                                    <td>${facultyName}</td>
                                    <td>${credits}</td>
                                    <td>${studentPoints}</td>
                                    <td>
                                        <button class="${buttonClass}">
                                            <i class="me-1 fa-solid ${iconClass}"></i>${buttonLabel}
                                        </button>
                                    </td>
                                </tr>`;

    $(`#${tableId} tbody`).append(confirmaCourseRow);
    $(element).closest('tr').remove();
    }
    
    function updateConfirmationDetails(confirmationDetails) {
        const { startAndEndTime, confirmCourseList, winningCourseList } = confirmationDetails;
        const confirmCourseTable = $('#confirm-courses-table tbody');
        const winningCourseTable = $('#winning-course-table tbody');

        $('#start-time').html(startAndEndTime.startTime);
        $('#end-time').html(startAndEndTime.endTime);
        $('#confirm-courses-table tbody').empty();
        $('#winning-course-table tbody').empty();

        const appendCourseRow = (course, table) => {
            const count = table.find('tr').length + 1;
            const courseRow = `<tr>
                <td>${count}</td>
                <td>${course.area_name}</td>
                <td>${course.acad_session}</td>
                <td>${course.course_name}</td>
                <td>${course.faculty_name}</td>
                <td>${course.credits}</td>
                <td>${course.bid_points}</td>
            </tr>`;
            table.append(courseRow);
        };

        winningCourseList.forEach(course => appendCourseRow(course, winningCourseTable));
        confirmCourseList.forEach(course => appendCourseRow(course, confirmCourseTable));
    }

    function appendWinningCourseRows(winningCourseList) {

        let count = 1;
        let winningCourseRow = ``;
        $('#winning-course-table tbody').empty();

        for (let winningCourse of winningCourseList) {
            winningCourseRow = `
                <tr data-faculty-id="${winningCourse.faculty_id}" 
                    data-faculty-name="${winningCourse.faculty_name}" 
                    data-area-name="${winningCourse.area_name}"
                    data-acad-session-id="${winningCourse.sap_acad_session_id}" 
                    data-acad-session="${winningCourse.acad_session}" 
                    data-course-name="${winningCourse.course_name}"
                    data-course-id="${winningCourse.course_id}" 
                    data-credits="${winningCourse.credits}" 
                    data-bid-points="${winningCourse.bid_points}" 
                    data-division="${winningCourse.division}" 
                    data-concentration-lid="${winningCourse.concentration_lid}" 
                    data-division-batch-lid="${winningCourse.id}" 
                    data-is-dropped="${winningCourse.is_dropped}" 
                    data-is-waitlist="${winningCourse.is_waitlisted}" 
                    data-is-winning="${winningCourse.is_winning}" 
                    data-course-lid="${winningCourse.course_lid}"
                    data-round-id ="${winningCourse.round_lid}"
                >
                    <td>${count++}</td>
                    <td>${winningCourse.area_name}</td>
                    <td>${winningCourse.acad_session}</td>
                    <td>${winningCourse.course_name}-${winningCourse.division}</td>
                    <td>${winningCourse.faculty_name}</td>
                    <td>${winningCourse.credits}</td>
                    <td>${winningCourse.bid_points}</td>
                    <td><button class="btn btn-success confirm-courses me-1"><i class="fa-solid fa-check"></i> Confirm</button></td>
                </tr>`;
        }
        $('#winning-course-table tbody').append(winningCourseRow);
    }

    function generateConfirmCourseRows(confirmCourseList) {
        let confirmCourse = '';
        let count = 1;
        $('#winning-course-table tbody').empty();
        
        for (let confirmCourse of confirmCourseList) {
            confirmCourse += `
                <tr data-faculty-id="${confirmCourse.faculty_id}" 
                    data-faculty-name="${confirmCourse.faculty_name}" 
                    data-area-name="${confirmCourse.area_name}"
                    data-acad-session-id="${confirmCourse.sap_acad_session_id}" 
                    data-acad-session="${confirmCourse.acad_session}" 
                    data-course-name="${confirmCourse.course_name}"
                    data-course-id="${confirmCourse.course_id}" 
                    data-credits="${confirmCourse.credits}" 
                    data-bid-points="${confirmCourse.bid_points}" 
                    data-division="${confirmCourse.division}" 
                    data-concentration-lid="${confirmCourse.concentration_lid}" 
                    data-division-batch-lid="${confirmCourse.id}" 
                    data-is-dropped="${confirmCourse.is_dropped}" 
                    data-is-waitlist="${confirmCourse.is_waitlisted}" 
                    data-is-winning="${confirmCourse.is_winning}" 
                    data-course-lid="${confirmCourse.course_lid}"
                    data-round-id ="${confirmCourse.round_lid}"
                >
                    <td>${count++}</td>
                    <td>${confirmCourse.area_name}</td>
                    <td>${confirmCourse.acad_session}</td>
                    <td>${confirmCourse.course_name}-${confirmCourse.division}</td>
                    <td>${confirmCourse.faculty_name}</td>
                    <td>${confirmCourse.credits}</td>
                    <td>${confirmCourse.bid_points}</td>
                    <td><button class="btn btn-danger unconfirm-courses me-1"><i class="fa fa-close"></i> Unconfirm</button></td>
                </tr>
            `;
        }
        
        $('#confirm-courses-table tbody').append(confirmCourse);
    }




}); 
</script>

